<template>
  <q-page class="jobs-page q-mt-xl q-pt-xl">
    <div class="container">
      <BreadCrumbs :items="itemsBreadCrumbs" />
      <header class="section-header">
        <h1 class="section-title"><strong>Candidate</strong></h1>
        <p>You may send a message to the candidate through the form below.</p>
      </header>
      <article class="row q-col-gutter-lg q-mb-lg" padding>
        <AsideCandidate />
        <div class="col-12 col-md-8">
          <q-tabs
              v-model="tab"
              inline-label
              align="justify"
              indicator-color="purple"
            >
            <q-tab name="publicResume" icon="work" label="CV" />
            <q-tab name="publicBlog" icon="post_add" label="My articles" />
            <q-tab name="publicContact" icon="question_answer" label="Contact info" />
          </q-tabs>
          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="publicResume">
              <q-list separator>
                <q-btn icon="edit" flat to="/profile" class="q-my-lg" color="accent" label="Edit profile" />
                <q-item-label header>Identification</q-item-label>
                <q-item v-ripple><q-item-section avatar><q-icon class="text-grey-5" name="person" /></q-item-section><q-item-section><q-item-label><strong>Nome social ou Nome Completo</strong></q-item-label><q-item-label caption>Name</q-item-label></q-item-section></q-item>
                <q-item v-ripple><q-item-section avatar><q-icon class="text-grey-5" name="public" /></q-item-section><q-item-section><q-item-label>Cidade, Pais</q-item-label><q-item-label caption>Location</q-item-label></q-item-section></q-item>
                <q-item v-ripple><q-item-section avatar><q-icon class="text-grey-5" name="cake" /></q-item-section><q-item-section><q-item-label>27 de Janeiro</q-item-label><q-item-label caption>Date of birth</q-item-label></q-item-section></q-item>
                </q-list>
                <q-list separator>
                  <q-item-label header>Job experiences</q-item-label>
                  <q-item v-ripple><q-item-section><q-item-label><strong>Nome do Cargo</strong> &bull; company name</q-item-label><q-item-label caption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempora, mollitia officia maiores repellat quasi debitis provident suscipit iste vel! Voluptas doloremque quam eius quibusdam nisi architecto nulla veniam! Facere quis et illum error qui officia consequatur maxime, vero maiores laudantium quia natus quas ullam eligendi neque alias laborum laboriosam.</q-item-label></q-item-section></q-item>
                  <q-item v-ripple><q-item-section><q-item-label><strong>Nome do Cargo</strong> &bull; company name</q-item-label><q-item-label caption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempora, mollitia officia maiores repellat quasi debitis provident suscipit iste vel! Voluptas doloremque quam eius quibusdam nisi architecto nulla veniam! Facere quis et illum error qui officia consequatur maxime, vero maiores laudantium quia natus quas ullam eligendi neque alias laborum laboriosam.</q-item-label></q-item-section></q-item>
                  <q-item v-ripple><q-item-section><q-item-label><strong>Nome do Cargo</strong> &bull; company name</q-item-label><q-item-label caption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempora, mollitia officia maiores repellat quasi debitis provident suscipit iste vel! Voluptas doloremque quam eius quibusdam nisi architecto nulla veniam! Facere quis et illum error qui officia consequatur maxime, vero maiores laudantium quia natus quas ullam eligendi neque alias laborum laboriosam.</q-item-label></q-item-section></q-item>
                  <q-item v-ripple><q-item-section><q-item-label><strong>Nome do Cargo</strong> &bull; company name</q-item-label><q-item-label caption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempora, mollitia officia maiores repellat quasi debitis provident suscipit iste vel! Voluptas doloremque quam eius quibusdam nisi architecto nulla veniam! Facere quis et illum error qui officia consequatur maxime, vero maiores laudantium quia natus quas ullam eligendi neque alias laborum laboriosam.</q-item-label></q-item-section></q-item>
                </q-list>
                <q-list separator>
                  <q-item-label header>Education</q-item-label>
                  <q-item clickable v-ripple><q-item-section><q-item-label>Fundamental 1</q-item-label></q-item-section></q-item>
                  <q-item clickable v-ripple><q-item-section><q-item-label>Graduação</q-item-label><q-item-label caption>Tecnologia da Informação</q-item-label></q-item-section></q-item>
                </q-list>
                <q-list separator>
                  <q-item-label header>Language</q-item-label>
                  <q-item clickable v-ripple><q-item-section><q-item-label>Português</q-item-label><q-item-label caption>Nativo</q-item-label></q-item-section></q-item>
                  <q-item clickable v-ripple><q-item-section><q-item-label>Inglês</q-item-label><q-item-label caption>Fluente</q-item-label></q-item-section></q-item>
                  <q-item clickable v-ripple><q-item-section><q-item-label>Espanhol</q-item-label><q-item-label caption>Avançado</q-item-label></q-item-section></q-item>
                  <q-item clickable v-ripple><q-item-section><q-item-label>Francês</q-item-label><q-item-label caption>Intermediário</q-item-label></q-item-section></q-item>
                </q-list>
                <q-list separator>
                  <q-item-label header>Links</q-item-label>
                  <q-item to="https://www.behance.net" v-ripple><q-item-section avatar><q-icon class="text-grey-5"><i class="fab fa-behance"></i></q-icon></q-item-section><q-item-section><q-item-label>Behance</q-item-label><q-item-label caption>http://www.behance.net/</q-item-label></q-item-section></q-item>
                  <q-item to="https://www.facebook.com" v-ripple><q-item-section avatar><q-icon class="text-grey-5" ><i class="fab fa-facebook-f"></i></q-icon></q-item-section><q-item-section><q-item-label>Facebook</q-item-label><q-item-label caption>http://www.facebook.com</q-item-label></q-item-section></q-item>
                  <q-item to="https://www.twitter.com" v-ripple><q-item-section avatar><q-icon class="text-grey-5" ><i class="fab fa-twitter"></i></q-icon></q-item-section><q-item-section><q-item-label>Twitter</q-item-label><q-item-label caption>http://www.twitter.com</q-item-label></q-item-section></q-item>
                  <q-item to="https://www.instagram.com" v-ripple><q-item-section avatar><q-icon class="text-grey-5" ><i class="fab fa-instagram"></i></q-icon></q-item-section><q-item-section><q-item-label>Instagram</q-item-label><q-item-label caption>http://www.instagram.com</q-item-label></q-item-section></q-item>
                </q-list>
            </q-tab-panel>
            <q-tab-panel name="publicBlog">
              <q-btn to="/my-blog" class="q-my-lg" icon="post_add" flat color="accent" label="New article" />
              <div v-for="post in posts" :key="post.id" class="col-12 col-md-6 col-lg-4"><PostCardHorizontal :postData="post" /></div>
            </q-tab-panel>
            <q-tab-panel name="publicContact">
              <FormContact class="q-px-md q-py-xl" />
            </q-tab-panel>
          </q-tab-panels>
        </div>
      </article>
    </div>
  </q-page>
</template>

<script>
import { ref } from 'vue'
import BreadCrumbs from '../../components/BreadCrumbs.vue'
import FormContact from '../../components/FormContact.vue'
import AsideCandidate from '../../components/candidate/AsideCandidate.vue'
import PostCardHorizontal from '../../components/posts/PostCardHorizontal.vue'
export default {
  name: 'PublicCandidate',
  components: {
    AsideCandidate,
    PostCardHorizontal,
    FormContact,
    BreadCrumbs
  },
  setup () {
    return {
      tab: ref('publicResume')
    }
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: '/candidates',
          label: 'Candidate'
        },
        {
          link: null,
          label: 'Nome do Candidato'
        }
      ],
      posts: [
        {
          id: 1,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 2,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 3,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 4,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 5,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 6,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 7,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 8,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 9,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 10,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 11,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 12,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 13,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 14,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 15,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 16,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 17,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 18,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 19,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        },
        {
          id: 20,
          date: '01/01/2020',
          title: 'O que é ética profissional e qual sua importância? Entenda!',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae odio, explicabo mollitia temporibus maxime fugit nobis magnam facilis dicta sunt dolore esse distinctio? Sapiente harum itaque tempora sed nihil!'
        }
      ]
    }
  }
}
</script>
