
<template>
  <div class="related-posts">
    <q-list bordered separator>
      <q-item v-for="item in relatedPosts" :to="item.link" :key="item.link" clickable v-ripple>
        <q-item-section>
          <q-item-label class="text-justify">{{ item.caption }}</q-item-label>
          <q-item-label caption>{{ item.date }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
export default {
  name: 'RelatedPost',
  data () {
    return {
      relatedPosts: [
        {
          link: '/',
          caption: 'Item with caption',
          date: '05/05/2020'
        },
        {
          link: '/',
          caption: 'Item with caption',
          date: '05/05/2020'
        },
        {
          link: '/',
          caption: 'Item with caption',
          date: '05/05/2020'
        }
      ]
    }
  }
}
</script>
