<template>
  <q-card class="card-horizontal" bordered>
  <q-card-section>
    <div  class="row">
      <div class="q-pa-md col-12 col-md-8 card-horizontal-content">
        <q-btn to="/post" class="post-category" icon="archive" label="category name" size="sm" dense flat  />
        <h2 class="no-margin text-h5"><router-link to="/post">{{postData.title}}</router-link></h2>
        <!-- <p
          class="text-caption text-grey"
          v-html="post.text ? post.text : ''"
        ></p> -->
        <div class="row justify-between">
          <q-btn to="/post" :label="$t('postCardButtonReadMore')" :title="$t('postCardButtonReadMore')" flat size="md" color="primary" icon-right="arrow_right_alt" />
          <q-btn to="/post" :label="postData.date" flat size="md" icon="event" :title="$t('postCardDate')" />
        </div>
      </div>
      <q-img class="col-12 col-md" :src="image" role="img" :alt="post.postPhoto[0].description" />
    </div>
  </q-card-section>
  <q-separator color="grey-1" class="q-my-md" />
  <q-card-actions class="full-width row wrap justify-between q-mt-sm">
      <q-btn
        @click="navigatePost"
        :label="$t('postCardButtonReadMore')"
        :title="$t('postCardButtonReadMore')"
        flat
        size="md"
        color="primary"
        icon-right="arrow_right_alt"
      />
      <q-btn
        @click="navigatePost"
        :label="post.createdAt"
        flat
        size="md"
        icon="event"
        :title="$t('postCardDate')"
      />
    </q-card-actions>
</q-card>
</template>
<script>
export default {
  name: 'PostCardHorizontal',
  props: {
    postData: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      urlAPI: process.env.API + 'images/',
      image: '~assets/img/placeholder-image.png',
      post: {
        id: 0,
        date: '',
        postPhoto: [
          {
            url: ''
          }
        ],
        text: '',
        title: '',
        postCategory: {
          title: ''
        }
      }
    }
  },
  methods: {
    navigatePost (evt) {
      this.$router.push({ name: 'post', params: { id: this.postData.id } })
    },
    navigatePostsByUser (evt) {
      this.$router.push({ name: 'user-posts', params: { id: this.post.userId } })
    },
    navigateCategory (evt) {
      this.$router.push({ name: 'category-posts', params: { id: this.postData.postCategoryId } })
    },
    navigateEditPost (evt) {
      this.$router.push({ name: 'edit-article', params: { id: this.postData.id } })
    },
    removePost (id) {
      this.$q.dialog({
        title: 'Alert',
        message: 'Do you really want to remove? this action is irreversible.',
        cancel: true,
        persistent: true
      }).onOk(() => {
        const url = process.env.API + 'posts/' + id
        this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
        this.$axios.put(url, { active: false }).then(response => {
          this.$q.notify('Post removed successfully')
          this.$emit('update')
        }).catch(error => {
          console.log(error)
        })
      })
    }
  },
  beforeMount () {
    if (this.postData) {
      this.post = this.postData
      this.image = this.postData.postPhoto[0] ? this.postData.postPhoto[0].url : 'https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png'
      console.log(this.image)
    }
  }
}
</script>
