<template>
  <article class="col-12 col-md-6 col-lg-3 q-pa-sm row items-start post-card">
    <q-card class="cards full-width" flat bordered>
      <q-parallax
        role="img"
        loading="lazy"
        spinner-color="white"
        :height="250"
        title="Image title"
        :alt="post.postPhoto[0].description"
        :src="image"
      />

      <q-card-section>
        <q-btn
          @click="navigateCategory"
          class="post-category q-mb-2"
          icon="archive"
          :id="'post'"
          :label="post.postCategory.title"
          size="sm"
          dense
          aria-describedby="categoryHint"
          flat
          :title='$t("postArticleCategoryTitle")'
          >
        </q-btn>
        <q-btn dense size="sm" flat :title="$t('postArticleCategoryTitle')" class="post-author cursor-pointer" @click="navigatePostsByUser">
          <q-icon name="notes" class="q-mr-xs" />{{
            post.user?.name === "Umain" ? "RECOMMENDED BY " : $t("postArticleWriteBy")
          }}
          <strong>&nbsp;{{ post.user?.name }}</strong>
        </q-btn>
        <h2 class="no-margin text-h5">
          <router-link :to="`/post/${post.id}`">
            {{ post.title ? post.title : "" }}
          </router-link>
        </h2>
        <p
          class="text-caption text-grey"
          v-html="post.text ? post.text : ''"
        ></p>
      </q-card-section>
      <q-card-actions class="full-width row wrap justify-between q-mt-sm">
        <q-btn
          @click="navigatePost"
          :label="$t('postCardButtonReadMore')"
          :title="$t('postCardButtonReadMore')"
          flat
          size="md"
          color="primary"
          icon-right="arrow_right_alt"
        />
        <q-btn
          @click="navigatePost"
          :label="post.createdAt"
          flat
          size="md"
          icon="event"
          :title="$t('postCardDate')"
        />
      </q-card-actions>
      <q-separator color="grey-1" class="q-my-md" />
      <div v-if="$route.path === '/my-blog'" class="post-action q-mt-lg">
        <q-btn-group flat outline spread>
          <q-btn
            flat
            outline
            color="red"
            :label="$t('postCardButtonDelete')"
            @click="removePost(post.id)"
            icon="delete"
          />
          <q-btn
            flat
            outline
            color="accent"
            :label="$t('postCardButtonEdit')"
            icon="edit"
            @click="navigateEditPost"
          />
        </q-btn-group>
      </div>
    </q-card>
  </article>
</template>

<script>
export default {
  name: 'PostCard',
  data () {
    return {
      urlAPI: process.env.API + 'images/',
      image: '~assets/img/placeholder-image.png',
      post: {
        id: 0,
        date: '',
        postPhoto: [
          {
            url: ''
          }
        ],
        text: '',
        title: '',
        postCategory: {
          title: ''
        }
      }
    }
  },
  props: {
    postData: {
      type: Object,
      required: true
    }
  },
  methods: {
    navigatePost (evt) {
      this.$router.push({ name: 'post', params: { id: this.postData.id } })
    },
    navigatePostsByUser (evt) {
      this.$router.push({ name: 'user-posts', params: { id: this.post.userId } })
    },
    navigateCategory (evt) {
      this.$router.push({ name: 'category-posts', params: { id: this.postData.postCategoryId } })
    },
    navigateEditPost (evt) {
      this.$router.push({ name: 'edit-article', params: { id: this.postData.id } })
    },
    removePost (id) {
      this.$q.dialog({
        title: 'Alert',
        message: 'Do you really want to remove? this action is irreversible.',
        cancel: true,
        persistent: true
      }).onOk(() => {
        const url = process.env.API + 'posts/' + id
        this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
        this.$axios.put(url, { active: false }).then(response => {
          this.$q.notify('Post removed successfully')
          this.$emit('update')
        }).catch(error => {
          console.log(error)
        })
      })
    }
  },
  beforeMount () {
    if (this.postData) {
      this.post = this.postData
      // this.post.createdAt = this.postData.createdAt ? this.postData.createdAt.split('T')[0] : ''
      this.image = this.postData.postPhoto[0] ? this.postData.postPhoto[0].url : '~assets/img/placeholder-image.png'
      console.log(this.image)
    }
  }

}
</script>
