<template>
    <div>
        <q-btn v-if="queryFilter === ''" @click="$emit('updateFilter', '&userId=4')" color="accent" :label="$t('blogButtonUmainPublication')" />
        <q-btn v-else @click="$emit('updateFilter', '')" to="/blog" color="primary" flat  icon-right="arrow_right_alt" :label="$t('blogSectionButton')" />
        <!-- JADEMIR, COLOQUEI ESSE BOTAO PARA APARECER APENAS LOGADO, MAS NÃO TÁ FUNCIONANDO, EU CATEI OS CÓDIGO, MAS NÃO ROLOU -->
        <q-btn v-if="userLogged" to="/new-article" color="primary" flat  icon="post_add" :label="$t('blogButtonNewArticleLabel')" />
    </div>
</template>

<script>
export default {
  name: 'PostButtons',
  props: {
    queryFilter: String
  },
  data () {
    return {
      userLogged: false
    }
  },
  methods: {
    beforeMount () {
      if (window.sessionStorage.token) {
        this.userLogged = true
      }
    }
  }
}
</script>
