<template>
<div class="col-12 col-md-3 q-mb-xl">
  <aside class="post-aside q-py-lg rounded-borders">
    <strong class="aside-title">{{ $t('postAsideShareTitle') }}</strong>
    <SocialLinks :postTitle="postTitle" />
    <!-- <strong class="aside-title">{{ $t('postAsideRelatedContentTitle') }}</strong>
    <PostRelated /> -->
    <q-btn to="/blog" align="around" flat class="mx-auto " icon="arrow_back" :label="$t('postAsideButtonName')" />
  </aside>
</div>
</template>

<script>
import SocialLinks from '../SocialLinks.vue'
// import PostRelated from './PostRelated.vue'
export default {
  name: 'AsidePost',
  props: {
    postTitle: String
  },
  components: {
    SocialLinks
    // ,
    // PostRelated
  }
}
</script>
