.banner {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 0 1rem 4rem;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    display: block;
    width: 100%;

  }

  &:before {
    background-image: url(../assets/img/pexels-photo-3228726.jpeg);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  &:after {
    z-index: 0;
    background: #000;
    opacity: 0.3;
  }
}
