.blog {
  &-posts {}
}


.post {
  &-card {
    a {
      display: block;
      text-decoration: none;
      color: $dark;
    }

    .q-btn {
      padding: 0.5rem;
    }

    p {
      height: 100px;
      overflow: hidden;
      padding-left: 0;
      padding-right: 0;
      letter-spacing: 0;
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
