.company {
  &-container {
    position: relative;
    overflow: hidden;
    min-height: 800px;
    z-index: 1;
    color: #fff;
    text-align: center;
    .btn-new-company {
      margin-top: 1rem;
    }
    &:after,
    &:before {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      content: "";
    }
    &::after {
      z-index: -2;
      background: transparent center
        url(../assets/video/pexels-kindel-media-6774646.gif) no-repeat;
      background-size: cover;
    }

    &:before {
      z-index: -1;
      background: darken($primary, 25%);
      opacity: 0.85;
    }

    .container {
      &,
      & > * {
        z-index: 1;
      }

      .section-title {
        color: #fff;
      }
    }
  }
}
