@import "banner";
@import "blog";
@import "company";


.section {
  &-container {
    padding: 3rem 1rem;
  }

  &-title {
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    font-size: 2rem;
    line-height: 1.5;
    margin: 0 !important;
    padding: 0 !important;
  }
}
