<template>
  <q-page class="company-page">
    <q-img role="img" class="page-cover" alt="Soon" title="Soon" src="~assets/img/placeholder-image.png" fit="cover" :ratio="16/9" />
    <div class="container">
      <div class="full-width row wrap justify-center">
      <q-item v-ripple class="company-banner no-pointer-events">
        <q-item-section side>
        <q-avatar size="140px">
          <q-img role="img" src="~assets/img/placeholder-image.png" alt="Soon" loading="lazy" spinner-color="white" style="height: 140px" :ratio="1" />
        </q-avatar>
        </q-item-section>
        <q-item-section>
          <!-- <q-item-label class="q-pt-md" caption>{{openVacancies>0 ? `${openVacancies} open vacancies` : 'No open vacancies right now' }} </q-item-label> -->
          <q-item-label role="h1" class="text-bold text-h4">{{company.tradingName}}</q-item-label>
        </q-item-section>
      </q-item>
      </div>
      <div class="full-width row wrap justify-center q-pa-md">
        <q-btn class="" icon="edit" flat color="accent" :label="$t('profilePageButtonName1')" v-if="editable" to="/update-company" />
        <q-btn class="" icon="add" flat color="accent" label="new vacancy" v-if="editable" to="/add-job" />
      </div>
      <div class="q-pt-lg company-content">
        <CompanyTabs :company="company"></CompanyTabs>
      </div>
    </div>
  </q-page>
</template>

<script>
import CompanyTabs from '../../components/company/CompanyTab.vue'
export default {
  name: 'Company',
  components: {
    CompanyTabs
  },
  computed: {
    company () {
      return this.$store.state.company.companyData
    }
  },
  data () {
    return {
      editable: true,
      itemsBreadCrumbs: [
        {
          link: '/companies',
          label: 'Companies'
        },
        {
          link: null,
          label: 'company name'
        }
      ],
      openVacancies: 0
    }
  },
  created () {
    this.$store.dispatch('company/getCompanyByUserId', window.sessionStorage.userId)
  }
}
</script>
