<template>
  <q-page class="jobs-page q-mt-xl q-pt-xl">
    <div class="container">
      <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
      <header class="section-header q-px-md">
          <div class="full-width row wrap justify-between items-start content-start">
              <div>
                <h1 class="section-title"><strong>{{ $t('companyPageTitle') }}</strong></h1>
                <p>{{ $t('companyPageDescription') }}</p>
              </div>
              <!-- <q-btn v-if="userLogged" to="/new-company" color="primary" flat  icon-right="add" :label="$t('companyButtonNewCompanyLabel')" /> -->
          </div>
      </header>
      <div class="jobs-list q-pb-xl post-list full-width row wrap justify-start items-center content-center">
        <CompanyAvatar  v-for="company in companies" :key="company.id" :company="company" />
      </div>
    </div>
  </q-page>
</template>

<script>
import CompanyAvatar from '../../components/company/CompanyAvatar.vue'
import BreadCrumbs from '../../components/BreadCrumbs.vue'

export default {
  name: 'Companies',
  components: {
    CompanyAvatar,
    BreadCrumbs
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Companies'
        }
      ],
      userLogged: false,
      companies: []
    }
  },
  methods: {
    listCompanies () {
      const url = process.env.API + 'companies?includes=companyPhoto&active=true'
      this.$axios.get(url).then(response => {
        this.companies = (response.data)
      })
    }
  },
  beforeMount () {
    this.listCompanies()
    if (window.sessionStorage.userId) {
      this.userLogged = true
    }
  }
}
</script>
