<template>
 <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
      <div class="q-mx-md q-pa-md page-container-bg rounded-borders row">
        <header class="section-header full-width q-px-sm row wrap justify-between items-start content-start">
          <div>
            <h1 class="section-title">{{ $t('myCompanyPageTitle1') }} <strong>{{ $t('myCompanyPageTitle2') }}</strong></h1>
            <p>{{ $t('myCompanyPageDescription') }}</p>
          </div>
          <q-btn to="/new-company" color="primary" flat  icon-right="add" :label="$t('myCompanyPageButton')" />
        </header>
        <div class="q-pb-xl post-list full-width row wrap justify-around items-center content-center">
          <CompanyAvatar v-for="company in companies" :key="company.id" :company="company" />
        </div>
      </div>
 </q-page>
</template>

<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue'
import CompanyAvatar from '../../components/company/CompanyAvatar.vue'
export default {
  name: 'MyCompanies',
  components: {
    CompanyAvatar,
    BreadCrumbs
  },
  data () {
    return {
      companies: [],
      itemsBreadCrumbs: [
        {
          link: '/companies',
          label: 'Companies'
        },
        {
          link: null,
          label: 'My Companies'
        }
      ]
    }
  },
  methods: {
    listCompanies () {
      const url = process.env.API + 'companies?includes=companyPhoto&userId=' + window.sessionStorage.userId
      this.$axios.get(url).then(response => {
        this.companies = (response.data)
      })
    }
  },
  beforeMount () {
    this.listCompanies()
  }
}
</script>
