<template>
  <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
    <div class="q-mx-md rounded-borders page-container-bg q-pa-md">
        <header class="section-header full-width q-px-lg row wrap justify-between items-start content-start">
          <div>
            <h1 class="section-title">{{ $t('newCompanyPageTitle1') }} <strong>{{ $t('newCompanyPageTitle2') }}</strong></h1>
            <p>{{ $t('newCompanyPageDescription') }}</p>
          </div>
            <q-btn
              icon="save"
              flat
              color="accent"
              :label="$t('newCompanyPageButton')"
            />
        </header>
        <div class="row q-col-gutter-lg">
          <div class="col-12 col-md-3">
            <q-list bordered separator class="rounded-borders bg-white">
              <q-item v-ripple><q-item-section>{{ $t('newCompanyPageNavigationItem1') }}</q-item-section></q-item>
              <q-item v-ripple><q-item-section>{{ $t('newCompanyPageNavigationItem2') }}</q-item-section></q-item>
              <q-item v-ripple><q-item-section>{{ $t('newCompanyPageNavigationItem3') }}</q-item-section></q-item>
              <q-item v-ripple><q-item-section>{{ $t('newCompanyPageNavigationItem4') }}</q-item-section></q-item>
              <q-item v-ripple><q-item-section>{{ $t('newCompanyPageNavigationItem5') }}</q-item-section></q-item>
              <q-item v-ripple><q-item-section>{{ $t('newCompanyPageNavigationItem6') }}</q-item-section></q-item>
              <q-item v-ripple><q-item-section>{{ $t('newCompanyPageNavigationItem7') }}</q-item-section></q-item>
            </q-list>
          </div>
          <div class="col-12 col-md-9">
            <div class="rounded-borders q-pa-md bg-white">
              <h2 class="q-mt-none q-mb-xl text-h4">{{$t('companyTabsName1')}}</h2>
              <!-- IDENTIFICAÇÃO -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem1') }}</legend>
                <div class="q-col-gutter-md row">
                  <q-input
                    outlined
                    class="col-12"
                    color="accent"
                    v-model="company.name"
                    :label="$t('newCompanyPageFormInput1Label')"
                    :hint="$t('newCompanyPageFormInput1Hint')"
                    icon="business"
                  />
                  <div class="row col-12 col-md">
                    <!-- <div class="q-mb-md col-12 text-center">
                      <q-skeleton v-if="images.length === 0" class="block mx-auto" type="QAvatar" size="100px"  />
                      <q-avatar size="100px" v-else><img :src="urlAPI + images"></q-avatar>
                    </div> -->
                    <q-uploader
                      color="grey-3"
                      v-model="uploadAvatar"
                      class="col-12"
                      text-color="grey-9"
                      :url="urlUpload"
                      field-name="file"
                      accept=".png, .jpg, image/*"
                      :headers="headersUpload"
                      auto-upload
                      :label="$t('newCompanyPageFormInput2Label')"
                      @uploaded="addImage"
                    >
                    </q-uploader>
                    <q-input
                      outlined
                      class="q-mt-md col-12"
                      color="accent"
                      v-model="company.profile.audioDescription"
                      autogrow
                      :label="$t('newCompanyPageFormInput3Label')"
                      :hint="$t('newCompanyPageFormInput3Hint')"
                    />
                  </div>
                  <div class="row col-12 col-md">
                    <!-- <div class="q-mb-md col-12 text-center">
                      <q-skeleton class="block mx-auto" height="100px" width="250px"  />
                    </div> -->
                    <q-uploader
                      color="grey-3"
                      v-model="uploadAvatar"
                      class="col-12"
                      text-color="grey-9"
                      :url="urlUpload"
                      field-name="file"
                      accept=".png, .jpg, image/*"
                      :headers="headersUpload"
                      auto-upload
                      :label="$t('newCompanyPageFormInput16Label')"
                      @uploaded="addImage"
                      no-thumbnails
                    >
                    </q-uploader>
                    <q-input
                      outlined
                      class="q-mt-md col-12"
                      color="accent"
                      v-model="company.banner.audioDescription"
                      autogrow
                      :label="$t('newCompanyPageFormInput17Label')"
                      :hint="$t('newCompanyPageFormInput17Hint')"
                    />
                  </div>
                </div>
              </fieldset>
              <!-- DESCRIÇÃO -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem2') }}</legend>
                <q-editor
                  class="col-12"
                  v-model="company.description"
                  :dense="$q.screen.lt.md"
                  :toolbar="toolbarOptions"
                />
              </fieldset>
              <h2 class="q-mt-md q-mb-xl text-h4">{{$t('companyTabsName3')}}</h2>
              <!-- DETALHES -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem3') }}</legend>
                <div class="q-col-gutter-md row">
                  <q-select color="accent" class="col-12" outlined v-model="companytypemodel" :options="companytype" option-label="description" option-value="id" :label="$t('newCompanyPageFormInput4Label')" />
                  <q-select color="accent" class="col-12 col-md-6" outlined v-model="industrymodel" :options="industry" option-label="description" option-value="id" :label="$t('newCompanyPageFormInput5Label')" />
                  <q-select color="accent" class="col-12 col-md-6" outlined v-model="companysizemodel" :options="companysize" option-label="description" option-value="id" :label="$t('newCompanyPageFormInput6Label')" />
                </div>
              </fieldset>
              <!-- LOCALIZAÇÃO -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem4') }}</legend>
                <div class="q-col-gutter-md row">
                  <q-checkbox v-model="noaddress" color="accent" class="col-12" :label="$t('newCompanyPageFormInput7Label')" />
                  <q-select color="accent" class="col-12 col-md-6" outlined v-model="countrymodel" :options="country" :label="$t('newCompanyPageFormInput8Label')"/>
                  <div class="col-12"></div>
                  <q-input color="accent" class="col-12" outlined v-model="text" :label="$t('newCompanyPageFormInput9Label')" />
                  <q-input color="accent" class="col-12" outlined v-model="text" :label="$t('newCompanyPageFormInput10Label')" />
                  <q-input color="accent" class="col-12 col-md-5" outlined v-model="text" :label="$t('newCompanyPageFormInput11Label')" />
                  <q-input color="accent" class="col-12 col-md-4" outlined v-model="text" :label="$t('newCompanyPageFormInput12Label')" />
                  <q-input color="accent" class="col-12 col-md-3" min="0" outlined v-model.number="model" type="number" :label="$t('newCompanyPageFormInput13Label')" />
                </div>
              </fieldset>
              <!-- LINKS -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem5') }}</legend>
                  <div class="row q-col-gutter-lg">
                    <q-input class="q-mb-md col-12 col-md-4" color="accent" v-model="redes" multiple outlined :label="$t('newCompanyPageFormInput14Label')" :hint="$t('newCompanyPageFormInput14Hint')"/>
                    <q-input v-model="model" outlined class="q-mb-lg col-9 col-md-6" :label="$t('newCompanyPageFormInput15Label')" :hint="$t('newCompanyPageFormInput15Hint')"/>
                    <div class="col-3 text-center col-md">
                      <q-btn :title="$t('newCompanyPageFormInput15Button')" round color="purple" flat icon="add"/>
                    </div>
                  </div>
                  <q-list separator>
                    <q-item-label header>{{ $t('newCompanyPageList1') }}</q-item-label>
                    <q-item clickable v-ripple><q-item-section to="http://www.facebook.com"><q-item-label>Facebook</q-item-label><q-item-label caption>http://www.facebook.com</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" :title="$t('newCompanyPageList1ButtomTitle')" size="sm" flat icon="delete" /></q-item-section></q-item>
                    <q-item clickable v-ripple><q-item-section to="http://www.facebook.com"><q-item-label>Facebook</q-item-label><q-item-label caption>http://www.facebook.com</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" :title="$t('newCompanyPageList1ButtomTitle')" size="sm" flat icon="delete" /></q-item-section></q-item>
                    <q-item clickable v-ripple><q-item-section to="http://www.facebook.com"><q-item-label>Facebook</q-item-label><q-item-label caption>http://www.facebook.com</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" :title="$t('newCompanyPageList1ButtomTitle')" size="sm" flat icon="delete" /></q-item-section></q-item>
                    <q-item clickable v-ripple><q-item-section to="http://www.facebook.com"><q-item-label>Facebook</q-item-label><q-item-label caption>http://www.facebook.com</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" :title="$t('newCompanyPageList1ButtomTitle')" size="sm" flat icon="delete" /></q-item-section></q-item>
                  </q-list>
              </fieldset>
              <!-- ENVIRONMENTAL, SOCIAL AND GOVERNANCE -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem6') }}</legend>
                <div class="q-col-gutter-lg row">
                  <q-input class="col-12" v-model="company.socialResponsability" outlined autogrow color="accent" :label="$t('newCompanyPageFormInput18Label')" :hint="$t('newCompanyPageFormInput18Hint')"/>
                  <q-input class="col-12" v-model="company.diversity" outlined autogrow color="accent" :label="$t('newCompanyPageFormInput19Label')" :hint="$t('newCompanyPageFormInput19Hint')"/>
                  <q-input class="col-12" v-model="company.enviromentResponsibility" outlined autogrow color="accent" :label="$t('newCompanyPageFormInput20Label')" :hint="$t('newCompanyPageFormInput20Hint')"/>
                  <q-input class="col-12" v-model="company.disabilityInclusive" outlined autogrow color="accent" :label="$t('newCompanyPageFormInput21Label')" :hint="$t('newCompanyPageFormInput21Hint')"/>
                  <q-input class="col-12" v-model="company.jobProgression" outlined autogrow color="accent" :label="$t('newCompanyPageFormInput22Label')" :hint="$t('newCompanyPageFormInput22Hint')"/>
                  <q-input class="col-12 col-md" v-model="company.workHours" outlined autogrow color="accent" :label="$t('newCompanyPageFormInput23Label')" :hint="$t('newCompanyPageFormInput23Hint')"/>
                  <q-input class="col-12 col-md" v-model="company.workPlace" outlined autogrow color="accent" :label="$t('newCompanyPageFormInput24Label')" :hint="$t('newCompanyPageFormInput24Hint')"/>
                  <q-input class="col-12" v-model="company.anotherActions" outlined autogrow color="accent" :label="$t('newCompanyPageFormInput25Label')" :hint="$t('newCompanyPageFormInput25Hint')"/>
                </div>
              </fieldset>
              <h2 class="q-mt-none q-mb-xl text-h4">{{$t('companyTabsName2')}}</h2>
              <!-- SETORES -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem7') }}</legend>
                <div class="q-col-gutter-lg row">
                  <q-input class="col-12 col-md-12" v-model="text" outlined color="accent"
                  :label="$t('newCompanyPageFormInput26Label')" :hint="$t('newCompanyPageFormInput26Hint')"
                  />
                  <q-input class="col-12 col-md-4" v-model="text" outlined color="accent"
                  :label="$t('newCompanyPageFormInput27Label')" :hint="$t('newCompanyPageFormInput27Hint')"
                  />
                  <q-input class="col-12 col-md-4" v-model="text" outlined color="accent"
                  :label="$t('newCompanyPageFormInput28Label')" :hint="$t('newCompanyPageFormInput28Hint')"
                  />
                  <q-input class="col-12 col-md-4" v-model="text" outlined color="accent"
                  :label="$t('newCompanyPageFormInput29Label')" :hint="$t('newCompanyPageFormInput29Hint')"
                  />
                  <q-input class="col-12" v-model="text" outlined color="accent"
                  :label="$t('newCompanyPageFormInput30Label')" :hint="$t('newCompanyPageFormInput30Hint')"
                  />

                </div>
              </fieldset>
              <!-- PRÉ-REQUISITO -->
              <fieldset>
                <legend>{{ $t('newJobsPageNavigationItem2') }}</legend>
                  <q-editor
                  class="col-12"
                  v-model="company.description"
                  :dense="$q.screen.lt.md"
                  :toolbar="toolbarOptions"
                />
              </fieldset>
              <!-- DESCRIÇÃO -->
              <fieldset>
                <legend>{{ $t('newJobsPageNavigationItem3') }}</legend>
                  <q-editor
                  class="col-12"
                  v-model="company.description"
                  :dense="$q.screen.lt.md"
                  :toolbar="toolbarOptions"
                />
              </fieldset>
              <!-- BENEFÍCIOS -->
              <fieldset>
                <legend>{{ $t('newJobsPageNavigationItem4') }}</legend>
                  <q-editor
                  class="col-12"
                  v-model="company.description"
                  :dense="$q.screen.lt.md"
                  :toolbar="toolbarOptions"
                />
              </fieldset>
              <div class="col-12 text-center col-md">
                <q-btn :title="$t('newCompanyPageFormInput30Button')" color="accent" outline icon="save" :label="$t('newJobPageButtonLabel')"/> </div>
                <q-list class="full-width" separator>
                    <q-item-label header>{{$t('companyTabsName2')}}</q-item-label>
                    <q-item clickable v-ripple>
                      <q-item-section @click="showDialog">
                        <q-item-label><strong>Nome da Vaga</strong> &bull; Nome do Setor (Nome do responsável)</q-item-label>
                        <q-item-label caption>555 555 555 &mdash; email@nomedaempresa.com.br. Outras formas de contato.</q-item-label>
                        </q-item-section>
                        <q-item-section avatar>
                          <q-btn round color="red" :title="$t('newCompanyPageList2ButtomTitle')" size="sm" flat icon="delete" />
                        </q-item-section>
                      </q-item>
                </q-list>
              </div>
          </div>
        </div>
      </div>
<q-dialog v-model="fixed">
  <q-card>
    <q-card-section>
      <div class="text-h6">Terms of Agreement</div>
    </q-card-section>

    <q-separator />

    <q-card-section style="max-height: 50vh" class="scroll">
      <p v-for="n in 15" :key="n">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellendus sit voluptate voluptas eveniet porro. Rerum blanditiis perferendis totam, ea at omnis vel numquam exercitationem aut, natus minima, porro labore.</p>
    </q-card-section>

    <q-separator />

    <q-card-actions align="right">
      <q-btn flat label="Decline" color="primary" v-close-popup />
      <q-btn flat label="Accept" color="primary" v-close-popup />
    </q-card-actions>
  </q-card>
</q-dialog>
  </q-page>
</template>

<script>
import { useQuasar } from 'quasar'
import BreadCrumbs from '../../components/BreadCrumbs.vue'
export default {
  name: 'New Company',
  components: {
    BreadCrumbs
    // RichText
  },
  data () {
    return {
      urlAPI: process.env.API + 'images/',
      urlUpload: `${process.env.API}upload/images`,
      uploadAvatar: {},
      headersUpload: [
        { name: 'Authorization', value: sessionStorage.token }
      ],
      noaddress: false,
      companytypemodel: '',
      industrymodel: '',
      companysizemodel: '',
      countrymodel: '',
      industry: ['Accounting', 'Airlines/Aviation', 'Alternative Dispute Resolution', 'Alternative Medicine', 'Animation', 'Apparel & Fashion', 'Architecture & Planning', 'Arts & Crafts', 'Automotive', 'Aviation & Aerospace', 'Banking', 'Biotechnology', 'Broadcast Media', 'Building Materials', 'Business Supplies & Equipment', 'Capital Markets', 'Chemicals', 'Civic & Social Organization', 'Civil Engineering', 'Commercial Real Estate', 'Computer & Network Security', 'Computer Games', 'Computer Hardware', 'Computer Networking', 'Computer Software', 'Construction', 'Consumer Electronics', 'Consumer Goods', 'Consumer Services', 'Cosmetics', 'Dairy', 'Defense & Space', 'Design', 'E-learning', 'Education Management', 'Electrical & Electronic Manufacturing', 'Entertainment', 'Environmental Services', 'Events Services', 'Executive Office', 'Facilities Services', 'Farming', 'Financial Services', 'Fine Art', 'Fishery', 'Food & Beverages', 'Food Production', 'Fundraising', 'Furniture', 'Gambling & Casinos', 'Glass, Ceramics & Concrete', 'Government Administration', 'Government Relations', 'Graphic Design', 'Health, Wellness & Fitness', 'Higher Education', 'Hospital & Health Care', 'Hospitality', 'Human Resources', 'Import & Export', 'Individual & Family Services', 'Industrial Automation', 'Information Services', 'Information Technology & Services', 'Insurance', 'International Affairs', 'International Trade & Development', 'Internet', 'Investment Banking', 'Investment Management', 'Judiciary', 'Law Enforcement', 'Law Practice', 'Legal Services', 'Legislative Office', 'Leisure, Travel & Tourism', 'Libraries', 'Logistics & Supply Chain', 'Luxury Goods & Jewelry', 'Machinery', 'Management Consulting', 'Maritime', 'Marketing & Advertising', 'Market Research', 'Mechanical Or Industrial Engineering', 'Media Production', 'Medical Device', 'Medical Practice', 'Mental Health Care', 'Military', 'Mining & Metals', 'Mobile Games', 'Motion Pictures & Film', 'Museums & Institutions', 'Music', 'Nanotechnology', 'Newspapers', 'Non-profit Organization Management', 'Oil & Energy', 'Online Media', 'Outsourcing/Offshoring', 'Package/Freight Delivery', 'Packaging & Containers', 'Paper & Forest Products', 'Performing Arts', 'Pharmaceuticals', 'Philanthropy', 'Photography', 'Plastics', 'Political Organization', 'Primary/Secondary Education', 'Printing', 'Professional Training & Coaching', 'Program Development', 'Public Policy', 'Public Relations & Communications', 'Public Safety', 'Publishing', 'Railroad Manufacture', 'Ranching', 'Real Estate', 'Recreational Facilities & Services', 'Religious Institutions', 'Renewables & Environment', 'Research', 'Restaurants', 'Retail', 'Security & Investigations', 'Semiconductors', 'Shipbuilding', 'Sporting Goods', 'Sports', 'Staffing & Recruiting', 'Supermarkets', 'Telecommunications', 'Textiles', 'Think Tanks', 'Tobacco', 'Translation & Localization', 'Transportation/Trucking/Railroad', 'Utilities', 'Venture Capital & Private Equity', 'Veterinary', 'Warehousing', 'Wholesale', 'Wine & Spirits', 'Wireless', 'Writing & Editing'],
      companytype: [],
      // companytype: ['Educational', 'Government Agency', 'Non Profit', 'Partnership', 'Privately Held', 'Public Company', 'Self Employed', 'Self Owned'],
      companysize: ['0-1 employees', '2-10 employees', '11-50 employees', '51-200 employees', '201-500 employees', '501-1,000 employees', '1,001-5,000 employees', '5,001-10,000 employees', '10,001+ employees'],
      // companysize: ['0-1 employees', '2-10 employees', '11-50 employees', '51-200 employees', '201-500 employees', '501-1,000 employees', '1,001-5,000 employees', '5,001-10,000 employees', '10,001+ employees'],
      country: ['Afghanistan', 'Åland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Congo, The Democratic Republic of The', 'Cook Islands', 'Costa Rica', 'Cote D\'ivoire', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-bissau', 'Guyana', 'Haiti', 'Heard Island and Mcdonald Islands', 'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Democratic People\'s Republic of', 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', 'Lao People\'s Democratic Republic', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libyan Arab Jamahiriya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, The Former Yugoslav Republic of', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territory, Occupied', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Pierre and Miquelon', 'Saint Vincent and The Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and The South Sandwich Islands', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan (ROC)', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      skeletonTypes: ['QAvatar'],
      images: [],
      company: {
        description: '',
        socialResponsability: null,
        diversity: null,
        enviromentResponsibility: null,
        disabilityInclusive: null,
        jobProgression: null,
        workHours: null,
        workPlace: null,
        anotherActions: null,
        profile: {
          audioDescription: ''
        },
        banner: {
          audioDescription: ''
        },
        name: null
      },
      itemsBreadCrumbs: [
        {
          link: '/companies',
          label: 'Companies'
        },
        {
          link: '/my-companies',
          label: 'My Companies'
        },
        {
          link: null,
          label: 'New Companies'
        }
      ],
      toolbarOptions: [
        [
          {
            label: this.$q.lang.editor.align,
            icon: this.$q.iconSet.editor.align,
            fixedLabel: true,
            options: ['left', 'center', 'right', 'justify']
          }
        ],
        ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
        ['token', 'hr', 'link', 'custom_btn'],
        [
          {
            label: this.$q.lang.editor.formatting,
            icon: this.$q.iconSet.editor.formatting,
            list: 'no-icons',
            options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code']
          },
          {
            label: this.$q.lang.editor.fontSize,
            icon: this.$q.iconSet.editor.fontSize,
            fixedLabel: true,
            fixedIcon: true,
            list: 'no-icons',
            options: [
              'size-1',
              'size-2',
              'size-3',
              'size-4',
              'size-5',
              'size-6',
              'size-7'
            ]
          },
          'removeFormat'
        ],
        ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
        ['undo', 'redo'],
        ['fullscreen']
      ]
    }
  },
  methods: {
    addImage ({ files }) {
      this.images = JSON.parse(files[0].xhr.response).filename
    },
    updateDescription (value) {
      console.log(value)
    },
    listCompanyTypes () {
      const url = process.env.API + 'company-types'
      this.$axios.get(url).then(response => {
        this.companytype = response.data
      })
    },
    listCompanySize () {
      const url = process.env.API + 'number-employees'
      this.$axios.get(url).then(response => {
        this.companysize = response.data
      })
    }
  },
  beforeMount () {
    this.listCompanyTypes()
    this.listCompanySize()
  },
  setup () {
    const $q = useQuasar()

    return {
      showDialog () {
        $q.dialog({
          title: '<strong>Nome da Vaga</strong> <br><small>Nome do Setor (Nome do responsável)<small>',
          message: '<p style="font-size:1.215rem; font-weight: bold">:$t("newJobsPageNavigationItem2")> / REQUIREMENT</p> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet eget tortor id pharetra. Vivamus sodales tincidunt elementum. Mauris id ex non lacus tempor cursus sed non diam. Nam ac urna tortor. Nulla ullamcorper mauris nibh, ac volutpat augue tempor at. Praesent felis libero, luctus ut nunc vel, dapibus tempus orci. Morbi ullamcorper ac tellus tristique commodo. Aliquam iaculis imperdiet velit, ut tincidunt risus feugiat sed. Maecenas volutpat condimentum elit, sed varius ligula. Aenean et neque placerat, aliquam purus ac, feugiat nunc.</p><hr><p style="font-size:1.215rem; font-weight: bold"> $t("newJobsPageNavigationItem3")</p> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet eget tortor id pharetra. Vivamus sodales tincidunt elementum. Mauris id ex non lacus tempor cursus sed non diam. Nam ac urna tortor. Nulla ullamcorper mauris nibh, ac volutpat augue tempor at. Praesent felis libero, luctus ut nunc vel, dapibus tempus orci. Morbi ullamcorper ac tellus tristique commodo. Aliquam iaculis imperdiet velit, ut tincidunt risus feugiat sed. Maecenas volutpat condimentum elit, sed varius ligula. Aenean et neque placerat, aliquam purus ac, feugiat nunc.</p><hr><p style="font-size:1.215rem; font-weight: bold"> $t("newJobsPageNavigationItem3")</p> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet eget tortor id pharetra. Vivamus sodales tincidunt elementum. Mauris id ex non lacus tempor cursus sed non diam. Nam ac urna tortor. Nulla ullamcorper mauris nibh, ac volutpat augue tempor at. Praesent felis libero, luctus ut nunc vel, dapibus tempus orci. Morbi ullamcorper ac tellus tristique commodo. Aliquam iaculis imperdiet velit, ut tincidunt risus feugiat sed. Maecenas volutpat condimentum elit, sed varius ligula. Aenean et neque placerat, aliquam purus ac, feugiat nunc.</p><hr>',
          html: true
        }).onOk(() => {
          // console.log('OK')
        }).onCancel(() => {
          // console.log('Cancel')
        }).onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        })
      }
    }
  }
}
</script>
