<template>
  <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
    <div class="q-mx-md rounded-borders page-container-bg q-pa-md">
        <header class="section-header full-width q-px-lg row wrap justify-between items-start content-start">
          <div>
            <h1 class="section-title">{{ $t('editCompanyPageTitle1') }}</h1>
            <p>{{ $t('newCompanyPageDescription') }}</p>
          </div>
            <q-btn
              icon="save"
              flat
              color="accent"
              :label="$t('newCompanyPageButton')"
              @click="updateCompany"
            />
            <!-- Jademir, esse é o botão de excluir empresa -->
            <q-btn
              icon="delete"
              flat
              color="accent"
              :label="$t('newCompanyPageButtonDelete')"
              @click="updateCompany"
            />
        </header>
        <div class="row q-col-gutter-lg">
          <div class="col-12">
            <div class="rounded-borders q-pa-md bg-white">
              <!-- IDENTIFICAÇÃO -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem1') }}</legend>
                <div class="q-col-gutter-md row">
                  <q-input
                    outlined
                    class="col-12"
                    color="accent"
                    v-model="company.tradingName"
                    :label="$t('newCompanyPageFormInput1Label')"
                    :hint="$t('newCompanyPageFormInput1Hint')"
                    icon="business"
                  />
                  <div class="row col-12 col-md">
                    <!-- <div class="q-mb-md col-12 text-center">
                      <q-skeleton v-if="images.length === 0" class="block mx-auto" type="QAvatar" size="100px"  />
                      <q-avatar size="100px" v-else><img :src="urlAPI + images"></q-avatar>
                    </div> -->
                    <q-uploader
                      color="grey-3"
                      v-model="uploadAvatar.url"
                      class="col-12"
                      text-color="grey-9"
                      :url="urlUpload"
                      field-name="file"
                      accept=".png, .jpg, image/*"
                      :headers="headersUpload"
                      auto-upload
                      :label="$t('newCompanyPageFormInput2Label')"
                      @uploaded="addProfileImage"
                    >
                    </q-uploader>
                    <q-input
                      outlined
                      class="q-mt-md col-12"
                      color="accent"
                      v-model="uploadAvatar.description"
                      autogrow
                      :label="$t('newCompanyPageFormInput3Label')"
                      :hint="$t('newCompanyPageFormInput3Hint')"
                      @change="(value) => $store.commit('company/setProfileDescription', value)"
                    />
                  </div>
                  <div class="row col-12 col-md">
                    <!-- <div class="q-mb-md col-12 text-center">
                      <q-skeleton class="block mx-auto" height="100px" width="250px"  />
                    </div> -->
                    <q-uploader
                      color="grey-3"
                      v-model="uploadCover.url"
                      class="col-12"
                      text-color="grey-9"
                      :url="urlUpload"
                      field-name="file"
                      accept=".png, .jpg, image/*"
                      :headers="headersUpload"
                      auto-upload
                      :label="$t('newCompanyPageFormInput16Label')"
                      @uploaded="addCoverImage"
                    >
                    </q-uploader>
                    <q-input
                      outlined
                      class="q-mt-md col-12"
                      color="accent"
                      v-model="uploadCover.description"
                      autogrow
                      :label="$t('newCompanyPageFormInput17Label')"
                      :hint="$t('newCompanyPageFormInput17Hint')"
                      @change="(value) => $store.commit('company/setCoverDescription', value)"
                    />
                  </div>
                </div>
              </fieldset>
              <!-- DESCRIÇÃO -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem2') }}</legend>
                <div class="row">
                  <q-editor
                    class="col-12"
                    v-model="company.about"
                    :dense="$q.screen.lt.md"
                    :toolbar="toolbarOptions"
                    @blur="() => $store.commit('company/updateGenericField', ['about', company.about])"
                  />
                </div>
              </fieldset>
              <!-- DETALHES -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem3') }}</legend>
                <div class="q-col-gutter-md row">
                  <q-select color="accent" class="col-12" outlined v-model="company.companyType" :options="companytype" option-label="description" option-value="id" :label="$t('newCompanyPageFormInput4Label')" />
                  <!-- <q-select color="accent" class="col-12 col-md-6" outlined v-model="industrymodel" :options="industry" option-label="description" option-value="id" :label="$t('newCompanyPageFormInput5Label')" /> -->
                  <q-select color="accent" class="col-12 col-md-6" outlined v-model="company.numberEmployees" :options="companysize" option-label="description" option-value="id" :label="$t('newCompanyPageFormInput6Label')" />
                </div>
              </fieldset>
              <!-- LOCALIZAÇÃO -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem4') }}</legend>
                <div class="q-col-gutter-md row">
                  <q-checkbox v-model="noaddress" color="accent" class="col-12" :label="$t('newCompanyPageFormInput7Label')" />
                  <template v-if="!noaddress">
                    <q-select
                      color="accent"
                      class="col-12 col-md-6"
                      outlined
                      v-model="country"
                      :options="countryOptions"
                      option-label="name"
                      option-value="id"
                      :label="$t('newCompanyPageFormInput8Label')"
                    />
                    <div class="col-12"></div>
                    <q-input color="accent" class="col-12" outlined v-model="companyAddress.description" :label="$t('newCompanyPageFormInput9Label')" />
                    <q-input color="accent" class="col-12 col-md-5" outlined v-model="companyAddress.city" :label="$t('newCompanyPageFormInput11Label')" />
                    <q-input color="accent" class="col-12 col-md-4" outlined v-model="companyAddress.state" :label="$t('newCompanyPageFormInput12Label')" />
                    <q-input color="accent" class="col-12 col-md-3" min="0" outlined v-model="companyAddress.postalCode" type="number" :label="$t('newCompanyPageFormInput13Label')" />
                  </template>
                </div>
              </fieldset>
              <!-- companyLINKS -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem5') }}</legend>
                  <div class="row q-col-gutter-lg">
                    <q-input class="q-mb-md col-12 col-md-4" color="accent" v-model="newLink.socialMedia" multiple outlined :label="$t('newCompanyPageFormInput14Label')" :hint="$t('newCompanyPageFormInput14Hint')"/>
                    <q-input v-model="newLink.link" outlined class="q-mb-lg col-9 col-md-6" :label="$t('newCompanyPageFormInput15Label')" :hint="$t('newCompanyPageFormInput15Hint')"/>
                    <div class="col-3 text-center col-md">
                      <q-btn :title="$t('newCompanyPageFormInput15Button')" round color="purple" @click="addLink" flat icon="add"/>
                    </div>
                  </div>
                  <q-list separator>
                    <q-item-label header>{{ $t('newCompanyPageList1') }}</q-item-label>
                    <q-item clickable v-ripple v-for="link in company.companyLinks" :key="link.url">
                      <q-item-section>
                        <q-item-label>{{link.socialMedia}}</q-item-label>
                        <q-item-label caption>{{ link.link }}</q-item-label>
                      </q-item-section>
                      <q-item-section avatar>
                        <q-btn round color="red" :title="$t('newCompanyPageList1ButtomTitle')" size="sm" flat icon="delete" />
                      </q-item-section>
                    </q-item>
                  </q-list>
              </fieldset>
              <!-- ENVIRONMENTAL, SOCIAL AND GOVERNANCE -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem6') }}</legend>
                <legend>{{ $t('newCompanyPageFormInput18Label') }}</legend>
                <div class="col-12 row">
                  <q-editor
                    class="col-12"
                    v-model="company.socialResponsability"
                    :dense="$q.screen.lt.md"
                    :toolbar="toolbarOptions"
                  />
                </div>
                <legend>{{ $t('newCompanyPageFormInput19Label') }}</legend>
                <div class="col-12 row">
                  <q-editor
                    class="col-12"
                    v-model="company.diversityCommittee"
                    :dense="$q.screen.lt.md"
                    :toolbar="toolbarOptions"
                  />
                </div>
                <legend>{{ $t('newCompanyPageFormInput20Label') }}</legend>
                <div class="col-12 row">
                  <q-editor
                    class="col-12"
                    v-model="company.environmentalResponsibility"
                    :dense="$q.screen.lt.md"
                    :toolbar="toolbarOptions"
                  />
                </div>
                <legend>{{ $t('newCompanyPageFormInput21Label') }}</legend>
                <div class="col-12 row">
                  <q-editor
                    class="col-12"
                    v-model="company.phisicalAndCommunicationalAccessibility"
                    :dense="$q.screen.lt.md"
                    :toolbar="toolbarOptions"
                  />
                </div>
                <legend>{{ $t('newCompanyPageFormInput22Label') }}</legend>
                <div class="col-12 row">
                  <q-editor
                    class="col-12"
                    v-model="company.jobProgression"
                    :dense="$q.screen.lt.md"
                    :toolbar="toolbarOptions"
                  />
                </div>
                <legend>{{ $t('newCompanyPageFormInput23Label') }}</legend>
                <div class="col-12 row">
                  <q-editor
                    class="col-12"
                    v-model="company.flexWorkTime"
                    :dense="$q.screen.lt.md"
                    :toolbar="toolbarOptions"
                  />
                </div>
                <legend>{{ $t('newCompanyPageFormInput24Label') }}</legend>
                <div class="col-12 row">
                  <q-editor
                    class="col-12"
                    v-model="company.flexWorkPlace"
                    :dense="$q.screen.lt.md"
                    :toolbar="toolbarOptions"
                  />
                </div>
                <legend>{{ $t('newCompanyPageFormInput25Label') }}</legend>
                <div class="col-12 row">
                  <q-editor
                    class="col-12"
                    v-model="company.anotherProgramsOrActions"
                    :dense="$q.screen.lt.md"
                    :toolbar="toolbarOptions"
                  />
                </div>
              </fieldset>

              <!-- SETORES -->
              <fieldset>
                <legend>{{ $t('newCompanyPageNavigationItem7') }}</legend>
                <div class="q-col-gutter-lg row">
                  <q-input class="col-12 col-md-12" v-model="newDepartment.department" outlined color="accent"
                  :label="$t('newCompanyPageFormInput26Label')" :hint="$t('newCompanyPageFormInput26Hint')"
                  />
                  <q-input class="col-12 col-md-4" v-model="newDepartment.responsible" outlined color="accent"
                  :label="$t('newCompanyPageFormInput27Label')" :hint="$t('newCompanyPageFormInput27Hint')"
                  />
                  <q-input class="col-12 col-md-4" v-model="newDepartment.email" outlined color="accent"
                  :label="$t('newCompanyPageFormInput28Label')" :hint="$t('newCompanyPageFormInput28Hint')"
                  />
                  <q-input class="col-12 col-md-4" v-model="newDepartment.phone" outlined color="accent"
                  :label="$t('newCompanyPageFormInput29Label')" :hint="$t('newCompanyPageFormInput29Hint')"
                  />
                  <div class="col-3 text-right col-md">
                    <q-btn :title="$t('newCompanyPageFormInput15Button')" color="purple" @click="addDepartment" flat icon="add" label="add department"/>
                  </div>
                  <!-- <q-input class="col-12 col-md-9" v-model="text" outlined color="accent"
                  :label="$t('newCompanyPageFormInput30Label')" :hint="$t('newCompanyPageFormInput30Hint')"
                  />
                  <div class="col-12 col-md-3 text-center col-md"> <q-btn :title="$t('newCompanyPageFormInput30Button')" round color="purple" flat icon="add" /> </div> -->
                  <q-list class="full-width" separator>
                    <q-item-label header>Departments</q-item-label>
                    <q-item clickable v-ripple v-for="(department, index) in company.companyDepartments" :key="`department-${index}`">
                      <q-item-section>
                        <q-item-label>{{ department.department }}</q-item-label>
                        <q-item-label caption>{{department.phone}} &mdash; {{department.email}}.</q-item-label>
                      </q-item-section>
                      <q-item-section avatar>
                        <q-btn round color="red" :title="$t('newCompanyPageList2ButtomTitle')" size="sm" flat icon="delete" />
                      </q-item-section>
                    </q-item>
                  </q-list>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
  </q-page>
</template>

<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue'
export default {
  name: 'UpdateCompany',
  components: {
    BreadCrumbs
    // RichText
  },
  computed: {
    companyData () {
      return this.$store.state.company.companyData
    }
  },
  data () {
    return {
      urlAPI: process.env.API + 'images/',
      urlUpload: `${process.env.API}upload/images`,
      uploadAvatar: {
        url: '',
        description: ''
      },
      uploadCover: {
        url: '',
        description: ''
      },
      headersUpload: [
        { name: 'Authorization', value: sessionStorage.token }
      ],
      newLink: {
        title: '',
        url: ''
      },
      companyLinks: [],
      noaddress: false,
      address1: '',
      address2: '',
      city: '',
      state: '',
      postalCode: '',
      companytypemodel: '',
      industrymodel: '',
      companysizemodel: '',
      country: '',
      industry: [],
      companytype: [],
      // companytype: ['Educational', 'Government Agency', 'Non Profit', 'Partnership', 'Privately Held', 'Public Company', 'Self Employed', 'Self Owned'],
      companysize: [],
      countryOptions: [],
      // companysize: ['0-1 employees', '2-10 employees', '11-50 employees', '51-200 employees', '201-500 employees', '501-1,000 employees', '1,001-5,000 employees', '5,001-10,000 employees', '10,001+ employees'],
      skeletonTypes: ['QAvatar'],
      images: [],
      departments: [],
      newDepartment: {
        title: '',
        responsibleName: '',
        email: '',
        phone: ''
      },
      companyAddress: {},
      company: {
        about: '',
        numberEmployees: '',
        socialResponsability: '',
        diversityCommittee: '',
        environmentalResponsibility: '',
        phisicalAndCommunicationalAccessibility: '',
        jobProgression: '',
        flexWorkTime: '',
        flexWorkPlace: '',
        anotherProgramsOrActions: '',
        companyPhoto: []
      },
      itemsBreadCrumbs: [
        {
          link: '/companies',
          label: 'Companies'
        },
        {
          link: '/my-companies',
          label: 'My Companies'
        },
        {
          link: null,
          label: 'New Companies'
        }
      ],
      toolbarOptions: [
        [
          {
            label: this.$q.lang.editor.align,
            icon: this.$q.iconSet.editor.align,
            fixedLabel: true,
            options: ['left', 'center', 'right', 'justify']
          }
        ],
        ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
        ['token', 'hr', 'link', 'custom_btn'],
        [
          {
            label: this.$q.lang.editor.formatting,
            icon: this.$q.iconSet.editor.formatting,
            list: 'no-icons',
            options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code']
          },
          {
            label: this.$q.lang.editor.fontSize,
            icon: this.$q.iconSet.editor.fontSize,
            fixedLabel: true,
            fixedIcon: true,
            list: 'no-icons',
            options: [
              'size-1',
              'size-2',
              'size-3',
              'size-4',
              'size-5',
              'size-6',
              'size-7'
            ]
          },
          'removeFormat'
        ],
        ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
        ['undo', 'redo'],
        ['fullscreen']
      ]
    }
  },
  methods: {
    addLink () {
      this.$store.commit('company/addLink', { socialMedia: this.newLink.socialMedia, link: this.newLink.link })
    },
    addDepartment () {
      this.$store.commit('company/addDepartment', this.newDepartment)
    },
    addProfileImage ({ files }) {
      this.uploadAvatar.url = JSON.parse(files[0].xhr.response).filename
      // this.$store.commit('company/setProfileUrl', this.uploadAvatar.url)
    },
    addCoverImage ({ files }) {
      this.uploadCover.url = JSON.parse(files[0].xhr.response).filename
      // this.$store.commit('company/setCoverUrl', this.uploadCover.url)
    },
    updateDescription (value) {
      console.log(value)
    },
    listCompanyTypes () {
      const url = process.env.API + 'company-types'
      this.$axios.get(url).then(response => {
        this.companytype = response.data
      })
    },
    listCountries () {
      const url = process.env.API + 'countries'
      this.$axios.get(url).then(response => {
        this.countryOptions = response.data
      })
    },
    listActivityType () {
      const url = process.env.API + 'activity-types'
      this.$axios.get(url).then(response => {
        this.industry = response.data
      })
    },
    listCompanySize () {
      const url = process.env.API + 'number-employees'
      this.$axios.get(url).then(response => {
        this.companysize = response.data
      })
    },
    updateCompany () {
      const url = process.env.API + 'companies/' + this.company.id
      this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
      this.$store.commit('company/setProfile', this.uploadAvatar)
      this.$store.commit('company/setCover', this.uploadCover)
      this.company.companyTypeId = this.company.companyType.id
      this.company.numberEmployeesId = this.company.numberEmployees.id
      if (this.noaddress) {
        if (this.companyAddress.id) {
          this.company.companyAddress = this.companyAddress
          this.company.companyAddress.active = false
        } else {
          this.company.companyAddress = null
        }
      } else {
        if (this.companyAddress.countryId) {
          this.companyAddress.countryId = this.country.id
          this.company.companyAddress = this.companyAddress
        } else {
          this.companyAddress.countryId = 1
        }
      }
      this.$axios.put(url, this.company).then(response => {
        this.$q.notify('Company successfully updated')
        const uri = '/company'
        this.$router.push(uri)
      }).catch(error => {
        console.log(error)
      })
    },
    getAddressByUserId () {
      const url = process.env.API + 'users/' + window.sessionStorage.userId + '?includes=userAddress'
      this.$axios.get(url).then(response => {
        this.companyAddress = response.data.userAddress || {}
      }).catch(error => {
        console.log(error)
      })
    }
  },
  created () {
    this.listCompanyTypes()
    this.listActivityType()
    this.listCompanySize()
    this.listCountries()
    this.getAddressByUserId()
  },
  beforeMount () {
    this.company = { ...this.$store.state.company.companyData }
    this.companyAddress = { ...this.$store.state.company.companyData.companyAddress }
    this.company.companyType = { ...this.$store.state.company.companyData.companyType }
  }
}
</script>
