<template>
  <div class="q-pa-md">
    <q-carousel v-model="slide" transition-prev="scale" transition-next="scale" swipeable animated control-color="white" navigation padding arrows >
      <q-carousel-slide name="style" class="column no-wrap flex-center">
        <div class="q-mt-md text-center">
          <q-icon name="format_quote" :title="$t('companyTestimonialsIconName')" tabindex="-2" class="q-pb-md" size="xl" />
          <p>{{ lorem1 }}</p>
          <p><i>&mdash; person name, company name</i></p>
        </div>
      </q-carousel-slide>
      <q-carousel-slide name="tv" class="column no-wrap flex-center">
        <div class="q-mt-md text-center">
          <q-icon name="format_quote" :title="$t('companyTestimonialsIconName')" tabindex="-2" class="q-pb-md" size="xl" />
          <p>{{ lorem2 }}</p>
          <p><i>&mdash; person name, company name</i></p>
        </div>
      </q-carousel-slide>
      <q-carousel-slide name="layers" class="column no-wrap flex-center">
        <div class="q-mt-md text-center">
          <q-icon name="format_quote" :title="$t('companyTestimonialsIconName')" tabindex="-2" class="q-pb-md" size="xl" />
          <p>{{ lorem3 }}</p>
          <p><i>&mdash; person name, company name</i></p>
        </div>
        </q-carousel-slide>
      <q-carousel-slide name="map" class="column no-wrap flex-center">
        <div class="q-mt-md text-center">
          <q-icon name="format_quote" :title="$t('companyTestimonialsIconName')" tabindex="-2" class="q-pb-md" size="xl" />
          <p>{{ lorem4 }}</p>
          <p><i>&mdash; person name, company name</i></p>
        </div>
      </q-carousel-slide>
    </q-carousel>
    <!-- jADEMIR, SE PUDER POE UM TITLE NESSES PASSADORES... TIPO 1 DE 4, 2 DE 2, 3 DE 4...
    <div class="row justify-center">
      <q-btn-toggle
        glossy
        v-model="slide"
        :options="[
          { label: 1, title: '1',value: 'style' },
          { label: 2, title: '2',value: 'tv' },
          { label: 3, title: '3',value: 'layers' },
          { label: 4, title: '4',value: 'map' }
        ]"
      />
  </div> -->
  </div>
</template>

<script>
import { ref } from 'vue'
export default {
  name: 'CompanyTestimonials',
  setup () {
    return {
      controlType: ref('flat'),
      controlTypeOptions: [
        { title: '1', value: 'regular', label: 'regular' },
        { title: '1', value: 'unelevated', label: 'unelevated' },
        { title: '1', value: 'flat', label: 'flat (default)' },
        { title: '1', value: 'outline', label: 'outline' },
        { title: '1', value: 'push', label: 'push' }
      ],

      slide: ref('style'),
      lorem1: 'Just waiting for you.',
      lorem2: 'Join us.',
      lorem3: 'Become our partner.',
      lorem4: 'Now it\'s your turn.'
    }
  }
}
</script>
