<template>
  <aside class="ranking-companies">
    <q-card class="card">
      <h2 class="card-title no-padding">
        {{ $t('companyCardCompaniesRankingTitle') }}
      </h2>
      <p class="q-py-md q-mb-none q-px-none">
        {{ $t('companyCardCompaniesRankingDescription') }}
        </p>
      <q-card-section class="full-width row wrap justify-center items-center content-center">
        <CompanyAvatar v-for="company in companies" :key="company.id" :company="company" />
      </q-card-section>
    </q-card>
  </aside>
</template>

<script>
import CompanyAvatar from './CompanyAvatar.vue'
export default {
  name: 'CompaniesRanking',
  components: {
    CompanyAvatar
  },
  data () {
    return {
      companies: []
    }
  },
  methods: {
    listCompanies () {
      const url = process.env.API + 'companies?includes=companyPhoto&active=true'
      this.$axios.get(url).then(response => {
        this.companies = (response.data)
      })
    }
  },
  beforeMount () {
    this.listCompanies()
  }
}
</script>
