<template>
  <q-list separator class="rounded-borders">
    <q-item no-pointer-events v-ripple>
      <q-item-section>
        <q-item-label caption>{{ $t('companyInfoLabel3') }}</q-item-label>
        <q-item-label>Soon</q-item-label>
      </q-item-section>
    </q-item>
    <!-- <q-item no-pointer-events v-ripple>
      <q-item-section>
        <q-item-label caption>{{ $t('companyInfoLabel3') }}</q-item-label>
        <q-item-label>Empresa privada</q-item-label>
      </q-item-section>
    </q-item>
    <q-item no-pointer-events v-ripple>
      <q-item-section>
        <q-item-label caption>{{ $t('companyInfoLabel2') }}</q-item-label>
        <q-item-label>Desenvolvimento de Software</q-item-label>
      </q-item-section>
    </q-item>
    <q-item no-pointer-events v-ripple>
      <q-item-section>
        <q-item-label caption>{{ $t('companyInfoLabel3') }}</q-item-label>
        <q-item-label>Roma, Itália</q-item-label>
      </q-item-section>
    </q-item>
    <q-item no-pointer-events v-ripple>
      <q-item-section>
        <q-item-label caption>{{ $t('companyInfoLabel4') }}</q-item-label>
        <q-item-label>1200-2500 {{ $t('companyInfoLabel4Description') }}</q-item-label>
      </q-item-section>
    </q-item>
    <q-item no-pointer-events v-ripple>
      <q-item-section>
        <q-item-label caption>{{ $t('companyInfoLabel5') }}</q-item-label>
        <q-item-label>Tecnologia da informação e serviços</q-item-label>
      </q-item-section>
    </q-item>
    <q-item no-pointer-events v-ripple>
      <q-item-section>
        <q-item-label caption>{{ $t('companyInfoLabel6') }}</q-item-label>
        <q-item-label class="ellipsis"><router-link to="#">sitedaempresa.com.br</router-link></q-item-label>
      </q-item-section>
    </q-item> -->
  </q-list>
</template>

<script>
export default {
  name: 'CompanyTabs'
}
</script>
