<template>
  <picture class="col-6 col-md-4 q-pa-md">
    <router-link :to="`/view-company/${company.id}`" :title="$t('companyCardCompaniesRankingLinkTitle')">
      <q-img
        role="img"
        class="rounded-borders"
        :alt="company.tradingName"
        :title="company.companyPhoto[0].description"
        :ratio="1"
        :src="`${urlAPI}${company.companyPhoto[0].url}`"
      >
        <template v-slot:error>
          <div class="absolute-full flex flex-center bg-grey text-white">
            Cannot load {{ company.tradingName }} image.
          </div>
        </template>
      </q-img>
    </router-link>
  </picture>
</template>
<script>
export default {
  name: 'CompanyAvatar',
  props: {
    company: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      urlAPI: `${process.env.API}images/`
    }
  }
}
</script>
