<template>
  <div>
    <q-tabs v-model="tab" dense class="text-grey" active-color="primary" indicator-color="primary" align="justify" narrow-indicator>
      <q-tab name="about" icon="business" :label="$t('companyTabsName1')" />
      <q-tab name="jobs" icon="work" :label="$t('companyTabsName2')" />
      <q-tab name="details" icon="more_horiz" :label="$t('companyTabsName3')" />
    </q-tabs>
    <q-separator />
    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="about">
        <h4 class="text-h4 q-mb-lg">{{ $t('companyTabsNameTitlte1') }}</h4>
          <div v-html="company.about"></div>
          <div class="social-environment q-mt-lg">
            <h5>Social environment</h5>
            <h6 v-if="company.socialResponsability?.length>0">Social responsibility</h6>
            <div v-html="company.socialResponsability"></div>
            <h6 v-if="company.diversityCommittee?.length>0">Diversity committee</h6>
            <div v-html="company.diversityCommittee"></div>
            <h6 v-if="company.environmentalResponsibility?.length>0">Environmental responsibility</h6>
            <div v-html="company.environmentalResponsibility"></div>
            <h6 v-if="company.phisicalAndCommunicationalAccessibility?.length>0">Inclusion to the people width disabilities</h6>
            <div v-html="company.phisicalAndCommunicationalAccessibility"></div>
            <h6 v-if="company.jobProgression?.length>0">Job progression</h6>
            <div v-html="company.jobProgression"></div>
            <h6 v-if="company.flexWorkTime?.length>0">Work schedule</h6>
            <div v-html="company.flexWorkTime"></div>
            <h6 v-if="company.flexWorkPlace?.length>0">Workplace</h6>
            <div v-html="company.flexWorkPlace"></div>
            <h6 v-if="company.anotherProgramsOrActions?.length>0">Other programs or actions</h6>
            <div v-html="company.anotherProgramsOrActions"></div>
          </div>
          <div v-if="company.testimonials?.length>0" class="testimonials q-mt-lg">
            <h5>Testimonials</h5>
            <CompanyTestimonials class="bg-accent text-white shadow-1 rounded-borders" />
          </div>
      </q-tab-panel>
      <q-tab-panel name="jobs">
        <h5 class="text-h4 q-mb-md">{{ $t('companyTabsNameTitlte2') }}</h5>
        <div v-for="(department, index) in departmentsWithJobs" :key="index">
          <h6>{{department.department}}</h6>
          <div class="q-col-gutter-lg row">
            <div v-for="job in department.job" :key="job.id" class="col-12 col-md-6"><JobCard @updateValue="listDepartments" :jobData="job" :internalAccess="internalAccess" /></div>
          </div>
        </div>
      </q-tab-panel>
      <q-tab-panel name="details">
        <h5 class="text-h4 q-mb-md">{{ $t('companyTabsNameTitlte3') }}</h5>
        <CompanyInfo />
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>
<script>
import { ref } from 'vue'
import JobCard from '../jobs/JobCard.vue'
import CompanyInfo from '../company/CompanyInfo.vue'
import CompanyTestimonials from '../company/CompanyTestimonials.vue'
export default {
  name: 'CompanyTabs',
  props: {
    company: {
      type: Object
    }
  },
  computed: {
    departmentsWithJobs () {
      return this.departments.filter(e => e.job.length > 0)
    },
    companyData () {
      return this.$store.state.company.companyData
    }
  },
  components: {
    JobCard,
    CompanyInfo,
    CompanyTestimonials
  },
  setup () {
    return {
      tab: ref('about'),
      splitterModel: ref(20)
    }
  },
  data () {
    return {
      departments: [],
      jobs: [],
      internalAccess: false
    }
  },
  methods: {
    listDepartments () {
      this.departments = []
      const url = process.env.API + 'company-departments?active=true&includes=job&companyId=' + this.companyData.id
      this.$axios.get(url).then(response => {
        this.departments = response.data
      })
    }
  },
  created () {
    this.listDepartments()
    if (this.companyData.userId === parseInt(window.sessionStorage.userId)) {
      this.internalAccess = true
    }
  }
}
</script>
