<template>
  <q-page class="page-container">
    <div class="container">
      <BreadCrumbs class="q-mb-md q-mx-sm" :items="itemsBreadCrumbs" />
      <header class="section-header">
        <div class="full-width q-px-sm row wrap justify-between items-start content-start">
          <div>
            <h1 class="section-title"><strong>{{ category.title }}</strong> - Posts</h1>
            <p>{{ $t('blogPageDescription') }}</p>
          </div>
          <q-btn v-if="userLogged" to="/new-article" color="primary" flat  icon="post_add" :label="$t('blogButtonNewArticleLabel')" />
        </div>
      </header>
      <div class="q-pb-xl post-list full-width row wrap justify-around items-center content-center">
        <PostCard v-for="post in posts" :key="post.id" :postData="post"></PostCard>
      </div>
    </div>
 </q-page>
</template>

<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue'
import PostCard from '../../components/posts/PostCard.vue'
export default {
  name: 'Blog',
  components: {
    PostCard,
    BreadCrumbs
  },
  data () {
    return {
      urlAPI: process.env.API + 'images/',
      userLogged: false,
      itemsBreadCrumbs: [
        {
          link: '/blog',
          label: 'Blog'
        }
      ],
      posts: [],
      categoryId: this.$route.params.id,
      category: {
        title: ''
      }
    }
  },
  methods: {
    listPosts () {
      const url = process.env.API + 'posts?includes=postCategory,postPhoto&active=true&postCategoryId=' + this.categoryId
      this.$axios.get(url).then(response => {
        this.posts = response.data.map(post => {
          post.createdAt = post.createdAt.split('T')[0]
          if (!post.postPhoto[0]) {
            post.postPhoto[0] = ({ url: '~assets/img/placeholder-image.png' })
          } else {
            post.postPhoto[0] = ({ url: this.urlAPI + post.postPhoto[0].url })
          }
          return (post)
        })
      })
    },
    getCategory () {
      const url = process.env.API + 'post-categories/' + this.categoryId
      this.$axios.get(url).then(response => {
        this.category = response.data
        this.itemsBreadCrumbs.push({ link: null, label: response.data.title })
      })
    }
  },
  beforeMount () {
    this.listPosts()
    this.getCategory()
    if (window.sessionStorage.token) {
      this.userLogged = true
    }
  }
}
</script>
