<template>
  <q-page class='page-container page-home-user'>
    <BreadCrumbs class='q-mt-lg' :items='itemsBreadCrumbs' />
    <div class='q-mx-md q-pa-md page-container-bg rounded-borders row'>
      <header
        class='
          section-header
          q-mb-lg
          col-12
          full-width
          row
          wrap
          justify-between
          items-center
          content-center
        '
      >
        <h1 class='section-title'>
          {{ $t('blogEditArticlePageTitle1') }}
          <strong>{{ $t('blogEditArticlePageTitle2') }}</strong>
        </h1>
        <q-btn
          flat
          icon='arrow_back'
          to='/my-blog'
          :label="$t('blogNewArticlePageButtonBack')"
        />
      </header>
      <div class='q-px-none full-width'>
        <div class="row q-col-gutter-md">
          <q-input
            class='col-12 col-md-8'
            color='accent'
            bg-color='white'
            outlined
            v-model='post.title'
            :label="$t('blogNewArticleInput1Label')"
            stack-label
          />
          <q-select
            class='col-12 col-md-4'
            bg-color='white'
            color='accent'
            outlined
            v-model='category'
            :options='categoryOptions'
            option-label="title"
            option-value="id"
            :label="$t('newBlogArticleSelectCategory')"
          />
        </div>
        <!-- <RichText class='q-my-lg' /> -->
        <q-editor
          v-model="post.text"
          class='q-my-lg'
          :dense="$q.screen.lt.md"
          :toolbar="[
            [
              {
                label: $q.lang.editor.align,
                icon: $q.iconSet.editor.align,
                fixedLabel: true,
                options: ['left', 'center', 'right', 'justify'],
              },
            ],
            ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
            ['token', 'hr', 'link', 'custom_btn'],
            [
              {
                label: $q.lang.editor.formatting,
                icon: $q.iconSet.editor.formatting,
                list: 'no-icons',
                options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code'],
              },
              {
                label: $q.lang.editor.fontSize,
                icon: $q.iconSet.editor.fontSize,
                fixedLabel: true,
                fixedIcon: true,
                list: 'no-icons',
                options: [
                  'size-1',
                  'size-2',
                  'size-3',
                  'size-4',
                  'size-5',
                  'size-6',
                  'size-7',
                ],
              },
              'removeFormat',
            ],
            ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
            ['undo', 'redo'],
            ['fullscreen'],
          ]"
        />
        <div
          class='
            col-12
            full-width
            row
            wrap
            justify-between
            items-center
            content-center
            q-col-gutter-md
          '
        >
          <!-- <q-skeleton height='56px' class='col-12 col-md' /> -->
          <q-img v-if="post.postPhoto[0]" class="q-mb-sm" :src="image.url" height="100px" />
          <q-uploader
            color="grey-3"
            v-model="uploadBanner"
            class="col-12 q-px-none q-pt-none"
            text-color="grey-9"
            :url="urlUpload"
            field-name="file"
            accept=".png, .jpg, image/*"
            :headers="headersUpload"
            auto-upload
            :label="'Change ' + $t('blogNewArticleBannerLabel')"
            @uploaded="addImage"
            :title="$t('newBlogArticleImageRule')"
          >
          </q-uploader>
          <p>{{ $t('newBlogArticleImageRule')}}</p>
          <q-input
            class='col-12 q-px-none'
            bg-color='white'
            color="accent"
            outlined
            v-model="audioDescription"
            :label="$t('blogNewArticleInput3Label')"
            :hint="$t('blogNewArticleInput3Hint')"
          />
        </div>
              <div class="q-py-md">
        <q-select
          color='accent'
          bg-color='white'
          outlined
          :label="$t('blogNewArticleInput4Label')"
          :hint="$t('blogNewArticleInput4Hint')"
          stack-label
          v-model="model"
          use-input
          use-chips
          multiple
          hide-dropdown-icon
          input-debounce="0"
          @new-value="createValue"
        />
      </div>
        <div class='q-mt-lg col-12 text-right'>
          <q-btn
            class="q-mx-md"
            flat
            icon='preview'
            color='primary'
            :label="$t('blogNewArticleButtonPreviewName')"
          />
          <q-btn
            icon='save'
            color='accent'
            :label="$t('blogNewArticleButtonName')"
            @click="updatePost"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
// import RichText from '../../components/RichText.vue'
import BreadCrumbs from '../../components/BreadCrumbs.vue'
export default {
  name: 'EditArticle',
  components: {
    BreadCrumbs
    // RichText
  },
  data () {
    return {
      urlAPI: process.env.API + 'images/',
      urlUpload: `${process.env.API}upload/images`,
      uploadBanner: {},
      image: {
        url: ''
      },
      headersUpload: [
        { name: 'Authorization', value: sessionStorage.token }
      ],
      category: {
        id: null,
        title: null
      },
      post: {
        title: '',
        text: '',
        banner: '',
        audioDescription: '',
        userId: window.sessionStorage.userId,
        postPhoto: [],
        postCategoryId: null
      },
      categoryOptions: [],
      itemsBreadCrumbs: [
        {
          link: '/blog',
          label: 'Blog'
        },
        {
          link: '/my-blog',
          label: 'My Blog'
        },
        {
          link: null,
          label: 'New article'
        }
      ]
    }
  },
  methods: {
    addImage ({ files }) {
      if (this.post.postPhoto[0]) {
        this.post.postPhoto[0] = ({ url: JSON.parse(files[0].xhr.response).filename })
        this.image.url = this.urlAPI + JSON.parse(files[0].xhr.response).filename
      } else {
        this.createPostPhoto(JSON.parse(files[0].xhr.response).filename)
      }
    },
    createPostPhoto (imageUrl) {
      const url = process.env.API + 'post-photos'
      this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
      const postPhoto = {
        description: this.audioDescription,
        url: imageUrl,
        postId: this.post.id
      }
      this.$axios.post(url, postPhoto).then(response => {
        this.post.postPhoto[0] = response.data
        this.image.url = this.urlAPI + response.data.postPhoto.url
      }).catch(error => {
        console.log(error)
      })
    },
    updatePost () {
      const url = process.env.API + 'posts/' + this.post.id
      this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
      if (this.post.postPhoto[0]) {
        this.post.postPhoto[0].description = this.audioDescription
      }
      this.post.postCategoryId = this.category.id
      this.$axios.put(url, this.post).then(response => {
        this.$q.notify('Post successfully updated')
        const uri = '/post/' + this.post.id
        this.$router.push(uri)
      }).catch(error => {
        console.log(error)
      })
    },
    getPostById (id) {
      const url = process.env.API + 'posts/' + id + '?includes=postCategory,postPhoto'
      this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
      this.$axios.get(url).then(response => {
        this.post = response.data
        this.category = response.data.postCategory
        this.audioDescription = response.data.postPhoto[0] ? response.data.postPhoto[0].description : ''
        if (response.data.postPhoto[0]) {
          this.image.url = this.urlAPI + response.data.postPhoto[0].url
        }
      }).catch(error => {
        console.log(error)
      })
    },
    listCategory () {
      const url = process.env.API + 'post-categories'
      this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
      this.$axios.get(url).then(response => {
        this.categoryOptions = response.data
      }).catch(error => {
        console.log(error)
      })
    }
  },
  beforeMount () {
    this.listCategory()
    this.getPostById(this.$route.params.id)
  }
}
</script>
