<template>
  <q-page class="page-container">
    <div class="container">
      <BreadCrumbs class="q-mb-md q-mx-sm" :items="itemsBreadCrumbs" />
      <header class="section-header">
        <div class="full-width q-px-sm row wrap justify-between items-start content-start">
          <div class="q-col-12 q-col-8">
            <h1 class="section-title">{{ $t('blogPageTitle1') }} <strong>{{ $t('blogPageTitle2') }}</strong></h1>
            <!-- <p>{{ $t('blogPageDescription') }} {{ $t('blogSectionDescription') }}</p> -->
            <p>{{ queryFilter != '' ? $t('blogSectionDescription') : '' }}</p>
          </div>
          <div class="q-col-12 q-col-4">
            <PostButtons @updateFilter="changeFilterList" :queryFilter="queryFilter" />
            <!-- <q-btn to="#" color="accent" :label="$t('blogButtonUmainPublication')" />
            <q-btn v-if="userLogged" to="/new-article" color="primary" flat  icon="post_add" :label="$t('blogButtonNewArticleLabel')" /> -->
        </div>
        </div>
      </header>
      <div class="q-pb-xl post-list full-width row wrap justify-around items-center content-center">
        <PostCard v-for="post in posts" :key="post.id" :postData="post" :queryFilter="queryFilter"></PostCard>
      </div>
      <div class="q-pa-lg flex flex-center">
        <q-pagination
          v-model="currentPage"
          :max="totalPages"
          :max-pages="10"
          @click="() => updatePostsByPagination()"
          text-color="primary"
          flat
          direction-links
          boundary-links
          icon-first="skip_previous"
          icon-last="skip_next"
          icon-prev="fast_rewind"
          icon-next="fast_forward"
        />
      </div>
    </div>
 </q-page>
</template>

<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue'
import PostCard from '../../components/posts/PostCard.vue'
import PostButtons from '../../components/posts/PostButtons.vue'
export default {
  name: 'Blog',
  components: {
    PostCard,
    BreadCrumbs,
    PostButtons
  },
  data () {
    return {
      urlAPI: process.env.API + 'images/',
      queryFilter: '&userId=4',
      // userLogged: false,
      currentPage: 1,
      totalPages: 1,
      limit: 8,
      offset: 0,
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Blog'
        }
      ],
      posts: []
    }
  },
  methods: {
    updatePostsByPagination () {
      this.offset = (this.currentPage - 1) * this.limit
      this.listPosts()
    },
    listPosts () {
      const url = process.env.API + 'posts?includes=postCategory,postPhoto,user&active=true&limit=' + this.limit + '&offset=' + this.offset + this.queryFilter
      this.$axios.get(url).then(response => {
        this.totalPages = parseInt((response.headers['x-total-count']) / this.limit)
        if ((response.headers['x-total-count'] % this.limit) > 0) {
          this.totalPages += 1
        }
        this.posts = response.data.map(post => {
          post.createdAt = post.createdAt.split('T')[0]
          if (!post.postPhoto[0]) {
            post.postPhoto[0] = ({ url: '/img/placeholder-image.png', description: 'Placeholder image' })
          } else {
            post.postPhoto[0] = ({ url: this.urlAPI + post.postPhoto[0].url, description: post.postPhoto[0].description })
          }
          return (post)
        })
      })
    },
    changeFilterList (filterList) {
      this.queryFilter = filterList
      this.listPosts()
    }
  },
  beforeMount () {
    this.listPosts()
    // if (window.sessionStorage.token) {
    //   this.userLogged = true
    // }
  },
  mounted () {
    const navigationIcons = document.querySelectorAll('.q-pagination button>span.q-btn__content.text-center.col.items-center.q-anchor--skip.justify-center.row i')
    console.log(navigationIcons)
    for (let i = 0; i < navigationIcons.length; i++) {
      if (navigationIcons[i].innerHTML === 'skip_previous') {
        navigationIcons[i].parentNode.parentNode.setAttribute('aria-label', this.$t('paginationFirstPage'))
      }
      if (navigationIcons[i].innerHTML === 'fast_rewind') {
        navigationIcons[i].parentNode.parentNode.setAttribute('aria-label', this.$t('paginationPrevPage'))
      }
      if (navigationIcons[i].innerHTML === 'fast_forward') {
        navigationIcons[i].parentNode.parentNode.setAttribute('aria-label', this.$t('paginationNextPage'))
      }
      if (navigationIcons[i].innerHTML === 'skip_next') {
        navigationIcons[i].parentNode.parentNode.setAttribute('aria-label', this.$t('paginationLastPage'))
      }
    }
  }
}
</script>
