<template>
  <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
    <div class="q-mx-md q-pa-md page-container-bg rounded-borders row">
      <header class="section-header full-width q-px-sm row wrap justify-between items-start content-start">
          <div class="q-col-12 q-col-8">
              <h1 class="section-title"><strong>{{ $t('blogMyContentTitle1') }}</strong> {{ $t('blogMyContentTitle2') }}</h1>
              <p>{{ $t('blogMyContentDescription') }}</p>
          </div>
          <div class="q-col-12 q-col-4">
            <q-btn to="#" color="accent" :label="$t('blogButtonUmainPublication')" />
            <q-btn v-if="userLogged" to="/new-article" color="primary" flat  icon="post_add" :label="$t('blogButtonNewArticleLabel')" />
          </div>
      </header>
      <div class="rounded-borders home-jobs q-mb-lg q-pa-md full-width">
      <div class="q-pb-xl post-list full-width row wrap justify-around full-width items-center content-center">
        <PostCard v-for="post in posts" :key="post.id" :postData="post" @update="listPosts"></PostCard>
      </div>
        <div class="q-pa-lg flex flex-center">
          <q-pagination
            v-model="currentPage"
            :max="totalPages"
            :max-pages="10"
            @click="() => updatePostsByPagination()"
            text-color="primary"
            flat
            direction-links
            icon-first="skip_previous"
            icon-last="skip_next"
            icon-prev="fast_rewind"
            icon-next="fast_forward"
          />
        </div>
      </div>
    </div>
 </q-page>
</template>

<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue'
import PostCard from '../../components/posts/PostCard.vue'
export default {
  name: 'MyBlog',
  components: {
    PostCard,
    BreadCrumbs
  },
  data () {
    return {
      currentPage: 1,
      totalPages: 1,
      limit: 8,
      offset: 0,
      urlAPI: process.env.API + 'images/',
      userLogged: false,
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'My Blog'
        }
      ],
      posts: []
    }
  },
  methods: {
    updatePostsByPagination () {
      this.offset = (this.currentPage - 1) * this.limit
      this.listPosts()
    },
    listPosts () {
      const url = process.env.API + 'posts?active=true&includes=postCategory,postPhoto,user&userId=' + window.sessionStorage.userId + '&limit=' + this.limit + '&offset=' + this.offset
      this.$axios.get(url).then(response => {
        this.totalPages = parseInt((response.headers['x-total-count']) / this.limit)
        if ((response.headers['x-total-count'] % this.limit) > 0) {
          this.totalPages += 1
        }
        this.posts = response.data.map(post => {
          post.createdAt = post.createdAt.split('T')[0]
          if (!post.postPhoto[0]) {
            post.postPhoto[0] = ({ url: '~assets/img/placeholder-image.png', description: 'Placeholder image' })
          } else {
            post.postPhoto[0] = ({ url: this.urlAPI + post.postPhoto[0].url, description: post.postPhoto[0].description })
          }
          return (post)
        })
      })
    }
  },
  beforeMount () {
    this.listPosts()
    if (window.sessionStorage.token) {
      this.userLogged = true
    }
  },
  mounted () {
    const navigationIcons = document.querySelectorAll('.q-pagination button>span.q-btn__content.text-center.col.items-center.q-anchor--skip.justify-center.row i')
    console.log(navigationIcons)
    for (let i = 0; i < navigationIcons.length; i++) {
      if (navigationIcons[i].innerHTML === 'skip_previous') {
        navigationIcons[i].parentNode.parentNode.setAttribute('aria-label', this.$t('paginationFirstPage'))
      }
      if (navigationIcons[i].innerHTML === 'fast_rewind') {
        navigationIcons[i].parentNode.parentNode.setAttribute('aria-label', this.$t('paginationPrevPage'))
      }
      if (navigationIcons[i].innerHTML === 'fast_forward') {
        navigationIcons[i].parentNode.parentNode.setAttribute('aria-label', this.$t('paginationNextPage'))
      }
      if (navigationIcons[i].innerHTML === 'skip_next') {
        navigationIcons[i].parentNode.parentNode.setAttribute('aria-label', this.$t('paginationLastPage'))
      }
    }
  }
}
</script>
