<template>
  <q-page class='page-container page-home-user'>
    <BreadCrumbs class='q-mt-lg' :items='itemsBreadCrumbs' />
    <div class='q-mx-md q-pa-md page-container-bg rounded-borders row'>
      <header
        class='
          section-header
          q-mb-lg
          col-12
          full-width
          row
          wrap
          justify-between
          items-center
          content-center
        '
      >
        <h1 class='section-title'>
          {{ $t('blogNewArticlePageTitle1') }}
          <strong>{{ $t('blogNewArticlePageTitle2') }}</strong>
        </h1>
        <q-btn
          flat
          icon='arrow_back'
          to='/my-blog'
          :label="$t('blogNewArticlePageButtonBack')"
        />
      </header>
      <div class='q-px-none full-width'>
        <div class="row q-col-gutter-md">
          <q-input
            class='col-12 col-md-8'
            color='accent'
            bg-color='white'
            outlined
            v-model='newPost.title'
            :label="$t('blogNewArticleInput1Label')"
            stack-label
          />
          <q-select
            class='col-12 col-md-4'
            bg-color='white'
            color='accent'
            outlined
            v-model='category'
            :options='categoryOptions'
            option-label="title"
            option-value="id"
            :label="$t('newBlogArticleSelectCategory')"
          />
        </div>
        <!-- <RichText class='q-my-lg' /> -->
        <q-editor
          v-model="newPost.text"
          class='q-my-lg'
          :dense="$q.screen.lt.md"
          :toolbar="[
            [
              {
                label: $q.lang.editor.align,
                icon: $q.iconSet.editor.align,
                fixedLabel: true,
                options: ['left', 'center', 'right', 'justify'],
              },
            ],
            ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
            ['token', 'hr', 'link', 'custom_btn'],
            [
              {
                label: $q.lang.editor.formatting,
                icon: $q.iconSet.editor.formatting,
                list: 'no-icons',
                options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code'],
              },
              {
                label: $q.lang.editor.fontSize,
                icon: $q.iconSet.editor.fontSize,
                fixedLabel: true,
                fixedIcon: true,
                list: 'no-icons',
                options: [
                  'size-1',
                  'size-2',
                  'size-3',
                  'size-4',
                  'size-5',
                  'size-6',
                  'size-7',
                ],
              },
              'removeFormat',
            ],
            ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
            ['undo', 'redo'],
            ['fullscreen'],
          ]"
        />
        <div
          class='
            col-12
            full-width
            row
            wrap
            justify-between
            items-center
            content-center
            q-col-gutter-md
          '
        >
          <!-- <q-skeleton height='56px' class='col-12 col-md' /> -->
          <q-uploader
            color="grey-3"
            v-model="uploadBanner"
            class="col-12 q-px-none q-pt-none"
            text-color="grey-9"
            :url="urlUpload"
            field-name="file"
            accept=".png, .jpg, image/*"
            :headers="headersUpload"
            auto-upload
            :label="$t('blogNewArticleBannerLabel')"
            @uploaded="addImage"
            :title="$t('newBlogArticleImageRule')"
          >
          </q-uploader>
          <p>{{ $t('newBlogArticleImageRule')}}</p>
          <!-- <q-file
            class='col-12 col-md-6'
            bg-color='white'
            color='accent'
            outlined
            bottom-slots
            v-model='model'
            :label="$t('blogNewArticleBannerLabel')"
            counter
          >
            <template v-slot:prepend>
              <q-icon name='cloud_upload' @click.stop />
            </template>
            <template v-slot:append>
              <q-icon
                name='close'
                @click.stop='model = null'
                class='cursor-pointer'
              />
            </template>
            <template v-slot:hint>
              <p>{{ $t('blogNewArticleBannerHint') }}</p>
            </template>
          </q-file> -->
          <q-input
            class='col-12 row q-px-none'
            bg-color='white'
            color="accent"
            outlined
            v-model="newPost.audioDescription"
            :label="$t('blogNewArticleInput3Label')"
            :hint="$t('blogNewArticleInput3Hint')"
          />
        </div>
      <div class="q-py-md">
        <q-select
          color='accent'
          bg-color='white'
          outlined
          :label="$t('blogNewArticleInput4Label')"
          :hint="$t('blogNewArticleInput4Hint')"
          stack-label
          v-model="model"
          use-input
          use-chips
          multiple
          hide-dropdown-icon
          input-debounce="0"
          @new-value="createValue"
        />
      </div>
        <!-- <div class='row q-col-gutter-md q-my-lg'>
          <q-select
            class='col-12 col-md-4'
            bg-color='white'
            color='accent'
            outlined
            v-model='model'
            :options='options'
            :label="$t('newBlogArticleSelect1Title')"
          />
          <q-select
            class='col-12 col-md-8'
            bg-color='white'
            color='accent'
            outlined
            v-model='model'
            :options='options'
            :label="$t('newBlogArticleSelect2Title')"
          />
        </div> -->
        <div class='q-mt-lg col-12 text-right'>
           <q-btn
            class="q-mx-md"
            icon='preview'
            flat
            :label="$t('blogNewArticleButtonPreviewName')"
          />
          <q-btn
            icon='save'
            color='accent'
            :label="$t('blogNewArticleButtonName')"
            @click="createPost"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { ref } from 'vue'
import BreadCrumbs from '../../components/BreadCrumbs.vue'
export default {
  name: 'NewArticle',
  components: {
    BreadCrumbs
    // RichText
  },
  setup () {
    return {
      model: ref(null),
      createValue (val, done) {
        // specific logic to eventually call done(...) -- or not
        done(val, 'add-unique')

        // done callback has two optional parameters:
        //  - the value to be added
        //  - the behavior (same values of new-value-mode prop,
        //    and when it is specified it overrides that prop –
        //    if it is used); default behavior (if not using
        //    new-value-mode) is to add the value even if it would
        //    be a duplicate
      }
    }
  },
  data () {
    return {
      urlAPI: process.env.API + 'images/',
      urlUpload: `${process.env.API}upload/images`,
      uploadBanner: {},
      image: {},
      headersUpload: [
        { name: 'Authorization', value: sessionStorage.token }
      ],
      category: {
        id: null,
        title: null
      },
      newPost: {
        title: '',
        text: '',
        postPhoto: [],
        audioDescription: '',
        userId: window.sessionStorage.userId,
        postCategoryId: null
      },
      categoryOptions: [],
      itemsBreadCrumbs: [
        {
          link: '/blog',
          label: 'Blog'
        },
        {
          link: '/my-blog',
          label: 'My Blog'
        },
        {
          link: null,
          label: 'New article'
        }
      ]
    }
  },
  methods: {
    addImage ({ files }) {
      this.newPost.postPhoto.push({ url: JSON.parse(files[0].xhr.response).filename })
    },
    createPost () {
      const url = process.env.API + 'posts'
      this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
      this.newPost.postCategoryId = this.category.id
      if (this.newPost.postPhoto[0]) {
        this.newPost.postPhoto[0].description = this.newPost.audioDescription
      }
      this.$axios.post(url, this.newPost).then(response => {
        this.$q.notify('Post created successfully')
        const uri = '/post/' + response.data.data.id
        this.$router.push(uri)
      }).catch(error => {
        console.log(error)
      })
    },
    listCategory () {
      const url = process.env.API + 'post-categories'
      this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
      this.$axios.get(url).then(response => {
        this.categoryOptions = response.data
      }).catch(error => {
        console.log(error)
      })
    }
  },
  beforeMount () {
    this.listCategory()
  }
}
</script>
