<template>
  <q-page>
    <q-img
      role="img"
      class="page-cover"
      :alt="post.postPhoto[0].description"
      :Title="post.postPhoto[0].description"
      :src="post.postPhoto[0].url"
      :fit="cover"
      :ratio="16 / 9"
    />
    <div class="container q-mt-xl">
      <BreadCrumbs :items="itemsBreadCrumbs" />
      <div class="post-article row q-col-gutter-md">
        <AsidePost :postTitle="post.title"></AsidePost>
        <div class="q-mb-xl col-12 col-md-9">
          <article class="post-content">
            <header class="post-title">
              <h1 class="text-h1">
                {{ post.title }}
              </h1>
              <div class="post-meta">
                <span class="post-data"
                  ><q-icon name="event" class="q-mr-xs" />{{
                    post.createdAt.split("T")[0]
                  }}</span
                >
                <span class="post-author cursor-pointer" @click="navigatePostsByUser">
                  <q-btn
                  @click="navigateCategory"
                  class="post-category q-mb-2"
                  icon="archive"
                  :id="'post'"
                  :label="post.postCategory.title"
                  size="sm"
                  dense
                  aria-describedby="categoryHint"
                  flat
                  :title="$t('postArticleCategoryTitle')"
                >
                </q-btn>
                </span>
                <span class="post-author cursor-pointer" @click="navigatePostsByUser"
                  ><q-icon name="notes" class="q-mr-xs" />{{
                    $t("postArticleWriteBy")
                  }}
                  <strong>{{ post.user.name }}</strong></span
                >
                <span v-if="post.company" class="post-company"
                  ><q-icon name="business" class="q-mr-xs" />{{
                    post.company ? post.company.name : "Company name"
                  }}</span
                >
              </div>
            </header>
            <main v-html="post.text"></main>
            <q-separator />
            <p v-html="$t('postDisclaimer')" class="disclaimer q-mt-lg"></p>
            <q-separator />
            <p v-html="$t('commentPolicy')" class="disclaimer q-mt-lg"></p>
            <template>
                <Disqus shortname='umain-you-may-act-for-inclusio' />
            </template>
             <q-separator color="grey-1" class="q-my-md" />
              <div class="post-action q-mt-lg" v-if="showActions">
                <q-btn-group flat outline spread>
                  <q-btn
                    flat
                    outline
                    color="red"
                    :label="$t('postCardButtonDelete')"
                    icon="delete"
                    @click="removePost(post.id)"
                  />
                  <q-btn
                    flat
                    outline
                    color="accent"
                    :label="$t('postCardButtonEdit')"
                    icon="edit"
                    @click="navigateEditPost"
                  />
                </q-btn-group>
              </div>
          </article>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue'
import AsidePost from '../../components/posts/PostAside.vue'
import { Disqus } from 'vue-disqus'

// import { Disqus, DisqusCount } from 'vue-disqus'
export default {
  name: 'Post',
  components: {
    AsidePost,
    BreadCrumbs,
    Disqus
    // DisqusCount
  },
  data () {
    return {
      ssoConfig: {
        name: 'umain-you-may-act-for-inclusion',
        shortname: 'umain-you-may-act-for-inclusio',
        url: 'https://umain.uk.net',
        logout: 'https://umain.uk.net/logout/'
      },
      urlAPI: process.env.API + 'images/',
      itemsBreadCrumbs: [
        {
          link: '/blog',
          label: 'Blog'
        },
        {
          link: null,
          label: 'post'
        }
      ],
      post: {
        createdAt: '0000/00/00T00:00:00',
        user: {
          name: ''
        },
        title: '',
        text: '',
        postPhoto: [
          {
            url: '~assets/img/placeholder-image.png'
          }
        ]
      },
      postId: this.$route.params.id,
      showActions: false
    }
  },
  methods: {
    listPostById () {
      const url = process.env.API + 'posts/' + this.postId + '?includes=user,postPhoto,postCategory'
      this.$axios.get(url).then((response) => {
        this.post = response.data
        this.itemsBreadCrumbs[1].label = this.post.title
        if (!response.data.postPhoto[0]) {
          this.post.postPhoto[0] = ({ url: '~assets/img/placeholder-image.png', description: 'Placeholder image' })
        } else {
          this.post.postPhoto[0].url = this.urlAPI + response.data.postPhoto[0].url
          this.post.postPhoto[0].description = response.data.postPhoto[0].description
        }

        if (window.sessionStorage.userId) {
          console.log(this.post.userId)
          if (parseInt(this.post.userId) === parseInt(window.sessionStorage.userId)) {
            this.showActions = true
          }
        }
      })
    },
    navigateEditPost (evt) {
      this.$router.push({ name: 'edit-article', params: { id: this.post.id } })
    },
    navigatePostsByUser (evt) {
      this.$router.push({ name: 'user-posts', params: { id: this.post.userId } })
    },
    removePost (id) {
      this.$q.dialog({
        title: 'Alert',
        message: 'Do you really want to remove? this action is irreversible.',
        cancel: true,
        persistent: true
      }).onOk(() => {
        const url = process.env.API + 'posts/' + id
        this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
        this.$axios.put(url, { active: false }).then(response => {
          this.$q.notify('Post removed successfully')
          this.$router.push('/blog')
        }).catch(error => {
          console.log(error)
        })
      })
    }
  },
  beforeMount () {
    this.listPostById()
  }
}
</script>
