<template>
  <div>
    <!-- omitted -->
    <div class='comments'>
      <Disqus shortname='umain-you-may-act-for-inclusio' />
    </div>
  </div>
</template>

<script>
import { Disqus } from 'vue-disqus'

export default {
  name: 'PostPage',
  components: {
    Disqus
  },
  data () {
    return {
      identifier: ''
    }
  }
}
</script>
