.job,
.post {

  &-aside {
    background: #f1f1f1;
    position: sticky;
    top: 100px;
    border: 1px solid #e0e0e0;

    .q-btn {
      // width: 200px;
    }

    @media (max-width: $breakpoint-md) {
      position: relative;
      top: auto;
      order: 2;
    }
  }
}


.aside{
    &-title{
        padding: 0 1rem;
        display: block;
    }
}