.candidato {
  &s-destaques {
    border-top: 1px solid #fff;
    background: $secondary;
.q-avatar {
  width: 100%;
  height: 100%;
}
    &:before {
      content: "";
      display: block;
      width: 25px;
      margin-top: -49px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      border-style: solid;
      border-color: transparent;
      border-top-color: #fff;
      border-width: 25px 25px 25px 25px;
    }

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

    }

    hr {
      @extend .divider;
    }

    &-modal {
      hr {}
    }
  }

  &-avatar {
    img {
      transition: transform 1s linear;
      cursor: pointer;
      display: block;
      @extend .mx-auto;
      &:hover {
        transform: scale(1.1);
        box-shadow: $shadow-2;
      }
    }
    &__content {
      overflow: visible;
    }
  }
}
