.oportunidades {
  &-recentes {
    background-color: $grey-1;
    border-bottom: 1px solid $grey-3;

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

    }

    hr {
      @extend .divider
    }
  }

  &-lista {
    hr {
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
    }
  }
}

@media screen and (min-width:$breakpoint-md-min) {
  .oportunidades {
    &-lista {
      padding-right: 1rem;
    }
  }
}

@media screen and (min-width:$breakpoint-xs-min) and (max-width:$breakpoint-xs-max) {

  .oportunidades {
    &-recentes {
      header {
        justify-content: center;
        text-align: center;
        flex-direction: column;
      }
    }

    &-lista {
      .card {
        flex-direction: column;

      }
    }
  }
}

.job {
  &-card {
    transition: box-shadow 0.5s linear;

    &:hover,
    &:focus {
      box-shadow: $shadow-2;
    }
  }



  &-empresa,
  &-vaga {
    margin: 0;
    line-height: 1.25;
    padding-left: 1rem;

    &,
    &:focus,
    &:hover,
    &:visited {


      text-decoration: none;
      color: $dark;
    }

  }

  &-empresa {
    font-size: small;
    text-transform: uppercase;
    // margin-bottom: 1.5rem;

  }

  &-vaga {
    font-size: x-large;
    font-weight: bold;
    position: relative;
  }

  &-excerpt {
    letter-spacing: 0;
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-top: 1rem;

  }
}

@media screen and (max-width:$breakpoint-sm-max) {
  .job {

    &-excerpt,
    &-empresa,
    &-vaga {
      padding-left: 0;
    }
  }
}


/* ------------------------- */

.job {


  strong {
    display: block;
  }

  &-banner {
    margin-top: -45px;

    .q-avatar {
      box-shadow: 0 0 0px 10px #fff;
      width: 140px;
      height: 140px;
    }
  }
}


.job-content {
  @extend .post-content;
  padding-top: 0 !important;
}
