.q-form {
  width: 100%;
}

.search {
  &-form {
    width: 100%;
    border: 1px solid #dee2e6;
    background: #fff;
    padding: 1rem 1rem 0.5rem 0;
    box-shadow: $shadow-11;

    .q-field__bottom {
      text-align: center;
    }
  }

  &-container {
    position: relative;
    z-index: 2;
    @extend .mx-auto;

    h1 {
      text-align: center;
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 1.2;
      word-break: break-word;
      color: #fff;
      margin-bottom: 1.5rem;

    }
  }

  &-button {
    button {
      height: calc(100% - 20px);
    }
  }
}


@media (max-width: $breakpoint-xs) {
  .search {
    &-container {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
