.social-link {

  transition: all 0.5s ease-out;
  display: inline-block;

  &,
  &:hover,
  &:focus {
    border-radius: 4px;
    padding: 0.5rem;
  }

  &s-container {
    padding: 0.5rem .5rem 1rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        margin-bottom: 0.5rem;

      }
    }
  }

  span {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
  }

  svg {
    width: 18px;
    height: 18px;
    fill: #fff
  }

  &-facebook {
    background-color: #3b5998;

    &:hover {
      background-color: #2d4373
    }
  }

  &-twitter {
    background-color: #55acee;

    &:hover {
      background-color: #2795e9
    }
  }


  &-reddit {
    background-color: #5f99cf;

    &:hover {
      background-color: #3a80c1
    }
  }

  &-linkedin {
    background-color: #0077b5;

    &:hover {
      background-color: #046293
    }
  }

  &-email {
    background-color: #777;

    &:hover {
      background-color: #5e5e5e;
    }
  }

  &-whatsapp {
    background-color: #25D366;


    &:hover {
      background-color: #1da851
    }
  }

  &-telegram {
    background-color: #54A9EB;


    &:hover {
      background-color: #4B97D1;
    }
  }
}

@media screen and (max-width:$breakpoint-sm-max) {
  .social-link {
    &s-container {
      ul {
        justify-content: center;

        li {
          padding: 0 1rem 0.5rem 0;
          width: 50%;
          display: block;

          &:last-child,
          a {
            width: 100%;
          }
        }
      }
    }
  }
}
