<template>
<q-table :rows="rows" :columns="columns" row-key="PageAdminName" class="q-mt-lg">
  <template v-slot:body="props">
    <q-tr :props="props">
      <q-td key="PageAdminName" :props="props">{{ props.row.PageAdminName }}</q-td>
      <q-td key="PageAdminEmail" :props="props">{{ props.row.PageAdminEmail }}</q-td>
      <q-td key="PageAdminEdit" :props="props"><q-btn :title="$t('siteSettingContainerPageAdminButton3Title')" round size="sm" flat icon="email" @click="prompt" /></q-td>
      <q-td key="pageDelete" :props="props"><q-btn :title="$t('siteSettingContainerPageAdminButton4Title')" round flat size="sm" icon="person_remove" color="red" @click="confirm" /></q-td>
    </q-tr>
  </template>
</q-table>
</template>
<script>
import { useQuasar } from 'quasar'

export default {
  name: 'AdminsTable',
  data () {
    const $q = useQuasar()
    return {
      prompt,
      confirm,
      columns: [
        { name: 'PageAdminName', required: true, label: this.$t('siteSettingContainerPageAdminColumn1Title'), align: 'left', field: row => row.PageAdminName, format: val => `${val}`, sortable: true },
        { name: 'PageAdminEmail', required: true, label: this.$t('siteSettingContainerPageAdminColumn2Title'), align: 'left', field: 'PageAdminEmail', sortable: true },
        { name: 'PageAdminEdit', required: true, label: '', align: 'left', field: 'PageAdminEdit', sortable: true },
        { name: 'pageDelete', required: true, label: '', field: 'pageDelete' }
      ],
      rows: [
        { PageAdminName: 'user name', PageAdminEmail: 'email@nome-emepresa.com', PageAdminEdit: '#' },
        { PageAdminName: 'user name', PageAdminEmail: 'email@nome-emepresa.com', PageAdminEdit: '#' },
        { PageAdminName: 'user name', PageAdminEmail: 'email@nome-emepresa.com', PageAdminEdit: '#' },
        { PageAdminName: 'user name', PageAdminEmail: 'email@nome-emepresa.com', PageAdminEdit: '#' },
        { PageAdminName: 'user name', PageAdminEmail: 'email@nome-emepresa.com', PageAdminEdit: '#' },
        { PageAdminName: 'user name', PageAdminEmail: 'email@nome-emepresa.com', PageAdminEdit: '#' },
        { PageAdminName: 'user name', PageAdminEmail: 'email@nome-emepresa.com', PageAdminEdit: '#' },
        { PageAdminName: 'user name', PageAdminEmail: 'email@nome-emepresa.com', PageAdminEdit: '#' },
        { PageAdminName: 'user name', PageAdminEmail: 'email@nome-emepresa.com', PageAdminEdit: '#' },
        { PageAdminName: 'user name', PageAdminEmail: 'email@nome-emepresa.com', PageAdminEdit: '#' }
      ]
    }
    function prompt () {
      $q.dialog({
        title: 'Alterar email',
        message: 'Qual o novo email do usuário?',
        prompt: {
          model: '',
          type: 'email' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        // console.log('>>>> OK, received', data)
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    }
    function confirm () {
      $q.dialog({
        title: 'Remover usuário',
        message: 'Você realmente deseja remover o [user name] como administrador do site?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        // console.log('>>>> OK')
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    }
  }
}
</script>
