<template>
<q-table :rows="rows" :columns="columns" row-key="LangName" class="q-mt-lg">
  <template v-slot:body="props">
    <q-tr :props="props">
      <q-td :props="props" key="LangName">{{ props.row.LangName }}</q-td>
      <q-td :props="props" key="langDate">{{ props.row.langDate }}</q-td>
      <q-td :props="props" key="langUserUpdate">{{ props.row.langUserUpdate }}</q-td>
      <q-td width="100" :props="props" key="langFile">
        <q-file outlined dense color="accent" icon="upload" v-model="model" label="Arquivo">
          <template v-slot:prepend>
            <q-icon color="grey-5" name="cloud_upload" @click.stop />
          </template>
          <template v-slot:append>
            <q-icon color="grey-5" name="close" @click.stop="model = null" class="cursor-pointer" />
          </template>
        </q-file>
      </q-td>
      <q-td :props="props" key="langDelete"><q-btn :title="$t('siteSettingContainerAdminUsersTableButton')" round flat size="sm" icon="delete" color="red" @click="confirm" /></q-td>
    </q-tr>
  </template>
</q-table>
</template>
<script>
import { useQuasar } from 'quasar'

export default {
  name: 'PagesTable',
  data () {
    const $q = useQuasar()
    return {
      columns: [
        { required: true, align: 'left', sortable: true, name: 'LangName', label: this.$t('siteSettingContainerAdminUsersTableColumn1Title'), field: row => row.LangName, format: val => `${val}` },
        { required: true, align: 'left', sortable: true, field: 'langDate', name: 'langDate', label: this.$t('siteSettingContainerAdminUsersTableColumn2Title') },
        { required: true, align: 'left', sortable: true, field: 'langUserUpdate', name: 'langUserUpdate', label: this.$t('siteSettingContainerAdminUsersTableColumn3Title') },
        { required: true, align: 'center', field: 'langFile', name: 'langFile', label: this.$t('siteSettingContainerAdminUsersTableColumn4Title') },
        { required: true, align: 'center', field: 'langDelete', name: 'langDelete', label: '' }
      ],
      rows: [
        { LangName: 'Nome do idioma', langDate: '01/01/2021', langUserUpdate: 'User name', langFile: '#', langDelete: '#' },
        { LangName: 'Nome do idioma', langDate: '01/01/2021', langUserUpdate: 'User name', langFile: '#', langDelete: '#' },
        { LangName: 'Nome do idioma', langDate: '01/01/2021', langUserUpdate: 'User name', langFile: '#', langDelete: '#' },
        { LangName: 'Nome do idioma', langDate: '01/01/2021', langUserUpdate: 'User name', langFile: '#', langDelete: '#' },
        { LangName: 'Nome do idioma', langDate: '01/01/2021', langUserUpdate: 'User name', langFile: '#', langDelete: '#' },
        { LangName: 'Nome do idioma', langDate: '01/01/2021', langUserUpdate: 'User name', langFile: '#', langDelete: '#' },
        { LangName: 'Nome do idioma', langDate: '01/01/2021', langUserUpdate: 'User name', langFile: '#', langDelete: '#' },
        { LangName: 'Nome do idioma', langDate: '01/01/2021', langUserUpdate: 'User name', langFile: '#', langDelete: '#' },
        { LangName: 'Nome do idioma', langDate: '01/01/2021', langUserUpdate: 'User name', langFile: '#', langDelete: '#' },
        { LangName: 'Nome do idioma', langDate: '01/01/2021', langUserUpdate: 'User name', langFile: '#', langDelete: '#' }
      ],
      confirm
    }
    function confirm () {
      $q.dialog({
        title: 'Remover idioma',
        message: 'Ao remover o idioma, você irá remover toda a tradução do sistema, porém o conteúdo (artigos, publicações',
        cancel: true,
        persistent: true
      }).onOk(() => {
        // console.log('>>>> OK')
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    }
  }
}
</script>
