<template>
<q-table :rows="rows" :columns="columns" row-key="pageName" class="q-mt-lg">
  <template v-slot:body="props">
    <q-tr :props="props">
      <q-td key="pageName" :props="props">{{ props.row.pageName }}</q-td>
      <q-td key="pageUpdate" :props="props">{{ props.row.pageUpdate }}</q-td>
      <q-td key="pageUserUpdate" :props="props">{{ props.row.pageUserUpdate }}</q-td>
      <q-td key="pageLang" :props="props">{{ props.row.pageLang }}</q-td>
      <q-td width="150" key="pageStatus" :props="props"> <q-toggle size="xs" :label="pageStatusToggle" color="green" :false-value="$t('siteSettingContainerPageTableToggleOff')" :true-value="$t('siteSettingContainerPageTableToggleOn')" v-model="pageStatusToggle" /></q-td>
      <q-td key="pageEdit" :props="props"><q-btn :label="$t('siteSettingContainerPageTableButton6Title')" :title="$t('siteSettingContainerPageTableButton6Title')" rounded size="sm" flat to="#" icon="edit_note" /></q-td>
      <q-td key="pageLink" :props="props"><q-btn :label="$t('siteSettingContainerPageTableButton7Title')" :title="$t('siteSettingContainerPageTableButton7Title')" rounded size="sm" flat to="#" icon="link" /></q-td>
      <q-td key="pageDelete" :props="props"><q-btn :title="$t('siteSettingContainerPageTableButton8Title')" round flat size="sm" icon="delete" color="red" @click="confirm" /></q-td>
    </q-tr>
  </template>
</q-table>
</template>
<script>
import { useQuasar } from 'quasar'
import { ref } from 'vue'

const rows = [
  { pageName: 'Nome da página', pageUpdate: '01/01/2021', pageUserUpdate: 'User name', pageLang: 'Portugues', pageEdit: '#', pageLink: '#', pageStatus: '#', pageDelete: '#' },
  { pageName: 'Nome da página', pageUpdate: '01/01/2021', pageUserUpdate: 'User name', pageLang: 'Portugues', pageEdit: '#', pageLink: '#', pageStatus: '#', pageDelete: '#' },
  { pageName: 'Nome da página', pageUpdate: '01/01/2021', pageUserUpdate: 'User name', pageLang: 'Portugues', pageEdit: '#', pageLink: '#', pageStatus: '#', pageDelete: '#' },
  { pageName: 'Nome da página', pageUpdate: '01/01/2021', pageUserUpdate: 'User name', pageLang: 'Portugues', pageEdit: '#', pageLink: '#', pageStatus: '#', pageDelete: '#' },
  { pageName: 'Nome da página', pageUpdate: '01/01/2021', pageUserUpdate: 'User name', pageLang: 'Portugues', pageEdit: '#', pageLink: '#', pageStatus: '#', pageDelete: '#' },
  { pageName: 'Nome da página', pageUpdate: '01/01/2021', pageUserUpdate: 'User name', pageLang: 'Portugues', pageEdit: '#', pageLink: '#', pageStatus: '#', pageDelete: '#' },
  { pageName: 'Nome da página', pageUpdate: '01/01/2021', pageUserUpdate: 'User name', pageLang: 'Portugues', pageEdit: '#', pageLink: '#', pageStatus: '#', pageDelete: '#' },
  { pageName: 'Nome da página', pageUpdate: '01/01/2021', pageUserUpdate: 'User name', pageLang: 'Portugues', pageEdit: '#', pageLink: '#', pageStatus: '#', pageDelete: '#' },
  { pageName: 'Nome da página', pageUpdate: '01/01/2021', pageUserUpdate: 'User name', pageLang: 'Portugues', pageEdit: '#', pageLink: '#', pageStatus: '#', pageDelete: '#' },
  { pageName: 'Nome da página', pageUpdate: '01/01/2021', pageUserUpdate: 'User name', pageLang: 'Portugues', pageEdit: '#', pageLink: '#', pageStatus: '#', pageDelete: '#' }
]
export default {
  name: 'PagesTable',
  data () {
    const $q = useQuasar()

    return {
      columns: [
        { name: 'pageName', required: true, label: this.$t('siteSettingContainerPageTableColumn1Title'), align: 'left', field: row => row.pageName, format: val => `${val}`, sortable: true },
        { name: 'pageUpdate', required: true, label: this.$t('siteSettingContainerPageTableColumn2Title'), align: 'center', field: 'pageUpdate', sortable: true },
        { name: 'pageUserUpdate', required: true, label: this.$t('siteSettingContainerPageTableColumn3Title'), align: 'left', field: 'pageEdit', sortable: true },
        { name: 'pageLang', required: true, label: this.$t('siteSettingContainerPageTableColumn4Title'), align: 'center', field: 'pageLang', sortable: true },
        { name: 'pageStatus', required: true, label: this.$t('siteSettingContainerPageTableColumn5Title'), align: 'center', field: 'pageStatus', sortable: true },
        { name: 'pageEdit', required: true, label: '', field: 'pageEdit' },
        { name: 'pageLink', required: true, label: '', field: 'pageLink' },
        { name: 'pageDelete', required: true, label: '', field: 'pageDelete' }
      ],
      rows,
      confirm,
      // TRADUZIR O TEXTO
      pageStatusToggle: ref('Ativado')
    }
    function confirm () {
      $q.dialog({
        // title: this.$t('siteSettingContainerPageTableModalTitle'),
        title: 'Excluir página',
        // message: this.$t('siteSettingContainerPageTableModalDescription'),
        message: 'Você realmente deseja excluir a página?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        // console.log('>>>> OK')
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    }
  }
}
</script>
