<template>
  <q-table
    ref="tableRef"
    :class="tableClass"
    class="q-mt-lg full-width"
    tabindex="0"
    :rows="rows"
    :columns="columns"
    row-key="name"
    selection="single"
    @focusin="activateNavigation"
    @focusout="deactivateNavigation"
    @keydown="onKey"
    v-model:selected="selected"
    v-model:pagination="pagination"
    :filter="filter"
    :title="$t('managerUsersTableName')"
  >
    <template v-slot:top-right>
    <div class="full-width row wrap justify-end">
      <q-btn-dropdown color="accent" flat :label="$t('managerUsersTableBatchProccess')">
      <div class="row no-wrap column q-pa-md">
        <div class="text-h6 q-mb-md">{{ $t('managerUsersTableBatchProccess') }}</div>
        <q-separator vertical inset class="q-mx-lg" />
        <q-toggle v-model="mobileData" :label="$t('managerUsersTableBatchProccessButton1Label')" />
        <q-btn color="accent" flat icon-right="file_download" :label="$t('managerUsersTableBatchProccessButton2Label')" no-caps class="q-mt-lg" @click="exportTable"/>
      </div>
      </q-btn-dropdown>
      <q-input class="q-px-md col-6" outlined dense debounce="300" color="accent" v-model="filter" :placeholder="$t('managerUsersTableSearchContainer')"><template v-slot:append><q-icon name="search" /></template></q-input>
    </div>
    </template>
    <!--
      jademir, queria pedir que a coluna status fosse substituita por esse tootgle: <q-td key="userStatus" :props="props"><q-toggle color="green" unchecked-icon="person_off" false-value="Disagreed" icon="sentiment_satisfied_alt" true-value="Agreed" v-model="userStatusToggle"/></q-td> e a ultima coluna fosse substituida por um botão que chamasse um modal com os dados da tabela onde o usuário pudesse edicar email, nome, data de nascimento, etc, todas as informações da tabela, exceto a data de criação do usuário
      queria pedir para vc deixar o layout do rodapé dessa tabela semelhante a tabela  '/dashboard'
      a ultima coluna que tá sem o cabeçalho será um ícone de lapis onde o usuário ao clicar abre o dialog com as informações de alterações da tabela.
      -->
  </q-table>
</template>
<script>
import { ref, computed, nextTick } from 'vue'

const rows = [
  { userName: 'Frozen Yogurt', emailLogin: 'frozen yogurt@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Ice cream sandwich', emailLogin: 'ice cream sandwich@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Eclair', emailLogin: 'eclair@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Cupcake', emailLogin: 'cupcake@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Gingerbread', emailLogin: 'gingerbread@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Jelly bean', emailLogin: 'jelly bean@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Lollipop', emailLogin: 'lollipop@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Honeycomb', emailLogin: 'honeycomb@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Donut', emailLogin: 'donut@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'KitKat', emailLogin: 'kitkat@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Frozen Yogurt-1', emailLogin: 'frozen yogurt1@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Ice cream sandwich-1 ', emailLogin: 'ice cream sandwich1@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Eclair-1', emailLogin: 'eclair1@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Cupcake-1', emailLogin: 'cupcake1@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Gingerbread-1', emailLogin: 'gingerbread1@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Jelly bean-1', emailLogin: 'jelly bean1@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Lollipop-1', emailLogin: 'lollipop1@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Honeycomb-1', emailLogin: 'honeycomb1@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Donut-1', emailLogin: 'donut1@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'KitKat-1', emailLogin: 'kitkat1@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Frozen Yogurt-2', emailLogin: 'frozen yogurt2@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Ice cream sandwich-2 ', emailLogin: 'ice cream sandwich2@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Eclair-2', emailLogin: 'eclair2@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Cupcake-2', emailLogin: 'cupcake2@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Gingerbread-2', emailLogin: 'gingerbread2@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Jelly bean-2', emailLogin: 'jelly bean2@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Lollipop-2', emailLogin: 'lollipop2@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Honeycomb-2', emailLogin: 'honeycomb2@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Donut-2', emailLogin: 'donut2@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'KitKat-2', emailLogin: 'kitkat2@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Frozen Yogurt-3', emailLogin: 'frozen yogurt3@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Ice cream sandwich-3 ', emailLogin: 'ice cream sandwich3@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Eclair-3', emailLogin: 'eclair3@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Cupcake-3', emailLogin: 'cupcake3@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Gingerbread-3', emailLogin: 'gingerbread3@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Jelly bean-3', emailLogin: 'jelly bean3@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Lollipop-3', emailLogin: 'lollipop3@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Honeycomb-3', emailLogin: 'honeycomb3@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'Donut-3', emailLogin: 'donut3@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' },
  { userName: 'KitKat-3', emailLogin: 'kitkat3@companyname.com', birthDate: '08/08/2008', userCreate: '10/08/2021', userStatus: '1', userEdit: '3' }
]

export default {
  name: 'UsersTable',
  data () {
    const tableRef = ref(null)

    const navigationActive = ref(false)
    const pagination = ref({})
    const selected = ref([])

    return {
      userStatusToggle: ref('Agreed'),

      tableRef,

      navigationActive,
      filter: ref(''),
      selected,
      pagination,
      columns: [
        { name: 'userName', field: 'userName', sortable: true, align: 'left', label: this.$t('managerUsersTableColumnHeader1') },
        { name: 'emailLogin', field: 'emailLogin', sortable: true, align: 'left', label: this.$t('managerUsersTableColumnHeader2') },
        { name: 'birthDate', field: 'birthDate', sortable: true, align: 'center', label: this.$t('managerUsersTableColumnHeader3') },
        { name: 'userCreate', field: 'userCreate', sortable: true, align: 'center', label: this.$t('managerUsersTableColumnHeader4') },
        { name: 'userStatus', field: 'userStatus', sortable: true, align: 'center', label: this.$t('managerUsersTableColumnHeader5') },
        { name: 'userEdit', field: 'userEdit', sortable: true, align: 'center', label: '' }
      ],
      rows,

      tableClass: computed(() => navigationActive.value === true ? 'shadow-8 no-outline' : null),

      activateNavigation () {
        navigationActive.value = true
      },

      deactivateNavigation () {
        navigationActive.value = false
      },

      onKey (evt) {
        if (
          navigationActive.value !== true || [33, 34, 35, 36, 38, 40].indexOf(evt.keyCode) === -1 ||
          tableRef.value === null
        ) {
          return
        }

        evt.preventDefault()

        const { computedRowsNumber, computedRows } = tableRef.value

        if (computedRows.length === 0) {
          return
        }

        const currentIndex = selected.value.length > 0 ? computedRows.indexOf(selected.value[0]) : -1
        const currentPage = pagination.value.page
        const rowsPerPage = pagination.value.rowsPerPage === 0 ? computedRowsNumber : pagination.value.rowsPerPage
        const lastIndex = computedRows.length - 1
        const lastPage = Math.ceil(computedRowsNumber / rowsPerPage)

        let index = currentIndex
        let page = currentPage

        switch (evt.keyCode) {
          case 36: // Home
            page = 1
            index = 0
            break
          case 35: // End
            page = lastPage
            index = rowsPerPage - 1
            break
          case 33: // PageUp
            page = currentPage <= 1 ? lastPage : currentPage - 1
            if (index < 0) {
              index = 0
            }
            break
          case 34: // PageDown
            page = currentPage >= lastPage ? 1 : currentPage + 1
            if (index < 0) {
              index = rowsPerPage - 1
            }
            break
          case 38: // ArrowUp
            if (currentIndex <= 0) {
              page = currentPage <= 1 ? lastPage : currentPage - 1
              index = rowsPerPage - 1
            } else {
              index = currentIndex - 1
            }
            break
          case 40: // ArrowDown
            if (currentIndex >= lastIndex) {
              page = currentPage >= lastPage ? 1 : currentPage + 1
              index = 0
            } else {
              index = currentIndex + 1
            }
            break
        }

        if (page !== pagination.value.page) {
          pagination.value.page = page

          nextTick(() => {
            const { computedRows } = tableRef.value
            selected.value = [computedRows[Math.min(index, computedRows.length - 1)]]
          })
        } else {
          selected.value = [computedRows[index]]
        }
      }
    }
  }
}
</script>
