<template>
  <q-table :rows='rows' :columns='columns' row-key='name' binary-state-sort>
    <template v-slot:body='props'>
      <q-tr :props='props'>
        <q-td key='name' :props='props'><router-link to="#" target="_blank">{{ props.row.name }}</router-link></q-td>
        <!-- <q-td key='name' :props='props'>{{ props.row.name }}<q-popup-edit v-model='props.row.name'><q-input v-model='props.row.name' dense autofocus counter /></q-popup-edit>
        <q-popup-edit v-model='props.row.formFieldSelect' title='Update formFieldSelect' buttons><q-input type='number' v-model='props.row.formFieldSelect' dense autofocus /></q-popup-edit></q-td> -->
        <q-td key='formFieldSelect' :props='props'>{{ props.row.formFieldSelect }}</q-td>
        <q-td key='formFieldSelectPTBT' :props='props'>{{ props.row.formFieldSelectPTBT }}<q-popup-edit v-model='props.row.formFieldSelectPTBT' :title="this.$t('userChoicesPopTitle')" buttons persistent><q-input type='textarea' v-model='props.row.formFieldSelectPTBT' dense autofocus :hint="this.$t('userChoicesPopUpHint')" /></q-popup-edit></q-td>
        <q-td key='formFieldSelectENUK' :props='props'>{{ props.row.formFieldSelectENUK }}<q-popup-edit v-model='props.row.formFieldSelectENUK' :title="this.$t('userChoicesPopTitle')" buttons persistent><q-input type='textarea' v-model='props.row.formFieldSelectENUK' dense autofocus :hint="this.$t('userChoicesPopUpHint')" /></q-popup-edit></q-td>
        <q-td key='formFieldSelectDelete' :props='props'><q-btn :title="$t('userChoicesTablebutton5Title')" round flat size="sm" icon="delete" color="red" @click="confirm" /></q-td>
      </q-tr>
    </template>
  </q-table>
</template>
<script>
import { useQuasar } from 'quasar'

import { ref } from 'vue'
const rows = [
  { name: '/resume', formFieldSelect: 'Escolaridade', formFieldSelectPTBT: 'Graduação', formFieldSelectENUK: 'University graduate', formFieldSelectDelete: '' },
  { name: '/resume', formFieldSelect: 'Escolaridade', formFieldSelectPTBT: 'Fundamental', formFieldSelectENUK: 'fundamental', formFieldSelectDelete: '' },
  { name: '/resume', formFieldSelect: 'Escolaridade', formFieldSelectPTBT: 'Técnico', formFieldSelectENUK: 'Technician', formFieldSelectDelete: '' },
  { name: '/resume', formFieldSelect: 'Escolaridade', formFieldSelectPTBT: 'Especialista', formFieldSelectENUK: 'Specialist', formFieldSelectDelete: '' },
  { name: '/resume', formFieldSelect: 'Escolaridade', formFieldSelectPTBT: 'Mestrado', formFieldSelectENUK: 'Master\'s degree', formFieldSelectDelete: '' },
  { name: '/resume', formFieldSelect: 'Escolaridade', formFieldSelectPTBT: 'Doutado', formFieldSelectENUK: 'Doctorate', formFieldSelectDelete: '' },
  { name: '/resume', formFieldSelect: 'Escolaridade', formFieldSelectPTBT: 'PhD', formFieldSelectENUK: 'PhD', formFieldSelectDelete: '' },
  { name: '/resume', formFieldSelect: 'Nível', formFieldSelectPTBT: 'Iniciante', formFieldSelectENUK: 'Beginner', formFieldSelectDelete: '' },
  { name: '/resume', formFieldSelect: 'Nível', formFieldSelectPTBT: 'Intermédiario', formFieldSelectENUK: 'Intermidiate', formFieldSelectDelete: '' },
  { name: '/resume', formFieldSelect: 'Nível', formFieldSelectPTBT: 'Avançado', formFieldSelectENUK: 'Advanced', formFieldSelectDelete: '' },
  { name: '/resume', formFieldSelect: 'Nível', formFieldSelectPTBT: 'Fluent', formFieldSelectENUK: 'Fluent', formFieldSelectDelete: '' }
]

export default {
  name: 'UserChoiceTable',
  data () {
    const $q = useQuasar()

    return {
      confirm,
      rows: ref(rows),
      columns: [
        { sortable: true, align: 'left', name: 'name', label: this.$t('userChoicesTableColumn1'), field: (row) => row.name, format: (val) => `${val}`, required: true },
        { sortable: true, align: 'left', name: 'formFieldSelect', label: this.$t('userChoicesTableColumn3'), field: 'formFieldSelect' },
        { sortable: true, align: 'left', name: 'formFieldSelectPTBT', label: this.$t('userChoicesTableColumnPTBR'), field: 'formFieldSelectPTBT' },
        { sortable: true, align: 'left', name: 'formFieldSelectENUK', label: this.$t('userChoicesTableColumnENUK'), field: 'formFieldSelectENUK' },
        { name: 'formFieldSelectDelete', field: 'formFieldSelectDelete' }
      ]
    }
    function confirm () {
      $q.dialog({
        // title: this.$t('siteSettingContainerPageTableModalTitle'),
        title: 'Excluir opção',
        // message: this.$t('siteSettingContainerPageTableModalDescription'),
        message: 'Você realmente deseja excluir a opção?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        // console.log('>>>> OK')
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    }
  }
}
</script>
