<template>
  <section class="section-container blog-posts">
    <div class="container">
      <header class="header-section full-width row wrap justify-between">
        <div>
          <h1 class="section-title">
            <strong>{{ $t('blogSectionTitle1') }}</strong> <!-- {{ $t('blogSectionTitle2') }} -->
          </h1>
          <p>{{ $t('blogPageDescription') }}</p>
        </div>
        <div class="section-button">
          <div class="mobile-only q-pa-sm"></div>
           <div class="fit row  justify-center q-py-sm">
            <!-- <q-btn to="/blog" class="btn-fixed-width" outline color="accent" :label="$t('blogSectionButton')" icon-right="arrow_right_alt"/> -->
            <q-btn to="/blog" color="accent" :label="$t('blogButtonUmainPublication')" />
          </div>
        </div>
      </header>
      <hr />
      <div class="post-list full-width row wrap justify-around items-center content-center">
        <PostCard v-for="post in posts" :key="post.id" :postData="post"></PostCard>
      </div>
      <div class="fit row  justify-center q-py-sm">
        <q-btn to="/blog" class="btn-fixed-width" outline color="accent" :label="$t('blogSectionButton')" icon-right="arrow_right_alt"/>
      </div>
      <div class="row q-py-xl">
        <div class="text-center q-mx-auto g-col-12 g-col-md-6">
          <div class="text-h4">{{$t('quizTitle')}}</div>
            <p class="q-pt-lg q-mb-md">{{$t('quizDescription1')}}<br>{{$t('quizDescription2')}}</p>
            <a style="text-decoration: none" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScbi4GTpwd4xA4mAO-eYfg54Ef6XODsLOmeRSRYs5reDxaong/viewform">
             <q-btn color="accent" icon="quiz" label="Start quiz" />
            </a>
          </div>
      </div>
    </div>
  </section>
</template>

<script>
import PostCard from './../posts/PostCard.vue'
// import PostButtons from './../posts/PostButtons.vue'

export default {
  name: 'BlogSection',
  components: {
    PostCard
    // PostButtons
  },
  data () {
    return {
      urlAPI: process.env.API + 'images/',
      posts: []
    }
  },
  methods: {
    listPosts () {
      const url = process.env.API + 'posts?includes=postCategory,postPhoto,user&active=true&limit=8'
      this.$axios.get(url).then(response => {
        this.posts = response.data.map(post => {
          post.createdAt = post.createdAt.split('T')[0]
          if (!post.postPhoto[0]) {
            post.postPhoto[0] = ({ url: '~assets/img/placeholder-image.png', description: 'Placeholder image' })
          } else {
            post.postPhoto[0] = ({ url: this.urlAPI + post.postPhoto[0].url, description: post.postPhoto[0].description })
          }
          return (post)
        })
      })
    }
  },
  beforeMount () {
    this.listPosts()
    if (window.sessionStorage.token) {
      this.userLogged = true
    }
  }
}
</script>
