<template>
  <section class="section-container candidatos-destaques">
    <div class="container">
      <header class="header-section ">
        <h1 class="section-title">
          {{ $t('candidateSectionTitle1') }} <strong>{{ $t('candidateSectionTitle2') }}</strong>
        </h1>
        <div class="section-button">
          <div class="mobile-only q-pa-sm"></div>
          <q-btn color="primary" flat to="candidates" icon-right="arrow_right_alt" :label="$t('candidateSectionButton')" />
        </div>
      </header>
      <hr>
      <div class="row">
        <div class="col-6 col-md-4 col-lg q-pa-md" v-for="candidate in candidates.filter(c => c.companyAccount != true)" :key="candidate.id"><CandidateCard :candidate="candidate"></CandidateCard></div>
      </div>
    </div>
  </section>
</template>

<script>
import CandidateCard from '../candidate/CandidateCard.vue'
export default {
  name: 'Candidates',
  components: {
    CandidateCard
  },
  data () {
    return {
      candidates: []
    }
  },
  methods: {
    listCandidates () {
      const url = process.env.API + 'users?includes=userPhoto,country&company_account=false'
      this.$axios.get(url).then(response => {
        this.candidates = (response.data)
      })
    }
  },
  created () {
    this.listCandidates()
  }
}
</script>
