<template>
  <section class="full-width row wrap justify-center items-center content-center  company-container">
    <div class="">
      <!-- <video aria-hidden="true" tabindex="-3" class="mobile-hide desktop-only" autoplay muted loop>
        <source src="~assets/video/pexels-kindel-media-6774646.mp4" type="video/mp4">
      </video> -->
      <div class="container">
        <header class="header-section ">
          <h1 class="section-title"><strong>{{ $t('companySectionTitle1') }} </strong> {{ $t('companySectionTitle2') }} </h1>
          <!-- <p>{{ $t('companySectionDescription') }}</p> -->
        </header>
        <div class="content">
          <q-btn to="/account/signup" class="btn-new-company" color="secondary" flat icon="business" :label="$t('companySectionButton')" />
          <CompanyTestimonials class="testimonials q-my-lg"></CompanyTestimonials>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import CompanyTestimonials from '../company/CompanyTestimonials.vue'
export default {
  name: 'Company',
  components: {
    CompanyTestimonials
  },
  data () {
    return {
      testimonials: []
    }
  },
  methods: {
    listTestimonials () {
      const url = process.env.API + 'testimonials?includes=company,user'
      this.$axios.get(url).then(response => {
        this.testimonials = (response.data)
      })
    }
  },
  beforeMount () {
    this.listTestimonials()
  }
}
</script>
