<template>
  <section class="section-container oportunidades-recentes">
    <div class="container">
      <header class="header-section ">
        <h1 class="section-title">
          {{ $t('jobSectionTitle1') }} <strong>{{ $t('jobSectionTitle2') }}</strong>
        </h1>
        <div class="section-button">
          <div class="mobile-only q-pa-sm"></div>
          <q-btn to="/jobs" color="primary" flat  icon-right="arrow_right_alt" :label="$t('jobSectionButton')" />
        </div>
      </header>
      <hr>
      <div class="full-width row justify-between items-start content-start">
        <div class="oportunidades-lista col-12 col-md-8">
          <RecentsJobs></RecentsJobs>
          <div class="fit row  justify-center q-py-sm">
            <q-btn to="/jobs" class="btn-fixed-width" outline color="accent" :label="$t('jobSectionButton')" icon-right="arrow_right_alt"/>
          </div>
          <div class="q-mb-md mobile-only"></div>
        </div>
        <aside class="col-12 col-md-4">
          <JobsCategories></JobsCategories>
          <CompaniesRanking></CompaniesRanking>
        </aside>
      </div>
    </div>
  </section>
</template>

<script>
import JobsCategories from '../jobs/JobsCategories.vue'
import CompaniesRanking from '../company/CompaniesRanking.vue'
import RecentsJobs from '../jobs/JobsRecents.vue'

export default {
  name: 'Jobs',
  components: {
    JobsCategories,
    CompaniesRanking,
    RecentsJobs
  }
}
</script>
