<template>
  <q-form @submit="onSubmit" @reset="onReset">
      <div class="search-form q-pa-lg rounded-borders">
          <div class="row full-width q-col-gutter-md">
            <q-input
              outlined
              class="search-field col-12 col-md-5 col-lg-5"
              v-model="search.cargo"
              required
              lazy-rules
              :label="$t('mainFormLabel1')"
              :hint="$t('mainFormHint1')"
              :rules="[(val) =>(val && val.length > 0) || $t('mainFormHint1'),]"
            />
            <q-select
              outlined
              class="search-type col-12 col-md-4 col-lg-5"
              v-model="search.caracteristicas"
              :options="options"
              :label="$t('mainFormLabel2')"
              :hint="$t('mainFormLabel2')"
            />
            <div class="search-button col-12 col-md">
              <q-btn
              class="btn-search btn-fixed-width full-width"
              color="accent"
              icon="search"
              :label="$t('mainFormLabel3')"
              />
            </div>
          </div>
      </div>
  </q-form>
 </template>

<script>
import { ref } from 'vue'

export default {
  name: 'SearchForm',
  data () {
    return {
      model: ref(null),
      jobModel: ref('Job'),
      options: ['job', 'company'],
      search: {
        cargo: null,
        caracteristicas: null
      }
    }
  },
  methods: {
  }
}
</script>
