a {

  &:hover,
  &:focus {
    color: var($primary);
    border-color: var($primary);
    box-shadow: 0 0 0px 1px var($primary), 0 0 0px 5px rgba(107, 44, 145, 0.25);
    outline: none;
    position: relative;
    z-index: 3;
  }
}
