.btn {
  &-resume {
    background-color: $secondary;

    color: #000;
    font-weight: 500;

    &:hover,
    &:focus {
      background-color: $dark;
      color: #fff;
    }
  }

  &-search {
    &:before {
      box-shadow: none;
    }
  }

  &-new-company {
    background: $secondary;
    color: $grey-10 !important;
  }

  &-new-company,
  &-resume {

    &:hover,
    &:focus {
      background-color: $dark;
      color: #fff !important;
    }
  }
}
