.card {
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: none;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  padding: 1rem;

  .q-card__section {
    padding: 0;
  }

  &-title {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem;
    line-height: 1.5;
    margin: 0 !important;
  }
}
