fieldset {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-width: 1px 0 0 0;
  padding: 0;
  margin: 0 0 3rem 0;

  legend {
    margin: 0 0 2rem 0;
    padding: 0 1rem 0 0;
    text-transform: uppercase;
    color: #000;
    font-size: 1.25rem;
  }
}
