.footer {
  &-page {
    background: darken($primary, 25%);
  }

  &-newsletter {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    h6 {
      color: #fff;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1;
      font-weight: 300;

      span {
        font-size: 2rem;
      }
    }
  }

  &-social {
    transition: opacity .5s linear;

    img {
      opacity: 0.5;
      width: 24px;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
  &-copyright{
      text-transform: uppercase;
      font-weight: 400;
  }
}

@media screen and (max-width:$breakpoint-sm-max) {
  .footer {
    &-page {
      padding: 24px;
    }

    &-newsletter {
      text-align: center;

      p {
        padding-bottom: 1rem;
      }
    }
  }
}
