header.q-header {
  padding: 0.5rem;
  background-color: $primary !important;
  align-items: center;
  justify-content: center;

  .q-toolbar {
    flex-wrap: wrap !important;

    &__title {
      flex: auto;

      &,
      & img {
        height: 36px;
      }

      & img {
        margin: auto;

      }
    }
  }
}



@media (max-width: $breakpoint-xs) {
  .q-toolbar {
    align-items: center;
    justify-content: center;

    &__title {
      text-align: center;

      &,
      & img {
        width: 85%;
        min-height: 36px;
      }

      & img {
        width: 100%;
        min-height: 100%;
        margin: auto;
      }
    }
  }
}
