.list-group {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, .125);
    border-bottom-width: 1px;

    .q-btn__content {
      display: flex;
      justify-content: space-between;


      span,
      i {
        float: left;
      }

      span {
        width: calc(100% - 40px);
        display: block;
        text-align: left;
      }
    }

    a {
      // padding: 0;
      width: 100%;

      &:hover {
        background-color: transparent;
      }
    }

    &:last-child {
      border-bottom-width: 0;
      border-radius: 0 0 .25rem .25rem;
    }
  }
}
