.menu {
  &-section {
   
  }

  &-main {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }

  &-footer {
    padding: 15px 24px 8px;
    text-align: center;
    opacity: 0.65;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: var(--q-dark);
      &:hover {
        color: var(--main-color);
        opacity: 1;
      }
    }
  }
}
