<template>
<div class="col-12 col-md-4 q-mb-xl">
  <aside class="job-aside q-py-md rounded-borders">
      <div class="q-ma-md q-mb-lg text-center">
        <q-btn class="q-mr-sm" to="job" size="md" dense flat color="accent" icon="star" :label="$t('jobAsideButtonName')" :title="$t('jobAsideButtonTitle')" />
      </div>
      <strong class="aside-title">{{ $t('jobAsideSectionTitle') }}</strong>
      <CompanyInfo />
      <div class="q-pa-md"></div>
      <strong class="aside-title">{{ $t('jobAsideSectionShare') }}</strong>
      <SocialLinks />
      <div class="q-pa-md">
        <q-btn to="/company" align="around" flat class="mx-auto full-width " icon="arrow_back" :label="$t('jobAsideButtonLabelName')" />
      </div>
  </aside>
</div>
</template>
<script>
import CompanyInfo from '../company/CompanyInfo.vue'
import SocialLinks from '../SocialLinks.vue'
export default {
  name: 'JobAside',
  components: {
    CompanyInfo,
    SocialLinks
  },
  setup () {
    return {}
  }
}
</script>
