<template>
  <q-card class="job-card card">
    <q-card-section horizontal>
      <div class="row full-width">
        <picture class="col-12 col-md col-lg no-padding no-margin desktop-only">
          <q-img role="img" loading="lazy" spinner-color="white" :title="$t('jobCardLogoTitle')" :alt="$t('jobCardLogoAlt')" class="rounded-borders" :ratio="1" src="https://picsum.photos/500/500.jpg" />
          <q-btn class="no-pointer-events q-my-sm" color="grey-5" to="job" size="sm" dense flat icon="event" :label="$t('jobCardPublishDate')" :title="$t('jobCardPublishDate')" />
        </picture>
        <q-card-section class="card-content col-12 col-md-8 col-lg-9">
          <router-link to="company" role="h3" class="block job-empresa text-h3" title="{[job title]} - [company name]" >{{jobData.company}}</router-link>
          <router-link to="job" role="h2" class="block job-vaga text-h2" :title="$t('jobCardVacancies')">
              <q-badge floating rounded align="top" color="accent">{{jobData.vacancies}}</q-badge> {{ jobData.title ? jobData.title : ''}}
          </router-link>
          <div class="job-excerpt text-caption text-grey" v-html="jobData.description">
          </div>
        </q-card-section>
      </div>
    </q-card-section>
    <q-separator color="grey-1" class="q-my-md" />
    <div class="full-width row wrap items-end content-start">
      <!-- <q-btn flat dense to="category"  icon="bookmark" color="primary" :label="jobData.jobCategory?.title" :title="$t('jobCardCategoriesTitle')" />
      <q-btn flat dense to="job" icon="business_center" :label="jobData.companyArea?.description" class="no-pointer-events"  :title="$t('jobCardSector')" /> -->
      <q-btn v-if="!user.companyAccount" flat dense to="job" icon="star" color="accent"  :label="$t('jobCardButtonApplyLabel')" :title="$t('jobCardButtonApplyTitle')" />
    </div>
    <div v-if="internalAccess" class="job-action q-mt-lg">
      <q-btn-group flat outline spread>
      <q-btn flat outline color="red" :label="$t('jobCardButtonClose')" @click="removePost" icon="highlight_off" />
      <q-btn flat outline color="accent" :label="$t('jobCardButtonEdit')" icon="edit" :to="'/update-job/' + jobData.id" />
      </q-btn-group>
    </div>
  </q-card>
</template>
<script>
export default {
  name: 'JobCard',
  props: {
    jobData: {
      type: Object,
      required: true
    },
    internalAccess: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    user () {
      return this.$store.state.user.userData
    }
  },
  methods: {
    removePost () {
      this.$q.dialog({
        title: 'Alert',
        message: 'Do you really want to remove? this action is irreversible.',
        cancel: true,
        persistent: true
      }).onOk(() => {
        const url = process.env.API + 'jobs/' + this.jobData.id
        this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
        this.$axios.put(url, { active: false }).then(response => {
          this.$q.notify('Job removed successfully')
          this.$emit('updateValue')
          this.$router.push('/company')
        }).catch(error => {
          console.log(error)
        })
      })
    }
  }
}
</script>
