<template>
  <div>
    <div v-for="job in jobs" :key="job.id" class="col-12 col-md-6"><JobCard :jobData="job" /></div>
  </div>
</template>

<script>
import JobCard from './JobCard.vue'
export default {
  name: 'JobsRecents',
  components: {
    JobCard
  },
  data () {
    return {
      jobs: []
    }
  },
  methods: {
    listJobs () {
      const url = process.env.API + 'jobs?includes=jobCategory,companyDepartments'
      this.$axios.get(url).then(response => {
        this.jobs = (response.data)
      })
    }
  },
  beforeMount () {
    this.listJobs()
  }
}

</script>
