<template>
  <q-card class="card no-padding job-categorias">
    <h2 class="card-title">
      {{ $t('jobCardCategoryTitle') }}
    </h2>
    <q-card-section>
      <ul class="list-group " id="categories">
        <li class="no-padding" v-for="category in categories" :key="category.id">
          <q-btn to="#" flat icon-right="chevron_right" class="q-px-md ellipsis" :title="category.title">
           <div :title="$t('jobCardCategoryLinkTitle')" class="ellipsis">
             {{category.title}}
           </div>
          </q-btn>
        </li>
      </ul>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'JobsCategories',
  data () {
    return {
      categories: []
    }
  },
  methods: {
    listCategories () {
      const url = process.env.API + 'job-categories'
      this.$axios.get(url).then(response => {
        this.categories = response.data
      }).catch(error => {
        console.log(error)
      })
    }
  },
  beforeMount () {
    this.listCategories()
    // this.categories = [{ id: 1 }, { id: 3 }, { id: 4 }]
  }
}
</script>
