<template>
<q-table :rows="rows" :columns="columns" row-key="vacancy" class="q-mt-lg">
  <template v-slot:body="props">
    <q-tr :props="props">
      <q-td key="vacancy" :props="props">{{ props.row.vacancy }}</q-td>
      <q-td key="company" :props="props">{{ props.row.company }}</q-td>
      <q-td key="date" :props="props">{{ props.row.date }}</q-td>
      <q-td key="link" :props="props"><q-btn :title="$t('dashboardJobTableButton') + ' ' + props.row.vacancy" round size="sm" flat color="accent" to="#" icon="arrow_forward" /></q-td>
    </q-tr>
  </template>
</q-table>
</template>
<script>
const rows = [
  { vacancy: 'Frozen', company: 'company name', date: '05/05/2025', link: '#' },
  { vacancy: 'Ice', company: 'company name', date: '05/05/2025', link: '#' },
  { vacancy: 'Eclair', company: 'company name', date: '05/05/2025', link: '#' },
  { vacancy: 'Cupcake', company: 'company name', date: '05/05/2025', link: '#' },
  { vacancy: 'Gingerbread', company: 'company name', date: '05/05/2025', link: '#' },
  { vacancy: 'Jelly', company: 'company name', date: '05/05/2025', link: '#' },
  { vacancy: 'Lollipop', company: 'company name', date: '05/05/2025', link: '#' },
  { vacancy: 'Honeycomb', company: 'company name', date: '05/05/202', link: '#' },
  { vacancy: 'Donut', company: 'company name', date: '05/05/2025', link: '#' },
  { vacancy: 'KitKat', company: 'company name', date: '05/05/2025', link: '#' }
]
export default {
  name: 'JobTable',
  data () {
    return {
      columns: [
        { name: 'vacancy', required: true, label: this.$t('dashboardJobTableColumn1'), align: 'left', field: row => row.vacancy, format: val => `${val}`, sortable: true },
        { name: 'company', required: true, label: this.$t('dashboardJobTableColumn2'), align: 'left', field: 'company', sortable: true },
        { name: 'date', required: true, label: this.$t('dashboardJobTableColumn3'), align: 'left', field: 'date', sortable: true },
        { name: 'link', required: true, label: '', align: 'center', field: 'link', sortable: false }
      ],
      rows
    }
  }
}
</script>
