.company {

  &-banner {
    margin-top: -45px;
    @extend .page-cover;

    .q-avatar {
      box-shadow: 0 0 0px 10px #fff;
      width: 140px;
      height: 140px;
    }
  }
}


@media screen and (max-width: $breakpoint-xs-max) {
  .company-banner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
