.page-container {
  &-bg {
    background: lighten($primary, 55%);
  }
}
.page-home-user {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.home {

  &-jobs{
    border-radius: 4px;
    background: #fff;
    box-shadow: $shadow-3;
  }

  &-avatar {
    &-name {
      font-weight: 700;
      font-size: 1.5rem
    }
  }
}


.card-horizontal {
  box-shadow: none;
  margin-bottom: 1rem;

  &:hover,
  &:focus {
    box-shadow: $shadow-1;
  }

  .q-card__section {
    padding: 0;

    img {
      border-radius: 0 4px 4px 0 !important;
    }
  }

  &-content {
    // padding: 1rem;

    a {
      display: block;
      text-decoration: none;
      color: #141414;
      margin-bottom: 1rem;

      &.q-btn {
        padding: 0.5rem;
        margin-bottom: 0;
      }
    }
  }

}
