/* ------------------------- */
.jobs {
  strong {
    display: block;
  }

  &-banner {
    margin-top: -45px;
  }

  .q-avatar {
    box-shadow: 0 0 0px 10px #fff;
    width: 140px;
    height: 140px;
  }

  &-content {
    // @extend .post-content;
    padding-top: 0 !important;
  }

  &-list-item {
    padding: 0 0.5rem 0;
  }
}
@media screen and (max-width: $breakpoint-xs-max) {
  .job-banner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
