.login {
  &-page {
    display: block;

    width: 100%;
    height: 100%;

    .q-page-container {
      padding: 0 !important;
      margin: 0 !important;
    }

    &:after {
      z-index: -1;
      content: "";
      display: block;
      background: $primary;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  strong {
    display: block;
    font-size: 1.5rem;
  }

  &-logo {
    height: auto;
    margin: 0;
    margin-bottom: 1rem;
    display: block;



    a {
      display: block;
      width: 100%;
      height: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;

      img {
        width: 65%;
        height: auto;
        max-height: 80%;
        margin: 0;
      }
    }
  }

  &-button {
    background: darken($primary, 15%);
    color: #fff;
    @extend .mx-auto;
    display: flex;
    padding: 0.5rem 2rem !important;
  }

  a {
    color: $primary
  }
}
