.post {
  &-content {
    font-size: 1rem;
    // padding: 75px 0 0 40px;
    color: $dark-page;

    &:after {
      content: "";
      background: transparent url(~assets/logo/logo-reduzida.svg) center
        no-repeat;
      background-size: contain;
      width: 2rem;
      height: 25px;
      display: block;
      @extend .mx-auto;
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    h4 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    h5 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    h6 {
      font-size: 0.85rem;
      margin-bottom: 0.85rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      line-height: 1.5;
    }

    img {
      box-shadow: $shadow-1;
      max-width: 100%;
      height: auto;
    }

    table {
      border-collapse: collapse;

      th,
      td {
        padding: 0.5rem;
      }

      tr {
        border: 0.5px solid $grey-5;

        &:nth-child(even) {
          background: #f1f1f1;
        }
      }

      thead {
        background: $primary;
        border: 0.5px solid $primary;
        color: lighten($primary, 100%);
      }

      &,
      caption {
        width: 100%;
      }
    }
  }

  &-category {
    font-size: 1rem;
    display: inline-block !important;
    width: auto !important;
  }

  &-action {
  }

  &-title {
    h1 {
      // font-size: 3rem;
      // color: $primary;
      font-weight: 500;
      margin-bottom: 0;
      line-height: 1.2;
    }
  }

  &-meta {
    display: block;
    padding: 1.5rem 0 3rem;
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 15px;
      background: $primary;
      position: absolute;
      bottom: 25px;
    }

    span {
      padding-right: 1rem;
    }

    span {
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.article {
  &-banner {
    margin-top: 0;
    figcaption {
      padding: 0.5rem 1rem;
      color: $input-text-color;
      font-size: small;
      right: 0.5rem;
      bottom: 0.5rem;
      background: #fff;
      box-shadow: $shadow-10;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .article-banner,
  .post-content {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}

.related-posts {
  padding: 0.5rem 1rem 2rem;
  strong {
    display: block;
  }

  & > div {
    border-radius: 4px;
  }
}
