<template>
  <q-page>
    <q-img role="img" class="page-cover" alt="Soon" title="Soon" src="~assets/img/about-us.svg" :fit="cover" :ratio="16/9" />
    <article class="container q-my-xl">
      <BreadCrumbs :items="itemsBreadCrumbs" />
      <header class="section-header">
        <h1 class="section-title">
        About Us
        </h1>
      </header>
      <div>
        <p>Welcome to <strong class="text-accent">UMAIN (You May Act for Inclusion)</strong>, a part of the <a href="https://www.manchester.ac.uk/connect/jobs/equality-diversity-inclusion/" target="-blank">DIVERSIFICA</a> (Diversity, Inclusion, and Visible Equality for a Real Faire Industry, Community, and Academy) project, funded by the Social Responsibility Catalytic programme of the <a href="https://www.manchester.ac.uk/" target="-blank">University of Manchester</a>, UK.</p>
        <p>The main purpose of <strong class="text-accent">UMAIN</strong> is to create connection between people from different backgrounds and offer opportunities to academy, industry and community to increase the diversity, inclusion and equality in their workplace.</p>
        <p>This a website is integrated with a smart databank where different ethnic groups, LGBTqIA+ comunity, people with disability and any other background can include their profile/CV and increase their visibility for a potential job offer and/or application. Potential employers interested in increasing the diversity, equality and inclusion in their workplace can find profiles of interest for a potential job offer or interviews. We are willing through this project to enhance the development of people through connections and create a network of support.</p>
        <p>This is a space where the visibility of minorities can increase offering opportunities for them in the industry and universities. Through this space created by DIVERSIFICA potential employees, employers, researchers and companies can also connect to each other. As the idea is to be as inclusive as possible, <strong class="text-accent">UMAIN</strong> will be focused on minorities however anyone can, and is highly recommended to include their profile and CV in this databank. It is open to anyone and everyone.</p>
        <p>Here the University, companies and you May Act for Inclusion.</p>
        <p>Since the conception of the website/databank is its own example inclusive and diverse since the leaders of the project as well as the team who worked to produce this are from diverse backgrounds.</p>
        <p><strong>The project is led by:</strong></p>
        <p><a href="https://www.research.manchester.ac.uk/portal/en/researchers/polyanna-da-conceicao-bispo(38db5c47-9b9a-48e5-b227-3cc405460705)/publications.html?page=0&pageSize=20">Dr. Polyanna da Conceição Bispo</a>, Lecturer in Physical Geography and Equality Diversity and Inclusion Officer of the Department of Geography at the University of Manchester, UK and by Prof. Francisco Lima, psychophysicist and Professor in Inclusive Education and in Human Rights of people with Disabilities, at the Federal University of Pernambuco, Brazil.</p>
       </div>
    </article>
  </q-page>
</template>

<script>
import BreadCrumbs from '../components/BreadCrumbs.vue'

export default {
  name: 'About',
  components: {
    BreadCrumbs
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'About'
        }
      ]
    }
  }
}
</script>
