<template>
  <q-page>
    <q-img
      role="img"
      class="page-cover"
      alt="Soon"
      title="Soon"
      src="~assets/img/about-us.svg"
      :fit="cover"
      :ratio="16 / 9"
    />
    <article class="container q-my-xl">
      <BreadCrumbs :items="itemsBreadCrumbs" />
      <header class="section-header">
        <h1 class="section-title">Blog comment policy</h1>
      </header>
      <div>
        <p>
          The <strong class="text-accent">UMAIN</strong> website maintains an
          official presence on six social media sites: Facebook, Instagram,
          LinkedIn, WhatsApp, Twitter, and YouTube. These accounts are produced,
          maintained, and monitored by the
          <strong class="text-accent">UMAIN</strong> team and volunteers.
        </p>
        <p>
          All users are welcome and encouraged to share content on the
          <strong class="text-accent">UMAIN</strong> website and social media.
          Remember that you are personally responsible for all content you post
          online whether in a blog, on a social networking site, or in the
          comments section.
        </p>
        <p>
          Content posted by other users on
          <strong class="text-accent">UMAIN</strong> social media pages does not
          necessarily reflect
          <strong class="text-accent">UMAIN</strong> opinions or policies. Links
          to content on other websites should not be construed as an endorsement
          of the organizations, entities, views or content contained therein.
          The <strong class="text-accent">UMAIN</strong> team is not responsible
          for the content of those external websites.
        </p>
        <p>
          By posting content to any
          <strong class="text-accent">UMAIN</strong> social media page, users
          understand and acknowledge that this information is available to the
          public, and that other participants may use posted information beyond
          the control of the <strong class="text-accent">UMAIN</strong> team.
          Users who do not wish to have information they have made available via
          these sites used, published, copied and/or reprinted, should not post
          on <strong class="text-accent">UMAIN</strong> social media pages.
        </p>
        <p>
          All users are expected to adhere to site-specific Terms of Use when
          posting content to an official
          <strong class="text-accent">UMAIN</strong> social media page.
          <strong class="text-accent">UMAIN</strong> reserves the right, but is
          not obligated, to remove content from
          <strong class="text-accent">UMAIN</strong> social media sites for any
          reason. However, we will remove contents that are discriminatory,
          derogatory and/or offensive.
        </p>
        <p>
          If you plan to share content on a
          <strong class="text-accent">UMAIN</strong> social media page, observe
          the following guidelines.
        </p>
        <h2 class="text-h5">Stay on topic.</h2>
        <p>
          When commenting under an existing post, please keep comments on topic.
          However, if you have a question about the
          <strong class="text-accent">UMAIN</strong>, feel free to post it and
          our team will try to answer it in a timely manner.
        </p>
        <h2 class="text-h5">Do not post spam or advertisements.</h2>
        <p>
          Unauthorized commercial solicitations are not permitted on
          <strong class="text-accent">UMAIN</strong> social media pages and will
          be removed. Users who continuously post unauthorized advertisements on
          <strong class="text-accent">UMAIN</strong> social media pages will
          risk being banned from posting.
        </p>
        <h2 class="text-h5">
          Observe confidentiality laws at all times. Observe fair use, copyright
          and disclosure laws.
        </h2>
        <p>
          Always give people credit for their work, and make sure you have the
          right to use content before you post it on social media sites.
        </p>
        <h2 class="text-h5">Be truthful in your posts.</h2>
        <p>
          Never represent yourself or the
          <strong class="text-accent">UMAIN</strong> website in a false or
          misleading way. All statements must be true; all claims must be
          substantiated.
        </p>
        <h2 class="text-h5">Do not bully or harass other users.</h2>
        <p>
          We welcome civilized dialogue on all issues. If you disagree with
          another user's opinion, please keep your comments respectful. Do not
          threaten, bully or harass other users. Comments that harass other
          posters will be deleted. Please be respectful toward other
          contributors.
        </p>
        <h2 class="text-h5">Refrain from using hateful speech.</h2>
        <p>
          Be respectful of others. Do not attack other users based on their
          race, ethnicity, national origin, religion, political opinion, sex,
          gender, sexual orientation, disability or medical condition. Comments
          that attack an individual directly will be deleted.
        </p>
        <h2 class="text-h5">Do not use vulgar language or profanity.</h2>
        <p>
          The <strong class="text-accent">UMAIN</strong> team reserves the right
          to remove comments and posts that contain profanity.
        </p>
        <h2 class="text-h5">
          Do not post content that contains graphic violence or pornography.
        </h2>
        <p>
          <strong class="text-accent">UMAIN</strong> has a strict policy against
          the sharing of pornographic content and rejects any display of nudity
          and graphic violence. Note that comments including abusive,
          threatening, pornographic, offensive, misleading or libelous language
          will be deleted.
        </p>
        <h2 class="text-h5">
          Anonymous comments will be deleted. We only accept comments from
          posters who identify themselves.
        </h2>
        <p>
          The owner of a blog has the right to edit or delete any of their posts
          without notice or consent. The
          <strong class="text-accent">UMAIN</strong> team reserves the right to
          edit or delete any comments submitted to the blog without notice. This
          comment policy is subject to change at any time. If you have any
          questions about the commenting policy, please let us know at
          <a class="text-accent" href="mailto:umain.today@gmail.com"
            >umain.today@gmail.com</a
          >
        </p>
      </div>
    </article>
  </q-page>
</template>

<script>
import BreadCrumbs from '../components/BreadCrumbs.vue'

export default {
  name: 'Comment Policy',
  components: {
    BreadCrumbs
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Comment Policy'
        }
      ]
    }
  }
}
</script>
