<template>
    <q-page>
      <q-img role="img" class="page-cover q-mb-lg"  alt="Key with trinket in shabby door" title="Photo by Andrea Piacquadio from Pexels" src="~assets/img/pexels-andrea-piacquadio-3769979.jpg" :fit="cover" :ratio="16/9" />
      <article class="container q-my-xl">
        <BreadCrumbs :items="itemsBreadCrumbs" />
        <header class="section-header">
        <h1 class="section-title">Contact Us</h1>
        <p>We appreciate your comments and questions about our activities and services. <br> Fill out the form below and we will get back to you as soon as possible.</p>
        </header>
        <div class="q-pt-lg row">
        <div class="col-12 col-md-10 mx-auto q-mb-lg">
        <FormContact />
        </div>
      </div>
      </article>
    </q-page>
</template>

<script>
import FormContact from '../components/FormContact.vue'
import BreadCrumbs from '../components/BreadCrumbs.vue'
export default {
  name: 'Contact',
  components: {
    BreadCrumbs,
    FormContact
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Contact'
        }
      ]
    }
  }
}
</script>
