<template>
  <q-page>
    <section class="banner full-width row wrap justify-center items-center content-center">
      <div class="col-12 col-md-8 search-container" id="search">
        <h1>{{ $t('mainSearch1') }} <span class="text-bold">{{ $t('mainSearch2') }}</span>.</h1>
        <!-- <SearchForm /> -->
      </div>
    </section>
    <Jobs />
    <Blog />
    <Candidates />
    <Company />
    <Footer />
  </q-page>
</template>

<script>
// import SearchForm from 'components/sections/SearchForm.vue'
import Jobs from 'components/sections/Jobs.vue'
import Blog from 'components/sections/Blog.vue'
import Candidates from 'components/sections/Candidates.vue'
import Company from 'components/sections/Company.vue'

export default {
  name: 'PageIndex',
  components: {
    // SearchForm,
    Jobs,
    Blog,
    Candidates,
    Company
  }
}
</script>
