<template>
  <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-mt-lg" :items="itemsBreadCrumbs" />
    <div class="q-mx-md q-pa-md page-container-bg rounded-borders row">
      <header class="section-header q-mb-lg col-12 full-width row wrap justify-between items-center content-center">
        <h1 class="section-title">
          {{ $t('newPagePageTitle1') }} <strong>{{ $t('newPagePageTitle2') }}</strong>
        </h1>
        <!-- <q-btn flat icon="arrow_back" to="/my-blog" :label="$t('newPagePageButtonBack')" /> -->
      </header>
      <div class="q-px-none full-width">
        <q-input color="accent" bg-color="white" outlined v-model="text" :label="$t('newPageInput1Label')" stack-label/>
        <RichText class="q-my-lg" />
        <div class="col-12 full-width row wrap justify-between items-center content-center q-col-gutter-md">
            <q-skeleton height="56px" class="col-12 col-md" />
            <q-file class="col-12 col-md-6" bg-color="white" color="accent" outlined bottom-slots v-model="model" :label="$t('newPageBannerLabel')" counter>
                <template v-slot:prepend>
                    <q-icon name="cloud_upload" @click.stop />
                </template>
                <template v-slot:append>
                    <q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
                </template>
                <template v-slot:hint>
                    <p>{{ $t('newPageBannerHint') }}</p>
                </template>
            </q-file>
            <q-input class="col-12 col-md-4" bg-color="white" outlined  :label="$t('newPageInput3Label')" :hint="$t('newPageInput3Hint')" />
        </div>
        <div class="row q-col-gutter-md q-my-lg">
            <q-select class="col-12 col-md-4" bg-color="white" color="accent" outlined v-model="model" :options="options" :label="$t('newPageSelect1Title')" />
            <q-select class="col-12 col-md-8" bg-color="white" color="accent" outlined v-model="model" :options="options" :label="$t('newPageSelect2Title')" />
        </div>
        <div class="q-mt-lg col-12 text-right">
            <q-btn
            icon="save"
            color="accent"
            :label="$t('newPageButtonName')"
            />
        </div>
  </div>
  </div>
  </q-page>
</template>
<script>

import RichText from '../components/RichText.vue'
import BreadCrumbs from '../components/BreadCrumbs.vue'
export default {
  name: 'About',
  components: {
    BreadCrumbs,
    RichText
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'New page'
        }
      ]
    }
  }
}
</script>
