<template>
  <q-page>
    <q-img
      role="img"
      class="page-cover"
      alt="Soon"
      title="Soon"
      src="~assets/img/about-us.svg"
      :fit="cover"
      :ratio="16 / 9"
    />
    <article class="container q-my-xl">
      <BreadCrumbs :items="itemsBreadCrumbs" />
      <header class="section-header">
        <h1 class="section-title">Privacy</h1>
      </header>
      <div>
        <p>The UMain website aims to be as transparent as possible about the ways we use your personal information; to only collect and retain the minimum amount of data possible and to keep it securely.</p>
        <p>You don’t have to create an account or provide us with any personal information to access our website, read publications or blog contents.</p>
        <p>However, if you wish to use our free service and publish your CV, share it with potencial employers and become a UMain Blogger, you will need to provide some personal information.</p>
        <p>The vast majority of the personal information we hold about you will be obtained with your permission via our websites’ forms or if you contact us by email.</p>
        <p>Some of the personal data we store and process may include:</p>
        <ul>
          <li>biographical information consisting of your name, title, birth date, age and gender;</li>
          <li>your contact details including address, email address and phone number;</li>
          <li>your professional activities and job interest;</li>
          <li>current interests and preferences;</li>
        </ul>
        <p>When you provide us with your contact details you may be asked whether you wish to make your information available to potencial employers.</p>
        <p>We will ensure that all personal data you supply is held in accordance with data protection law. We do not sell or otherwise transfer personal data to any third parties unless you have consented to this or this is permitted by law.</p>
      </div>
    </article>
  </q-page>
</template>

<script>
import BreadCrumbs from '../components/BreadCrumbs.vue'

export default {
  name: 'Privacy',
  components: {
    BreadCrumbs
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Privacy'
        }
      ]
    }
  }
}
</script>
