<template>
  <q-page>
    <q-img
      role="img"
      class="page-cover"
      alt="Soon"
      title="Soon"
      src="~assets/img/about-us.svg"
      :fit="cover"
      :ratio="16 / 9"
    />
    <article class="container q-my-xl">
      <BreadCrumbs :items="itemsBreadCrumbs" />
      <header class="section-header">
        <h1 class="section-title">Terms of Service</h1>
      </header>
      <div>
        <p>This website at www.umain.uk.net (the "Website") is operated by the Umain Team. References to "we", "us", " www.umain.uk.net , "UMain" or "our" are references to the UMain Team. Our website is part of the DIVERSIFICA (Diversity, Inclusion, and Visible Equality for a Real Faire Industry, Community, and Academy) project, funded by the Social Responsibility Catalytic programme of the University of Manchester, UK.</p>
        <p>The following terms and conditions apply to all booking placed by the Client (hereinafter referred to as ”you”, "your"or "user").</p>
        <p>Your use of the Website and your use of our Services is at all times subject to these Terms and Conditions as applicable (which forms a legally binding contract between you and us) and all applicable laws.</p>
        <p>By accessing this Website and using our Services, you agree to these Terms and Conditions. </p>
        <p>We reserve the right to amend these Terms from time to time without prior notice to you. The version of the Terms that will apply to you will be those on the website at the time you sign up to our services. </p>
        <p>The contents of this Site are subject to the matters set out right. Contents are only for general information or use by our clients (as indicated). The information on this Site is updated from time to time. However, we hereby exclude any warranties (whether expressed or implied), as to the quality, accuracy, efficacy, completeness, performance, fitness for a particular purpose of the Site or any of its contents, including (but not limited) to any curriculum vitae contained within the Site.</p>
        <p>We will not be liable for any damages (including, without limitation, damages for any consequential loss or loss of business opportunities or projects, or loss of profits) howsoever arising and whether in contract, tort or otherwise from the use of or inability to use the Site, or any of its contents, or from any action or omission taken as a result of using the Site or any such contents.</p>
        <p>These Conditions are deemed to be fully read, understood and accepted by the User. No variation or alteration to these Conditions or any representations about the Services shall have any effect unless expressly agreed and confirmed in writing by the UMain Team.</p>
        <p>We make no warranty that the contents of the Site are free from infection by viruses or anything else which has contaminating or destructive properties and shall have no liability in respect there of.</p>
        <p>You should note that certain links on the Site lead to resources located on servers maintained by third parties over whom we have no control and accordingly we accept no responsibility or liability for any of the material contained on those servers.</p>
      </div>
    </article>
  </q-page>
</template>

<script>
import BreadCrumbs from '../components/BreadCrumbs.vue'

export default {
  name: 'Terms of Service',
  components: {
    BreadCrumbs
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Terms of Service'
        }
      ]
    }
  }
}
</script>
