<template>
  <q-page class="page-container page-home-user">
    <BreadCrumbs :items="itemsBreadCrumbs" />
    <div class="q-mx-md q-pa-md page-container-bg rounded-borders ">
      <div class="rounded-borders bg-white q-pa-md">
        <header class="section-header">
          <h1 class="section-title">{{ $t('batchUsersPageTitle1') }} <strong>{{ $t('batchUsersPageTitle2') }}</strong></h1>
        </header>
        <div class="q-pb-xl">
          <p>{{ $t('batchUsersPageDescription1') }}</p>
          <p>{{ $t('batchUsersPageDescription2') }}</p>
          <div role="h2" class="block text-center text-h5">{{ $t('batchUsersPageSubTitle') }}</div>
          <div class="full-width row wrap justify-center  content-start">
            <q-btn-group outline class="text-center q-my-lg">
              <q-btn color="accent" outline :label="$t('batchUsersPageButton1Name')" icon="person_add" to="/invite_users" download />
              <q-btn color="accent" outline :label="$t('batchUsersPageButton2Name')" icon="group_add" to="/create_users" download />
            </q-btn-group>
          </div>
          <q-separator />
          <strong class="block text-h6 full-width q-mt-lg q-mb-md">{{ $t('batchUsersPageUploadTitle') }} </strong>
          <form @submit.prevent="simulateSubmit" >
            <q-uploader
              url="#"
              color="accent"
              :label="$t('batchUsersPageUploadLabel')"
              multiple
              accept=".csv, docs/*"
              class="full-width"
            />
            <div class="row justify-end">
              <q-btn
                type="submit"
                :loading="submitting"
                :label="$t('batchUsersPageUploadButtonName')"
                class="q-mt-md"
                color="accent"
                icon-right="send"
                flat
              >
                <template v-slot:loading>
                  <q-spinner-facebook />
                </template>
              </q-btn>
            </div>
          </form>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue'
import { ref } from 'vue'
export default {
  name: 'BatchUsers',
  components: {
    BreadCrumbs
  },
  setup () {
    const submitting = ref(false)
    const test = ref('')

    function simulateSubmit () {
      submitting.value = true
      setTimeout(() => {
        submitting.value = false
      }, 3000)
    }

    return {
      test,
      submitting,
      simulateSubmit
    }
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Batch Users'
        }
      ]
    }
  }
}
</script>
