<template>
  <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
    <q-banner v-if="!user.companyAccount" inline-actions rounded class="q-ma-md bg-grey-3">
       <template class="" v-slot:avatar>
        <q-icon name="account_circle" color="primary" />
      </template>
      {{ $t('dashboardWarmingText1') }} <router-link to="/profile" color="text-accent">{{ $t('dashboardWarmingText2') }}</router-link>.
      {{ $t('dashboardWarmingText3') }}
    </q-banner>
    <q-banner v-else inline-actions rounded class="q-ma-md bg-accent text-white">
       <template class="items-center" v-slot:avatar>
        <q-icon name="business" color="primary"  />
      </template>
      {{ $t('dashboardWarmingText1') }} <router-link to="/company" class="text-white">{{ $t('dashboardWarmingText2') }}</router-link>.
      {{ $t('dashboardWarmingText4') }}
    </q-banner>
    <div class="q-mx-md q-pa-md page-container-bg rounded-borders row">
        <div class="rounded-borders home-jobs q-mb-lg q-pa-md full-width">
          <header class="full-width row wrap justify-between items-center content-center">
            <div role="h2" class="section-title">{{ $t('dashboardJobTableTitle1') }} <strong>{{ $t('dashboardJobTableTitle2') }}</strong></div>
              <q-btn :title="$t('dashboardJobTableButtonTitle')" to="/jobs" outline round color="accent">
                <q-icon size="2em" name="search" />
              </q-btn>
          </header>
          <JobTable />
        </div>
        <div class="rounded-borders home-jobs q-pa-md full-width">
          <header class="full-width row wrap justify-between items-center content-center">
            <div role="h2" class="section-title">{{ $t('dashboardArticleRecommendationTitle1') }} <strong>{{ $t('dashboardArticleRecommendationTitle2') }}</strong></div>
            <div class="mobile-only q-pa-sm"></div>
            <q-btn to="/blog" color="primary" flat  icon-right="arrow_right_alt" :label="$t('dashboardArticleRecommendationButtonTitle')" />
          </header>
            <div class="q-col-gutter-md row q-pt-lg">
              <div v-for="post in posts" :key="post.id" class="col-12 col-md-6 col-lg-4"><PostCardHorizontal :postData="post" /></div>
            </div>
        </div>
    </div>
  </q-page>
</template>
<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue'
import JobTable from '../../components/jobs/JobTable.vue'
import PostCardHorizontal from '../../components/posts/PostCardHorizontal.vue'
export default {
  name: 'Profile',
  components: {
    JobTable,
    PostCardHorizontal,
    BreadCrumbs
  },
  computed: {
    user () {
      return this.$store.state.user.userData
    }
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Dashboard'
        }
      ],
      urlAPI: process.env.API + 'images/',
      posts: []
    }
  },
  methods: {
    listPosts () {
      const url = process.env.API + 'posts?includes=postCategory,postPhoto,user&active=true&limit=6'
      this.$axios.get(url).then(response => {
        this.posts = response.data.map(post => {
          post.createdAt = post.createdAt.split('T')[0]
          if (!post.postPhoto[0]) {
            post.postPhoto[0] = ({ url: 'https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png', description: 'Placeholder image' })
          } else {
            post.postPhoto[0] = ({ url: this.urlAPI + post.postPhoto[0].url, description: post.postPhoto[0].description })
          }
          return (post)
        })
      })
    }
  },
  beforeMount () {
    this.listPosts()
  }
}
</script>
