<template>
   <q-page class="page-container page-home-user">
      <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
      <div class="q-mx-md q-pa-md page-container-bg rounded-borders">
        <header class="section-header full-width q-px-sm row wrap justify-between items-start content-start">
          <div>
            <h1 class="section-title">
              {{ $t('profilePageTitleName1') }} <strong>{{ $t('profilePageTitleName2') }}</strong>
            </h1>
            <p>{{ $t('profilePageDescription') }}</p>
          </div>
          <!-- <q-btn icon="badge" flat color="accent" label="Public profile" to="/public-candidate"/> -->
          <q-btn icon="edit" flat color="accent" :label="$t('profilePageButtonName1')" v-if="!editable" @click="editable = true" />
          <q-btn icon="save" flat color="accent" :label="$t('profilePageButtonName2')" v-else @click="updateUserProfile" />
        </header>
        <div class="row q-col-gutter-lg">
          <!-- <div class="col-12 col-md-4">
            <q-img role="img" alt=" Soon" src="https://lorempixel.com/800/800/people/" spinner-color="white" img-class="rounded-borders" :ratio="1"></q-img>
             <q-file class="q-mt-md" color="accent" outlined bottom-slots color="accent" v-model="model" label="Alterar minha foto" counter> <template v-slot:prepend> <q-icon name="cloud_upload" @click.stop /> </template> <template v-slot:append> <q-icon name="close" @click.stop="model = null" class="cursor-pointer" /> </template> <template v-slot:hint> <p>Format: png/ jpg. Size: 3MB</p> </template> </q-file>
            <q-list bordered separator class="rounded-borders bg-white">
              <q-item v-ripple><q-item-section>{{ $t('profilePageNavigationItem1') }}</q-item-section></q-item>
              <q-item v-ripple><q-item-section>{{ $t('profilePageNavigationItem2') }}</q-item-section></q-item>
              <q-item v-ripple><q-item-section>{{ $t('profilePageNavigationItem3') }}</q-item-section></q-item>
            </q-list>
          </div> -->
          <div class="col-12 row rounded-borders">
            <div class="col-12 col-md-4">
              <q-img role="img" alt=" Soon" :src="`${urlAPI}${userProfile.avatar.url}`" spinner-color="primary" img-class="rounded-borders" :ratio="1"></q-img>
            </div>
            <div class="col-12 row col-md-8">
              <q-uploader
                v-if="editable"
                color="grey-3"
                v-model="uploadAvatar.url"
                class="col-12 q-mt-md"
                style="height: 150px"
                text-color="grey-9"
                :url="urlUpload"
                no-thumbnails
                field-name="file"
                accept=".png, .jpg, image/*"
                :headers="headersUpload"
                auto-upload
                :label="$t('newCompanyPageFormInput2Label')"
                @uploaded="addProfileImage"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="rounded-borders q-pa-md bg-white">
            <fieldset>
              <legend>{{ $t('profilePageNavigationItem1') }}</legend>
              <q-input
                :disable="!editable"
                :outlined="!editable"
                class="q-mb-md"
                color="accent"
                v-model="userProfile.name"
                type="text"
                :label="$t('profileInput1Label')"
                :hint="$t('profileInput1Hint')"
              >
                <template v-slot:prepend>
                  <q-icon name="person" />
                </template>
              </q-input>
              <q-input
                :disable="!editable"
                :outlined="!editable"
                class="q-mb-md"
                color="accent"
                v-model="userProfile.socialName"
                type="text"
                :label="$t('profileInput2Label')"
                :hint="$t('profileInput2Hint')"
              >
                <template v-slot:prepend>
                  <q-icon name="people" />
                </template>
              </q-input>
              <div class="row q-col-gutter-lg">
                <q-input
                  :disable="!editable"
                  :outlined="!editable"
                  class="q-mb-lg col-12 col-md"
                  color="accent"
                  v-model="userProfile.birthPlace"
                  :label="$t('profileInput3Label')"
                  :hint="$t('profileInput3Hint')"
                  >
                  <template v-slot:prepend>
                    <q-icon name="location_city" />
                    </template>
                </q-input>
                <q-select
                  :disable="!editable"
                  :outlined="!editable"
                  class="q-mb-lg col-12 col-md-5"
                  color="accent"
                  v-model="userProfile.country"
                  :options="optionsCountries"
                  option-label="name"
                  option-value="id"
                  :label="$t('profileInput4Label')"
                  :hint="$t('profileInput4Hint')"
                >
                  <template v-slot:prepend>
                    <q-icon name="public" />
                  </template>
                </q-select>
              </div>
              <div class="row q-col-gutter-lg">
                <q-select
                  :disable="!editable"
                  :outlined="!editable"
                  class="q-mb-lg col-12 col-md"
                  color="accent"
                  v-model="userProfile.ancestry"
                  :options="ancestriesOptions"
                  option-label="description"
                  option-value="id"
                  :label="$t('profileInput5Label')"
                  :hint="$t('profileInput5Hint')"
                >
                <template v-slot:prepend>
                  <q-icon name="fingerprint" />
                </template>
                </q-select>
                <q-input
                  :disable="!editable"
                  :outlined="!editable"
                  class="q-mb-lg col-12 col-md-5"
                  color="accent"
                  v-model="userProfile.birthDate"
                  stack-label
                  type="date"
                  :label="$t('profileInput6Label')"
                  :hint="$t('profileInput6Hint')"
                >
                  <template v-slot:prepend>
                    <q-icon name="crib" />
                  </template>
                </q-input>
              </div>
              <div class="row q-col-gutter-lg">
                <q-select
                  :disable="!editable"
                  :outlined="!editable"
                  class="q-mb-lg col-12 col-md"
                  color="accent"
                  v-model="userProfile.gender"
                  option-value="id"
                  option-label="description"
                  :options="genresOptions"
                  :label="$t('profileInput7Label')"
                  :hint="$t('profileInput7Hint')"
                >
                  <template v-slot:prepend>
                    <q-icon name="transgender" />
                  </template>
                </q-select>
                <q-select
                  :disable="!editable"
                  :outlined="!editable"
                  class="q-mb-lg col-12 col-md-5"
                  color="accent"
                  v-model="userProfile.userSexuality"
                  option-value="id"
                  multiple
                  option-label="description"
                  :options="optionsSexualities"
                  :label="$t('profileInput8Label')"
                  :hint="$t('profileInput8Hint')"
                >
                  <template v-slot:prepend>
                    <q-icon name="favorite" />
                  </template>
                </q-select>
              </div>
              <q-select
                :disable="!editable"
                :outlined="!editable"
                class="q-mb-md"
                color="accent"
                v-model="userProfile.disabilities"
                multiple
                :options="optionsDisabilities"
                option-value="id"
                option-label="description"
                :label="$t('profileInput9Label')"
                :hint="$t('profileInput9Hint')"
                >
                <template v-slot:prepend>
                  <q-icon name="accessibility_new" />
                </template>
              </q-select>
            </fieldset>
            <fieldset>
              <legend>{{ $t('profilePageNavigationItem2') }}</legend>
              <div class="row q-col-gutter-lg">
                  <q-input
                    :disable="!editable"
                    :outlined="!editable"
                    class="col-12 col-md-4 q-mb-md"
                    color="accent"
                    v-model="userProfile.phone"
                    type="tel"
                    :label="$t('profileInput10Label')"
                    :hint="$t('profileInput10Hint')"
                  >
                    <template v-slot:prepend>
                      <q-icon name="phone" />
                    </template>
                  </q-input>
                  <q-input
                    :disable="!editable"
                    :outlined="!editable"
                    class="q-mb-lg col-12 col-md-8"
                    color="accent"
                    v-model="email"
                    type="email"
                    hint="Email"
                  >
                    <template v-slot:prepend>
                      <q-icon name="alternate_email" />
                    </template>
                  </q-input>
              </div>
            </fieldset>
            <fieldset>
              <legend>{{ $t('profilePageNavigationItem3') }}</legend>
              <div class="row q-col-gutter-lg">
                <q-input
                  :disable="!editable"
                  :outlined="!editable"
                  class="q-mb-md col-12 col-md-4"
                  color="accent"
                  v-model="newLink.socialMedia"
                  multiple
                  label="Social media"
                  hint="Select a social media"
                >
                  <template v-slot:prepend>
                    <q-icon name="link" />
                  </template>
                </q-input>
                <q-input
                  v-model="newLink.link"
                  class="q-mb-lg col-9 col-md-6"
                  label="URL"
                  hint="Enter URL"
                  :disable="!editable"
                  :outlined="!editable"
                >
                  <template v-slot:prepend>
                    <q-icon name="http" />
                  </template>
                </q-input>
                <div class="col-3 text-center col-md">
                  <q-btn
                    title="Add link"
                    round
                    color="purple"
                    flat
                    icon="add"
                    @click="addLink"
                  />
                </div>
              </div>
              <q-list separator>
                <q-item-label header>Links</q-item-label>
                <q-item v-for="(link, index) in userProfile.userLinks" :key="index" clickable v-ripple><q-item-section to="link.link"><q-item-label>{{link.socialMedia}}</q-item-label><q-item-label caption>{{link.link}}</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" title="Delete" size="sm" flat icon="delete" /></q-item-section></q-item>
                <!--                   JADEMIR, O MODELO DESSA TELA ESTÁ ABAIXO ⬇️⬇️⬇️
                <q-item clickable v-ripple><q-item-section to="http://www.facebook.com"><q-item-label>Facebook</q-item-label><q-item-label caption>http://www.facebook.com</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" title="Delete" size="sm" flat icon="delete" /></q-item-section></q-item>
                <q-item clickable v-ripple><q-item-section to="http://www.facebook.com"><q-item-label>Facebook</q-item-label><q-item-label caption>http://www.facebook.com</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" title="Delete" size="sm" flat icon="delete" /></q-item-section></q-item>
                <q-item clickable v-ripple><q-item-section to="http://www.facebook.com"><q-item-label>Facebook</q-item-label><q-item-label caption>http://www.facebook.com</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" title="Delete" size="sm" flat icon="delete" /></q-item-section></q-item> -->
              </q-list>
            </fieldset>
            </div>
          </div>
        </div>
      </div>
   </q-page>
</template>
<script>
import { ref } from 'vue'
import BreadCrumbs from '../../components/BreadCrumbs.vue'

export default {
  name: 'Profile',
  components: {
    BreadCrumbs
  },
  data () {
    return {
      urlAPI: `${process.env.API}images/`,
      urlUpload: `${process.env.API}upload/images`,
      uploadAvatar: {
        id: null,
        userId: sessionStorage.userId,
        url: '',
        description: '',
        alt: '',
        active: true
      },
      headersUpload: [
        { name: 'Authorization', value: sessionStorage.token }
      ],
      editable: false,
      optionsSexualities: null,
      optionsCountries: null,
      optionsDisabilities: null,
      newLink: {
        socialMedia: '',
        link: ''
      },
      userProfile: {
        ancestry: null,
        photos: [],
        avatar: {
          url: 'https://lorempixel.com/800/800/people/'
        },
        country: null,
        birthDate: null,
        birthPlace: null,
        gender: null,
        name: '',
        userSexuality: null,
        disabilities: [],
        userLinks: [],
        socialName: '',
        email: '',
        phone: '',
        otherContact: ''
      },
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Profile'
        }
      ]
    }
  },
  setup () {
    return {
      text: ref('')
    }
  },
  computed: {
    ancestriesOptions () {
      return this.$store.state.padroes.ancestriesOptions
    },
    genresOptions () {
      return this.$store.state.padroes.genresOptions
    }
  },
  methods: {
    updateUserProfile () {
      this.userProfile.genderId = this.userProfile.gender.id
      this.userProfile.countryId = this.userProfile.country.id
      this.userProfile.ancestryId = this.userProfile.ancestry.id
      this.userProfile.sexuality = this.userProfile.userSexuality.map(sex => {
        sex.sexualityId = sex.id
        return sex
      })
      this.userProfile.disability = this.userProfile.disabilities.map(dis => {
        dis.disabilityId = dis.id
        return dis
      })
      this.userProfile.photos[0] = this.userProfile.avatar
      this.$axios.defaults.headers.common.authorization = sessionStorage.token
      const url = process.env.API + 'users/' + sessionStorage.userId
      this.$axios.put(url, this.userProfile).then(response => {
        this.$q.notify({
          message: 'Registro atualizado com sucesso',
          color: 'green'
        })
        this.editable = false
      })
    },
    addProfileImage ({ files }) {
      this.uploadAvatar.url = JSON.parse(files[0].xhr.response).filename
      this.userProfile.avatar.url = JSON.parse(files[0].xhr.response).filename
    },
    addLink () {
      this.userProfile.userLinks.push(this.newLink)
      this.newLink = {
        socialMedia: '',
        link: ''
      }
    },
    listCountries () {
      const url = process.env.API + 'countries'
      this.$axios.get(url).then(response => {
        this.optionsCountries = response.data
      })
    },
    listDisabilities () {
      const url = process.env.API + 'disabilities'
      this.$axios.get(url).then(response => {
        this.optionsDisabilities = response.data
      })
    },
    listSexualities () {
      const url = process.env.API + 'sexualities'
      this.$axios.get(url).then(response => {
        this.optionsSexualities = response.data
      })
    },
    loadUserProfile () {
      const url = process.env.API + 'users/' + sessionStorage.userId + '?includes=gender,ancestry,country,userSexuality,userDisability,userPhoto,userContact,userLinks'
      this.$axios.get(url).then(response => {
        this.userProfile = response.data
        this.userProfile.userSexuality = response.data.userSexuality.map(sex => sex.sexuality)
        this.userProfile.disabilities = response.data.userDisability.map(dis => dis.disability)
        if (!this.userProfile.avatar) {
          this.userProfile.avatar = response.data.userPhoto[0] || {}
          this.userProfile.photos = response.data.userPhoto
        }
      })
    }
  },
  created () {
    this.loadUserProfile()
  },
  beforeMount () {
    this.$store.dispatch('padroes/ListAncestries')
    this.$store.dispatch('padroes/ListGenres')
    // metodo sem vuex
    this.listSexualities()
    this.listCountries()
    this.listDisabilities()
    // console.log(this.$q.lang.getLocale())
    this.$i18n.locale = JSON.parse(window.localStorage.location).value
    // this.$i18n.locale = this.$q.lang.getLocale()
  }
}
</script>
