<template>
  <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
    <div class="q-mx-md page-container-bg q-pa-md">
      <header class="section-header full-width q-px-sm row wrap justify-between items-start content-start">
        <div>
          <h1 class="section-title">{{ $t('resumePageTitle1')}} <strong>{{ $t('resumePageTitle2')}}</strong></h1>
          <p>{{ $t('resumePageDescription')}}</p>
        </div>
        <q-btn icon="edit" flat color="accent" v-if="!editable" :label="$t('resumePageButton1')" @click="editable = true" />
        <q-btn icon="save" flat color="accent" v-else :label="$t('resumePageButton2')" @click="updateUserResume" />
      </header>
      <div class="row q-col-gutter-lg">
        <div class="col-12 col-md-4">
          <q-list bordered separator class="rounded-borders bg-white">
            <q-item to="#" v-ripple><q-item-section>{{ $t('resumePageNavigationItem1')}}</q-item-section></q-item>
            <q-item to="#" v-ripple><q-item-section>{{ $t('resumePageNavigationItem2')}}</q-item-section></q-item>
            <q-item to="#experience" v-ripple><q-item-section>{{ $t('resumePageNavigationItem3')}}</q-item-section></q-item>
          </q-list>
        </div>
        <div class="col-12 col-md-8">
          <div class="rounded-borders q-pa-md bg-white">
            <fieldset id="academy">
              <legend>{{ $t('resumePageNavigationItem1')}}</legend>
              <div class="row q-col-gutter-lg">
                <div v-if="editable" class="col-12 row q-col-gutter-lg">
                  <q-select
                    v-model="actualDegree"
                    :options="optionsDegrees"
                    class="q-mb-lg col-12 col-md-4"
                    :label="$t('resumeFormLabe1')"
                    :hint="$t('resumeFormHint1')"
                    option-value="id"
                    option-label="description"
                    :disable="!editable"
                    :outlined="!editable"
                  >
                    <template v-slot:prepend>
                      <q-icon name="book" />
                    </template>
                  </q-select>
                  <q-select
                    class="q-mb-lg col-9 col-md-6"
                    color="accent"
                    v-model="actualKnowledgeArea"
                    type="text"
                    :label="$t('resumeFormLabe2')"
                    :hint="$t('resumeFormHint2')"
                    option-value="id"
                    option-label="description"
                    :options="optionsKnowledgeAreas"
                    :disable="!editable"
                    :outlined="!editable"
                  >
                    <template v-slot:prepend>
                      <q-icon name="school" />
                    </template>
                  </q-select>
                  <div class="col-3 text-center col-md">
                    <q-btn
                      :title="$t('resumeFormButtonEducationTitle')"
                      @click="addEducationalLevels"
                      round
                      color="purple"
                      flat
                      icon="add"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <q-list separator>
                    <q-item-label header>{{ $t('resumePageList1') }}</q-item-label>
                    <template v-for="(item, index) in resume.educationalLevels" :key="item.degree">
                      <q-item>
                        <q-item-section>
                          <q-item-label>
                            {{item.degree.description}}
                          </q-item-label>
                          <q-item-label caption>
                            {{item.knowledgeArea.description}}
                          </q-item-label>
                        </q-item-section>
                        <q-item-section side middle>
                          <q-btn v-if="editable" :title="$t('resumePageListEducationButton')" round size="md" flat icon="delete" color="red" @click="removeEducationalLevel(index)"/>
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-list>
                </div>
              </div>
            </fieldset>
            <fieldset id="lang">
              <legend>{{ $t('resumePageNavigationItem2')}}</legend>
              <div class="row q-col-gutter-lg">
                <div v-if="editable" class="col-12 row q-col-gutter-lg">
                  <q-input
                    v-model="model"
                    class="q-mb-lg col-6 col-md-6"
                    :label="$t('resumeFormLabe3')"
                    :hint="$t('resumeFormHint3')"
                    :disable="!editable"
                    :outlined="!editable"
                  >
                    <template v-slot:prepend>
                      <q-icon name="translate" />
                    </template>
                  </q-input>
                  <q-select
                    v-model="model"
                    class="q-mb-lg col-9 col-md-4"
                    :label="$t('resumeFormLabe4')"
                    :hint="$t('resumeFormHint4')"
                    :disable="!editable"
                    :outlined="!editable"
                  >
                    <template v-slot:prepend>
                      <q-icon name="grade" />
                    </template>
                  </q-select>
                  <div class="col-3 text-center col-md">
                    <q-btn
                      :title="$t('resumeFormButtonLanguageTitle')"
                      round
                      color="purple"
                      flat
                      icon="add"
                    />
                  </div>
                </div>
              </div>
              <q-list separator>
                <q-item-label header>{{ $t('resumePageList2')}}</q-item-label>
                <!--
                  JADEMIR, O MODELO DESSA TELA ESTÁ ABAIXO ⬇️⬇️⬇️

                <q-item clickable v-ripple><q-item-section><q-item-label>Portuguese</q-item-label><q-item-label caption>Native</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" :title="$t('resumePageListLanguageButton')" size="sm" flat icon="delete" /></q-item-section></q-item>
                <q-item clickable v-ripple><q-item-section><q-item-label>English</q-item-label><q-item-label caption>Fluente</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" :title="$t('resumePageListLanguageButton')" size="sm" flat icon="delete" /></q-item-section></q-item>
                <q-item clickable v-ripple><q-item-section><q-item-label>Spanish</q-item-label><q-item-label caption>Advanced</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" :title="$t('resumePageListLanguageButton')" size="sm" flat icon="delete" /></q-item-section></q-item>
                <q-item clickable v-ripple><q-item-section><q-item-label>French</q-item-label><q-item-label caption>Intermediate</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" :title="$t('resumePageListLanguageButton')" size="sm" flat icon="delete" /></q-item-section></q-item> -->
              </q-list>
            </fieldset>
            <fieldset id="experience">
              <legend>{{ $t('resumePageNavigationItem3')}}</legend>
              <div class="row q-col-gutter-lg">
                <div v-if="editable" class="col-12 row q-col-gutter-lg">
                  <q-input
                    v-model="model"
                    class="col-12 col-md"
                    :label="$t('resumeFormLabe5')"
                    :hint="$t('resumeFormHint5')"
                    :disable="!editable"
                    :outlined="!editable"
                  >
                    <template v-slot:prepend>
                      <q-icon name="business" />
                    </template>
                  </q-input>
                  <q-input
                    v-model="model"
                    class="col-12 col-md"
                    :label="$t('resumeFormLabe6')"
                    :hint="$t('resumeFormHint6')"
                    :disable="!editable"
                    :outlined="!editable"
                  >
                    <template v-slot:prepend>
                      <q-icon name="work" />
                    </template>
                  </q-input>
                  <div class="col-12"></div>
                  <q-input
                    v-model="model"
                    class="q-mb-lg col-9"
                    :label="$t('resumeFormLabe7')"
                    :hint="$t('resumeFormHint7')"
                    :disable="!editable"
                    autogrow
                    :outlined="!editable"
                  >
                    <template v-slot:prepend>
                      <q-icon name="description" />
                    </template>
                  </q-input>
                  <div class="col-3 text-center col-md">
                    <q-btn
                      :title="$t('resumeFormButtonJobTitle')"
                      round
                      color="purple"
                      flat
                      icon="add"
                    />
                  </div>
                </div>
              </div>
              <q-list separator>
                <!--
                  JADEMIR, O MODELO DESSA TELA ESTÁ ABAIXO ⬇️⬇️⬇️
                  <q-item v-ripple><q-item-section><q-item-label><strong>Job name</strong> &bull; company name</q-item-label><q-item-label caption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempora, mollitia officia maiores repellat quasi debitis provident suscipit iste vel! Voluptas doloremque quam eius quibusdam nisi architecto nulla veniam! Facere quis et illum error qui officia consequatur maxime, vero maiores laudantium quia natus quas ullam eligendi neque alias laborum laboriosam.</q-item-label></q-item-section><q-item-section avatar><q-btn round color="red" :title="$t('resumePageListJobButton')" size="sm" flat icon="delete" /></q-item-section></q-item> -->
              </q-list>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { ref } from 'vue'
import BreadCrumbs from '../../components/BreadCrumbs.vue'

export default {
  name: 'Resume',
  components: {
    BreadCrumbs
  },
  data () {
    return {
      editable: false,
      actualDegree: null,
      actualKnowledgeArea: null,
      optionsDegrees: [],
      optionsKnowledgeAreas: [],
      resume: {
        educationalLevels: [
          {
            degree: {
              id: 1,
              description: 'bachelor degree'
            },
            knowledgeArea: {
              id: 1,
              description: 'asdfsdfsdf adsfsd'
            }
          },
          {
            degree: {
              id: 1,
              description: 'Graduation'
            },
            knowledgeArea: {
              id: 1,
              description: 'Information technology'
            }
          }
        ],
        languages: null,
        interesArea: null,
        academicExperience: null,
        salary: null,
        contributions: '',
        workPlace: null,
        workExperience: null,
        jobExpectations: [],
        workActivities: []
      },
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Resume'
        }
      ]
    }
  },
  setup () {
    return {
      text: ref('')
    }
  },
  computed: {},
  methods: {
    updateUserResume () {
      this.editable = false
      console.log(this.resume)
    },
    listOptionsDegree () {
      const url = process.env.API + 'degrees'
      this.$axios.get(url).then((response) => {
        this.optionsDegrees = response.data
      })
    },
    listKnowledgeArea () {
      const url = process.env.API + 'knowledge-areas'
      this.$axios.get(url).then((response) => {
        this.optionsKnowledgeAreas = response.data
      })
    },
    listSexualities () {
      const url = process.env.API + 'sexualities'
      this.$axios.get(url).then((response) => {
        this.optionsSexualities = response.data
      })
    },
    addEducationalLevels () {
      console.log('oi')
      this.resume.educationalLevels.push({
        degree: this.actualDegree,
        knowledgeArea: this.actualKnowledgeArea
      })
    },
    removeEducationalLevel (index) {
      this.resume.educationalLevels.splice(index, 1)
    }
  },
  beforeMount () {
    this.listOptionsDegree()
    this.listKnowledgeArea()
  }
}
</script>
