<template>
  <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
    <div class="q-mx-md page-container-bg rounded-borders q-pa-md ">
      <header class="section-header q-mb-lg col-12 full-width row wrap justify-between items-center content-center">
        <h1 class="section-title col-9"><strong>{{ $t('settingsPageTitle') }}</strong></h1>
      </header>
      <div class="bg-white rounded-borders" bordered padding>
        <q-list>
          <!-- INFORMAÇÕES PESSOAIS - LINKS -->
          <q-item-label header>{{ $t('settingsPageSectionTitle1') }}</q-item-label>
          <q-item clickable v-ripple to="/profile">
            <q-item-section avatar>
              <q-icon name="person" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ $t('settingsPageNavigationItem1Name') }}</q-item-label>
              <q-item-label caption>{{ $t('settingsPageNavigationItem1Description') }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/resume">
            <q-item-section avatar>
              <q-icon name="work" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ $t('settingsPageNavigationItem2Name') }}</q-item-label>
              <q-item-label caption>{{ $t('settingsPageNavigationItem2Description') }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple to="my-blog">
            <q-item-section avatar>
              <q-icon name="post_add" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ $t('settingsPageNavigationItem3Name') }}</q-item-label>
              <q-item-label caption>{{ $t('settingsPageNavigationItem3Description') }}</q-item-label>
            </q-item-section>
          </q-item>
           <q-item clickable v-ripple to="my-companies">
            <q-item-section avatar>
              <q-icon name="business" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ $t('settingsPageNavigationItem4Name') }}</q-item-label>
              <q-item-label caption>{{ $t('settingsPageNavigationItem4Description') }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/my-jobs">
            <q-item-section avatar>
              <q-icon name="badge" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ $t('settingsPageNavigationItem5Name') }}</q-item-label>
              <q-item-label caption>{{ $t('settingsPageNavigationItem5Description') }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator spaced separate />
          <!-- INFORMAÇÕES PUBLICAS -->
          <q-item-label header>{{ $t('settingsPageSectionTitle2') }}</q-item-label>
          <q-item tag="label" v-ripple>
            <q-item-section>
              <q-item-label>{{ $t('settingsPageNavigationItem6Name') }}</q-item-label>
              <q-item-label caption>{{ $t('settingsPageNavigationItem6Description') }}</q-item-label>
            </q-item-section>
            <q-item-section side >
              <q-toggle :label="notif1" color="green" :false-value="$t('settingsPageNavigationItem6ToogleOff')" :true-value="$t('settingsPageNavigationItem6ToogleOn')" v-model="notif1" />
            </q-item-section>
          </q-item>
          <q-item tag="label" v-ripple>
            <q-item-section>
              <q-item-label>{{ $t('settingsPageNavigationItem7Name') }}</q-item-label>
              <q-item-label caption>{{ $t('settingsPageNavigationItem7Description') }}</q-item-label>
            </q-item-section>
            <q-item-section side top>
              <q-toggle :label="notif2" color="green" :false-value="$t('settingsPageNavigationItem7ToogleOff')" :true-value="$t('settingsPageNavigationItem7ToogleOn')"  v-model="notif2" />
            </q-item-section>
          </q-item>
          <q-separator spaced />
          <q-item-label header class="text-red">
            <q-icon name="warning" class=" q-pr-sm" /> {{ $t('settingsPageSectionTitle3') }}
          </q-item-label>
          <q-item tag="label" v-ripple>
            <q-item-section>
              <q-item-label>{{ $t('settingsPageNavigationItem8Name') }}</q-item-label>
              <q-item-label caption>{{ $t('settingsPageNavigationItem8Description') }}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-toggle :label="notif3" color="green" :false-value="$t('settingsPageNavigationItem9ToogleOn')" :true-value="$t('settingsPageNavigationItem9ToogleOff')"   v-model="notif3" />
            </q-item-section>
          </q-item>
          <q-item tag="label" v-ripple>
            <q-item-section>
              <q-item-label>{{ $t('settingsPageNavigationItem9Name') }}</q-item-label>
              <q-item-label caption>{{ $t('settingsPageNavigationItem9Description') }}</q-item-label>
            </q-item-section>
              <q-item-section side>
                <q-btn round :title="$t('settingsPageNavigationItem9ButtonTitle')" flat icon="delete" color="red" @click="confirm" />
              </q-item-section>
          </q-item>
          <q-expansion-item expand-separator icon="password" :label="$t('settingsPageNavigationItem10Name')" :caption="$t('settingsPageNavigationItem10Description')">
              <div class="q-col-gutter-md q-py-xl col-12 col-md-8 full-width column wrap justify-center items-center content-center">
                <q-input outlined  v-model="password" :type="isPwd ? 'password' : 'text'" :hint="$t('settingsPageNavigationItem10InputHint')">
                  <template v-slot:append>
                    <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwd = !isPwd"/>
                  </template>
                </q-input>
                <div>
                  <q-btn color="accent" icon="save" :label="$t('settingsPageNavigationItem10ButtonLabel')" />
                </div>
              </div>
          </q-expansion-item>
        </q-list>
      </div>
    </div>
  </q-page>
</template>
<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue'
import { ref } from 'vue'
import { useQuasar } from 'quasar'

export default {
  name: 'Configurações',
  components: {
    BreadCrumbs
  },
  setup () {
    const $q = useQuasar()
    return {
      check1: ref(true),
      check2: ref(false),
      check3: ref(false),
      password: ref(''),
      notif1: ref(true),
      notif2: ref(true),
      notif3: ref(false),
      notif4: ref(false),
      volume: ref(6),
      brightness: ref(3),
      mic: ref(8),
      confirm,
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Settings'
        }
      ]
    }
    function confirm () {
      $q.dialog({
      // :title: '$t("settingsPageNavigationItem9ModalTitle")',
      // :message: '$t("settingsPageNavigationItem9ModalDescription")',
      // :cancel:  '$t("settingsPageNavigationItem9ModalButton1")',
      // :ok:'$t("settingsPageNavigationItem9ModalButton2")',
        title: 'Delete account',
        message: 'Do you really want to delete your account?',
        cancel: true,
        persistent: true
      })
        .onOk(() => {
          // console.log('>>>> OK')
        })
        .onOk(() => {
          // console.log('>>>> second OK catcher')
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        })
    }
  }
}
</script>
