<template>
  <q-breadcrumbs class="q-mb-md breadcrumbs">
    <q-breadcrumbs-el icon="home" :label="$t('breadcrumbItemHome')" to="/" />
    <q-breadcrumbs-el v-for="item in items" :key="item.label" :label="item.label" :to="item.link" />
  </q-breadcrumbs>
</template>

<script>
export default {
  name: 'BreadCrumbs',
  props: {
    items: {
      type: Array,
      required: true
    }
  }
}
</script>
