<template>

   <div>
     <div class="q-my-lg" style="text-align:center">
        <q-btn flat color="accent" to="#top" icon="expand_less" role="h1" :label="$t('backtotop')" />
    </div>
  <footer class="footer-page">
    <div class="container">
      <div class="footer-newsletter row wrap justify-between items-center q-px-md content-center">
        <h6 class="col-12 col-md-5 q-mt-none">{{ $t('footerNewsletterTitle1') }} <span class="block text-bold">{{ $t('footerNewsletterTitle2') }}</span></h6>
        <div class="mobile-only q-mt-md full-width"></div>
        <q-form @submit="onSubmit" class="col-12 col-md-7 no-padding form-newsletter row" action="https://gmail.us5.list-manage.com/subscribe/post?u=5046935cf3dba2277a4b2d14b&amp;id=041e5069e3" method="post" target="_blank">
          <div class="col-7 col-lg-9 col-md-8"><q-input borderless class="q-px-md" color="primary" type="email" v-model="email" :label="$t('footerNewsletterFormInput')" name="EMAIL" id="mce-EMAIL"/></div>
          <div class="col-3 col-lg-3 col-md-4"><q-btn class="full-width" color="accent" flat :label="$t('footerNewsletterFormButton')" type="submit" id="mc-embedded-subscribe" /></div>
        </q-form>
      </div>
    </div>
    <div class="q-py-md footer-social full-width row wrap justify-center items-center content-center">
      <a href='https://www.facebook.com/talktoumain' class="q-ma-sm"><img title="Facebook" alt="Facebook" src="~assets/social/facebook.svg"></a>
      <a href='https://www.instagram.com/talktoumain' class="q-ma-sm"><img title="Instagram" alt="Instagram" src="~assets/social/instagram.svg"></a>
      <a href='https://www.youtube.com/channel/UCb8NewT_nCYk2UUc4fkkQzQ' class="q-ma-sm"><img title="Youtube" alt="Youtube" src="~assets/social/youtube.svg"></a>
      <a href='https://twitter.com/talktoumain' class="q-ma-sm"><img title="Twitter" alt="Twitter" src="~assets/social/twitter.svg"></a>
      <a href='https://www.linkedin.com/company/talktoumain' class="q-ma-sm"><img title="Linkedin" alt="Linkedin" src="~assets/social/linkedin.svg"></a>
    </div>
    <div class="text-white q-py-md q-px-lg footer-copyright text-center">
      Umain &copy; 2021
    </div>
  </footer>
   </div>
</template>

<script>

export default {
  name: 'Footer'
}
</script>
