<template>
<div>
    <q-input
      outlined
      color="accent"
      v-model="text"
      class="q-mb-md"
      :label="$t('formContactInput1Label')"
      :hint="$t('formContactInput1Label')"
    >
    <template v-slot:prepend>
      <q-icon name="person"/>
    </template>
    </q-input>
    <q-input
      outlined
      color="accent"
      v-model="text"
      class="q-mb-md"
      :label="$t('formContactInput2Label')"
      :hint="$t('formContactInput2Label')"
     >
     <template v-slot:prepend><q-icon name="email"/></template>
    </q-input>
    <q-input
      outlined
      color="accent"
      v-model="text"
      class="q-mb-md"
      :label="$t('formContactInput3Label')"
      :hint="$t('formContactInput3Label')"
    >
      <template v-slot:prepend><q-icon name="phone"/></template>
    </q-input>
    <q-input
      outlined
      color="accent"
      v-model="text"
      class="q-mb-md"
      :label="$t('formContactInput4Label')"
      :hint="$t('formContactInput4Label')"
      autogrow
    >
      <template v-slot:prepend><q-icon name="message"/></template>
    </q-input>
    <div class="text-right">
      <q-btn color="accent" :label="$t('formContactButtonLabel')" icon-right="send" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormContact'
}
</script>
