<template>
  <q-select
    color="accent"
    v-model="location"
    :options="optionsLocale"
    outlined
    dense
    bg-color="white"
  >
    <template v-slot:prepend>
      <q-icon name="translate" />
    </template>
  </q-select>
</template>
<script>
export default {
  name: 'LangSelector',
  data () {
    return {
      optionsLocale: [
        {
          value: '',
          label: this.$t('headerLang')
        },
        {
          value: 'en-US',
          label: 'English'
        },
        {
          value: 'pt-BR',
          label: 'Português Brasil'
        }
      ]
    }
  },
  computed: {
    location: {
      get () {
        return JSON.parse(window.localStorage.location)
      },
      set (value) {
        window.localStorage.location = JSON.stringify(value)
        location.reload()
      }
    }
  },
  beforeMount () {
    if (window.localStorage.token) {
      this.userLogged = true
    }
    if (window.localStorage.location) {
      this.$i18n.locale = JSON.parse(window.localStorage.location).value
    } else {
      this.$i18n.locale = 'en-US'
      window.localStorage.location = JSON.stringify({
        value: 'en-US',
        label: 'English'
      })
    }
  }
}
</script>
