<template>
  <div>
    <router-link to='/' id='top'>
      <img :alt="$t('imgLogoAlt')" :title="$t('imgLogoTitle')" class="logo-site" src="~assets/logo/logo-completa.svg" />
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'Logo'
}
</script>
