<template>
    <form
    autocorrect="on"
    autocapitalize="on"
    autocomplete="on"
    spellcheck="true"
  >
    <q-editor
      v-model="description"
      :dense="$q.screen.lt.md"
      @input="updateInput"
      :toolbar="[
        [
          {
            label: $q.lang.editor.align,
            icon: $q.iconSet.editor.align,
            fixedLabel: true,
            options: ['left', 'center', 'right', 'justify'],
          },
        ],
        ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
        ['token', 'hr', 'link', 'custom_btn'],
        [
          {
            label: $q.lang.editor.formatting,
            icon: $q.iconSet.editor.formatting,
            list: 'no-icons',
            options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code'],
          },
          {
            label: $q.lang.editor.fontSize,
            icon: $q.iconSet.editor.fontSize,
            fixedLabel: true,
            fixedIcon: true,
            list: 'no-icons',
            options: [
              'size-1',
              'size-2',
              'size-3',
              'size-4',
              'size-5',
              'size-6',
              'size-7',
            ],
          },
          'removeFormat',
        ],
        ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
        ['undo', 'redo'],
        ['fullscreen'],
      ]"
    />
  </form>
</template>

<script>
// import { ref } from 'vue'

export default {
  name: 'RichTextComponent',
  props: {
    text: {
      type: String
    }
  },
  computed: {
    description: {
      get: function () {
        return this.text
      },
      set: function (newValue) {
        this.description = newValue
      }
    }
  },
  methods: {
    updateInput () {
      this.$emit('updateDescription', this.description)
    }
  },
  data () {
    return {
      // qeditor: ref(
      //   '<pre>Check out the two different types of dropdowns' +
      //   ' in each of the "Align" buttons.</pre> '
      // )
    }
  }
}
</script>
