.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}

.clearfix {
  zoom: 1;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.container {
  @extend .mx-auto;
  width: 100%;

}

@media screen and (max-width:calc($breakpoint-xs-min - 1px)) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width:$breakpoint-xs-min) and (max-width:$breakpoint-xs-max) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width:$breakpoint-sm-min) and (max-width:$breakpoint-sm-max) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width:$breakpoint-md-min) and (max-width:$breakpoint-md-max) {
  .container {
    width: 85%;
  }
}

@media screen and (min-width:$breakpoint-lg-min) and (max-width:$breakpoint-lg-max) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width:$breakpoint-xl-min) and (max-width:$breakpoint-xl-max) {
  .container {
    width: 75%;
  }
}
