// COLORS
$primary: #6b2c91;
$secondary : #ffe666;
$accent : #9C27B0;

$dark : #141414;
$positive : #198754;
$negative : #dc3545;
$info : #0dcaf0;
$warning : #ffc107;

// BREAKPOINT
$breakpoint-xs: 599px;
$breakpoint-sm: 1023px;
$breakpoint-md: 1439px;
$breakpoint-lg: 1919px;

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md:992px;
$breakpoint-lg:1200px;
$breakpoint-xl:1400px;
$container-fluid: 100%;