body {
  font-family: "Work Sans", sans-serif !important;
}

.q-page-container {
  padding-top: 25px !important;
}

main>.container {
  padding: 0 1rem;
}

iframe {
  max-width: 100%;
}


.page {
  &-container {
    padding-top: 100px;
  }

  &-cover {
    max-height: 500px !important;
  }

}

article {
  position: relative;
  align-items: flex-start;
}
