<template>
  <q-page class="login full-width row  justify-center items-center content-center">
    <div class="col-10 col-md-4 col-lg-3 login-container">
      <Logo  class="login-logo" />
      <q-card bordered class="q-pa-md shadow-1">
        <q-card-section>
          <strong class="full-width q-pa-md text-center h3">{{ $t('forgetPasswordEmailFieldsetLegend') }}</strong>
          <q-form class="q-gutter-md">
            <q-input required outlined round clearable v-model="login" type="email" :label="$t('forgetPasswordEmailFieldsetInput1')" />
          </q-form>
        </q-card-section>
        <q-card-actions class="q-ma-md">
          <q-btn @click="doLogin" class="login-button" :label="$t('forgetPasswordEmailFieldsetButonName')" />
        </q-card-actions>
        <q-card-section class="text-center q-pa-none">
          <p class="text-grey-6">{{ $t('accountFormFooterMessage1') }} <router-link to="/account/signup">{{ $t('accountFormFooterMessage2') }}</router-link><br><router-link to="/account/signin">{{ $t('accountFormFooterMessage3') }}</router-link>.</p>
        </q-card-section>
      </q-card>
      <q-btn to="/" class="q-mt-md full-width" icon="arrow_back" color="white" flat :label="$t('accountFormFooterButtonName')"></q-btn>
    </div>
  </q-page>
</template>

<script>
import Logo from '../../components/Logo.vue'
export default {
  name: 'Login',
  components: {
    Logo
  }
}
</script>
