<template>
  <q-page padding>
    <!-- content -->
  </q-page>
</template>

<script>
export default {
  name: 'Logout',
  data () {
    return {
    }
  },
  methods: {
    logout () {
      const url = process.env.API + 'logout'
      // const token = sessionStorage.token
      sessionStorage.clear()
      this.$axios.get(url)
        .then(response => {
          this.$axios.defaults.headers.common.authorization = ''
        })
        // .catch(error => {
        //   this.errored = true
        //   this.$q.notify(`Erro ${error.response.status}: ${error.response.data.message}`)
        // })
        .finally(() => {
          this.$q.notify({
            message: this.$t('logoutMessageConfirm'),
            type: 'positive'
          })
          this.$router.push('/account/signin')
          this.loading = false
        })
    }
  },
  beforeMount () {
    this.logout()
  }
}
</script>
