<template>
  <q-page class="login full-width row  justify-center items-center content-center">
    <div class="col-10 col-md-4 col-lg-3 login-container">
      <Logo  class="login-logo" />
      <q-card bordered class="q-pa-md shadow-1">
        <q-card-section>
          <strong class="full-width q-pa-md text-center h3">{{ $t('signUpFieldsetLegend') }}</strong>
          <q-form class="q-gutter-md" @keyup.enter="signup">
            <q-radio v-model="companyAccount" :val="false" :label="$t('signUpFieldsetCheckBoxLabel7')" />
            <q-radio v-model="companyAccount" :val="true" :label="$t('signUpFieldsetCheckBoxLabel5')" />
            <q-input required outlined round clearable v-model="name" type="text" :label="$t('signUpFieldsetInput1')" />
            <q-input required outlined round clearable v-model="login" type="email" :label="$t('signUpFieldsetInput2')" />
            <q-input v-model="pass" outlined :type="isPwd ? 'password' : 'text'" stack-label :label="$t('signUpFieldsetInput3')" :hint="$t('signUpFieldsetInputHing2')">
              <template v-slot:append>
                <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwd = !isPwd" />
              </template>
            </q-input>
            <q-input v-if="!companyAccount" v-model="birthDate" outlined stack-label type="date" :label="$t('signUpFieldsetInput4')" :title="$t('signUpFieldsetInput4')" />
            <!-- <q-checkbox v-model="showInfos" :label="$t('signUpFieldsetCheckBoxLabel1')" /> -->
            <div>
              <q-checkbox v-model="agree">{{ $t('signUpFieldsetCheckBoxLabel2') }}&nbsp;</q-checkbox>
              <a class="text-subtitle" href="https://umain.uk.net/#/terms" target="_blank">{{ $t('signUpFieldsetCheckBoxLabel3') }}</a>,&nbsp;
              <a class="text-subtitle" href="https://umain.uk.net/#/privacy" target="_blank">{{ $t('signUpFieldsetCheckBoxLabel6') }}</a>&nbsp;{{ $t('signUpFieldsetCheckBoxLabel4') }}.
            </div>
          </q-form>
        <q-card-actions class="q-ma-md">
          <q-btn @click="signup" class="login-button" :label="$t('signUpFieldsetButtonName')" :disable="!agree" />
        </q-card-actions>
        </q-card-section>
        </q-card>
      <q-btn to="/" class="q-mt-md full-width" icon="arrow_back" color="white" flat :label="$t('accountFormFooterButtonName')"></q-btn>
    </div>
  </q-page>
</template>

<script>
import Logo from '../../components/Logo.vue'

export default {
  name: 'Signin',
  components: {
    Logo
  },
  data () {
    return {
      name: '',
      login: '',
      pass: '',
      agree: false,
      showInfos: false,
      companyAccount: false,
      isPwd: true
    }
  },
  methods: {
    signup () {
      const url = process.env.API + 'users'
      const user = {
        login: this.login,
        pass: this.pass,
        name: this.name,
        birthDate: this.birthDate,
        showInfos: this.showInfos,
        companyAccount: this.companyAccount,
        genderId: 1,
        countryId: 1,
        ancestryId: 1
      }
      this.$axios.post(url, user).then(response => {
        this.$router.push('/account/signin')
      }).catch(error => {
        this.$q.notify(`Erro ${error.response.status}: ${error.response.data.message}`)
      })
    }
  }
}
</script>
