<template>
  <aside class="col-12 col-md">
    <q-img role="img" :alt="$t('candidateAsideImageAlt')" src="https://lorempixel.com/800/800/people/" spinner-color="white" img-class="rounded-borders" :ratio="1"/>
  </aside>
</template>

<script>
export default {
  name: 'AsideCandidate',
  setup () {
    return {}
  }
}
</script>
