<template>
  <q-card class="cards candidato-modal" style="min-width:350px">
      <q-img
        title="Soon"
        alt="Soon"
        role="img"
        :src="`${candidate.userPhoto[0] ? urlAPI+candidate.userPhoto[0].url : 'https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png'}`"
      />
      <q-card-section class="col text-h6 ellipsis">{{candidate.name}}</q-card-section>
      <q-card-section class="q-pt-none">
          <div class="modal-localizacao"><q-icon name="location_on" /> {{candidate.birthPlace}} &bull; {{candidate.country.name}}</div>
          <p class="modal-descricao q-mb-none">
            More information soon.
          </p>
      </q-card-section>
      <q-separator class="no-margin" />
      <q-card-actions class="full-width row wrap justify-between  content-start">
          <q-btn flat v-close-popup :label="$t('candidateModalButtonClose')"  />
          <q-btn flat color="accent" to="public-candidate" outline icon_right="arrow" :label="$t('candidateModalButtonReadMode')" />
      </q-card-actions>
  </q-card>
</template>

<script>
export default {
  name: 'CandidateModal',
  props: {
    candidate: Object
  },
  data () {
    return {
      urlAPI: `${process.env.API}images/`
    }
  }
}
</script>
