<template>
    <picture class="candidato-avatar full-width mx-auto no-padding">
      <q-avatar @click="displayCandidateModal = true" class=" full-width full-height">
        <q-img
        class
          role="img"
          :ratio="1"
          :alt="$t('candidateCardImageAlt')"
          :title="candidate.name"
          :src="`${candidate.userPhoto[0] ? urlAPI+candidate.userPhoto[0].url : 'https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png'}`"
        >
          <template v-slot:error>
            <div class="absolute-full flex flex-center bg-grey text-white">
              Cannot load {{ candidate.name }} image.
            </div>
          </template>
        </q-img>
      </q-avatar>
    </picture>
    <q-dialog v-model="displayCandidateModal"><CandidateModal :candidate="candidate" /></q-dialog>
</template>
<script>
import CandidateModal from './CandidateModal.vue'
export default {
  name: 'CandidateCard',
  props: {
    candidate: Object
  },
  components: {
    CandidateModal
  },
  data () {
    return {
      urlAPI: `${process.env.API}images/`,
      displayCandidateModal: false
    }
  }
}
</script>
