<template>
  <q-page class="jobs-page q-mt-xl q-pt-xl">
    <div class="container">
      <header class="section-header">
        <div class="full-width q-px-sm row wrap justify-between items-start content-start">
            <div>
              <h1 class="section-title">{{ $t('categoryPageTitle') }} <strong>Nome da Categoria</strong></h1>
              <p>{{ $t('categoryPageDescription') }}</p>
            </div>
            <q-btn to="/jobs" color="primary" flat  icon-right="arrow_right_alt" :label="$t('categoryPageButtonLabel')" />
          </div>
      </header>
      <div class="jobs-list q-pb-xl post-list full-width row wrap justify-start items-center content-center">
        <div v-for="job in jobs" :key="job.id" class="jobs-list-item col-12 col-md-6"><JobCard :jobData="job" /></div>
      </div>
    </div>
  </q-page>
</template>

<script>
import JobCard from '../../components/jobs/JobCard.vue'
export default {
  name: 'Jobs',
  components: {
    JobCard
  },
  data () {
    return {
      jobs: [
        {
          id: 1,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 2,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 3,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 4,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 5,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 6,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 7,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 8,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 9,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 10,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 11,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 12,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        }
      ]
    }
  }
}
</script>
