<template>
  <q-page class="job-page q-pb-xl post-article">
    <q-img role="img" class="page-cover" alt="Soon" title="Soon" src="https://picsum.photos/1250/400.jpg" :fit="cover" :ratio="16/9" />
    <div class="container">
      <div class="full-width row wrap justify-center">
      <q-item v-ripple class="job-banner no-pointer-events">
        <q-item-section side>
        <q-avatar size="140px">
          <q-img role="img" src="https://picsum.photos/150/150.jpg" alt="Soon" loading="lazy" spinner-color="white" style="height: 140px" :ratio="1" />
        </q-avatar>
        </q-item-section>
        <q-item-section>
          <q-item-label class="q-pt-md" caption>company name</q-item-label>
          <q-item-label role="h1" class="text-bold text-h4">job title</q-item-label>
        </q-item-section>
      </q-item>
      </div>
      <div class="container q-mt-xl">
        <BreadCrumbs class="q-mb-md" :items="itemsBreadCrumbs" />
        <div class="post-article row q-col-gutter-md">
          <JobAside />
          <div class=" q-mb-xl col-12 col-md-8">
            <article class="job-content">
              <!-- <h1>Especializada em soluções personalizadas de crédito!</h1>
              <p>Em 10 anos aprendemos a atender clientes que necessitam de soluções de crédito com agilidade, inovação e um atendimento diferenciado. Desenhamos operações customizadas junto a nossos clientes, de forma a oferecer crédito rápido e com taxas competitivas.</p>
              <p>Nossas principais operações para pessoa jurídica são Antecipação de Recebíveis e Empréstimos com Garantias Reais. Para pessoas físicas oferecemos soluções de Consignado Privado, com plataforma 100% on-line e integrada, e Empréstimos com Garantia em Imóveis e Veículos.</p>
              <p>A Livre opera através de um Fundo de Direito Creditórios – FIDC regulamentado pela CVM (comissão de valores mobiliários), gerido por executivos com extenso background no mercado financeiro e em consultorias de estratégia.</p>
              <p>Nossos profissionais possuem expertise superior em estruturação de operações de crédito para pequenas, médias e grandes empresas. Nossos sócios são profissionais com décadas de experiência em bancos e indústria Fortune 50.</p>
              <p>Com Matriz em São Paulo e Filial em Salvador, a Livre atende clientes em todas as regiões do Brasil.</p>
              <p>Em uma de suas vertentes, Condo Livre, o foco está no financiamento de projetos de condomínios com máxima agilidade e simplificação.</p>
              <ul><li>10 anos de mercado</li>
              <li>Mais de R$1 bilhão em crédito concedido</li>
              <li>Mais de 700 clientes</li>
              <li>Alcance de 20 estados</li>
              <li>Soluções com gerenciamento online</li></ul>
              <iframe width="509" height="286" src="https://www.youtube.com/embed/pjnQAIulQ34" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h2>Você será responsável por:</h2>
              <p><strong>ATIVIDADES PRINCIPAIS</strong></p>
              <ol><li>Executar e evoluir os processos de recrutamento e seleção dos programas:</li>
              <li>Ser a liderança dos programas para co-construção;</li>
              <li>Realizar análises constantes de régua técnica em conjunto com a equipe técnica para garantir contratações de qualidade alinhadas com as demandas das áreas;</li>
              <li>Realizar benchs com o mercado para estarmos em alinhamento com as melhores práticas;</li>
              <li>Prezar por uma experiência incrível das pessoas candidatas;</li>
              <li>Contribuir para o desenvolvimento de carreira do time.</li></ol>
              <h2>Para este desafio, é necessário:</h2>
              <p><strong>REQUISITOS</strong></p>
              <ol><li>Executar e evoluir os processos de recrutamento e seleção dos programas:</li>
              <li>Ser a liderança dos programas para co-construção;</li>
              <li>Realizar análises constantes de régua técnica em conjunto com a equipe técnica para garantir contratações de qualidade alinhadas com as demandas das áreas;</li>
              <li>Realizar benchs com o mercado para estarmos em alinhamento com as melhores práticas;</li>
              <li>Prezar por uma experiência incrível das pessoas candidatas;</li>
              <li>Contribuir para o desenvolvimento de carreira do time.</li></ol>
              <h2>E serão considerados diferenciais:</h2>
              <p><strong>DIFERENCIAIS</strong></p>
              <ol><li>Executar e evoluir os processos de recrutamento e seleção dos programas:</li>
              <li>Ser a liderança dos programas para co-construção;</li>
              <li>Realizar análises constantes de régua técnica em conjunto com a equipe técnica para garantir contratações de qualidade alinhadas com as demandas das áreas;</li>
              <li>Realizar benchs com o mercado para estarmos em alinhamento com as melhores práticas;</li>
              <li>Prezar por uma experiência incrível das pessoas candidatas;</li>
              <li>Contribuir para o desenvolvimento de carreira do time.</li></ol> -->
            </article>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import JobAside from '../../components/jobs/JobAside.vue'
import BreadCrumbs from '../../components/BreadCrumbs.vue'
export default {
  name: 'Job',
  components: {
    JobAside,
    BreadCrumbs
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: '/company',
          label: 'company name'
        },
        {
          link: null,
          label: 'job title'
        }
      ]
    }
  }
}
</script>
