<template>
  <q-page class="jobs-page q-mt-xl q-pt-xl">
    <div class="container">
      <BreadCrumbs :items="itemsBreadCrumbs" />
      <header class="section-header q-px-sm">
          <div class="full-width row wrap justify-between items-start content-start">
            <div>
              <h1 class="section-title">{{ $t('jobsPageTitle1') }} <strong>{{ $t('jobsPageTitle2') }}</strong></h1>
              <p>{{ $t('jobsPageDescription') }}</p>
            </div>
            <q-btn v-if="userLogged" to="/new-job" color="primary" flat  icon-right="add" :label="$t('jobsPageButtonLabel')" />
          </div>
      </header>
      <!-- <div class="q-px-sm q-mb-lg"><SearchForm /></div> -->
      <div class="jobs-list q-pb-xl post-list full-width row wrap items-stretch content-center q-col-gutter-sm">
        <div v-for="job in jobs" :key="job.id" class="col-12 col-md-6 col-lg-4"><JobCard :jobData="job" /></div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref } from 'vue'
import BreadCrumbs from '../../components/BreadCrumbs.vue'
// import SearchForm from 'components/sections/SearchForm.vue'
import JobCard from '../../components/jobs/JobCard.vue'
export default {
  name: 'Jobs',
  components: {
    // SearchForm,
    JobCard,
    BreadCrumbs
  },
  setup () {
    return {
      single: ref(null),
      multiple: ref(null),

      options: [
        'Google', 'Facebook', 'Twitter', 'Apple', 'Oracle', 'Nubank', 'Banco do Brasil'
      ]
    }
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Jobs'
        }
      ],
      userLogged: false,
      jobs: []
    }
  },
  methods: {
    listJobs () {
      const url = process.env.API + 'jobs?includes=jobCategory,companyDepartments'
      this.$axios.get(url).then(response => {
        this.jobs = (response.data)
      })
    }
  },
  beforeMount () {
    this.listJobs()
    if (window.sessionStorage.token) {
      this.userLogged = true
    }
  }
}
</script>
