<template>
  <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-mt-lg" :items="itemsBreadCrumbs" />
    <div class="q-mx-md q-pa-md page-container-bg rounded-borders row">
      <header class="section-header full-width q-px-sm row wrap justify-between items-start content-start">
        <div>
          <h1 class="section-title">{{ $t('myJobsPageTitle1') }} <strong>{{ $t('myJobsPageTitle2') }}</strong></h1>
          <p></p>
        </div>
        <q-btn to="/new-job" color="primary" flat  icon-right="add" :label="$t('myJobsPageButtonLabel')" />
      </header>
      <div class="q-pb-xl post-list full-width row q-col-gutter-md wrap justify-around items-center content-center">
        <div v-for="job in jobs" :key="job.id" class="col-12 col-md-6 col-lg-4"><JobCard :jobData="job" /></div>
      </div>
    </div>
 </q-page>
</template>

<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue'
import JobCard from '../../components/jobs/JobCard.vue'
export default {
  name: 'My Jobs',
  components: {
    JobCard,
    BreadCrumbs
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: '/jobs',
          label: 'Jobs'
        },
        {
          link: null,
          label: 'My Jobs'
        }
      ],
      jobs: [
        {
          id: 1,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 2,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 3,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 4,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 5,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 6,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 7,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 8,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 9,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 10,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 11,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        },
        {
          id: 12,
          title: 'job title',
          description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ducimus velit! Qui molestias adipisci dolorum quo cum? Quasi, magni. Voluptatum aperiam est porro corporis aspernatur quis id dolorem suscipit distinctio nam atque non illo, voluptates aut. Laboriosam, a. Alias sequi et illo error, corporis odio. Expedita, sapiente eaque? Culpa, minima.',
          category: 'job title',
          area: 'company area',
          vacancies: 30
        }
      ]
    }
  }
}
</script>
