<template>
 <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
      <div class="q-mx-md q-pa-md page-container-bg rounded-borders row">
        <header class="section-header full-width q-px-lg row wrap justify-between items-start content-start">
          <div>
            <h1 class="section-title">{{ $t('newJobPageTitle1') }} <strong>{{ $t('newJobPageTitle2') }}</strong></h1>
            <p>{{ $t('newJobPageDescription') }}</p>
          </div>
            <q-btn
              icon="save"
              flat
              color="accent"
              :label="$t('newJobPageButtonLabel')"
            />
        </header>
        <div class="full-width row q-col-gutter-lg">
          <div class="col-12 col-md-3">
            <q-list bordered separator class="rounded-borders bg-white">
              <q-item v-ripple><q-item-section>{{ $t('newJobsPageNavigationItem1') }}</q-item-section></q-item>
              <q-item v-ripple><q-item-section>{{ $t('newJobsPageNavigationItem2') }}</q-item-section></q-item>
              <q-item v-ripple><q-item-section>{{ $t('newJobsPageNavigationItem3') }}</q-item-section></q-item>
              <q-item v-ripple><q-item-section>{{ $t('newJobsPageNavigationItem4') }}</q-item-section></q-item>
            </q-list>
          </div>
          <div class="col-12 col-md-9">
            <div class="rounded-borders q-pa-md bg-white">
              <!-- IDENTIFICAÇÃO -->
              <fieldset>
                <legend>{{ $t('newJobsPageNavigationItem1') }}</legend>
                <div class="q-col-gutter-md row">
                  <q-input color="accent" class="col-12" outlined v-model="text" :label="$t('newJobsPageLabel1')" :hint="$t('newJobsPageHint3')"/>
                  <q-select color="accent" class="col-12 col-md-6" outlined v-model="model" :options="options" :label="$t('newJobsPageLabel2')"/>
                  <q-input color="accent" class="col-12 col-md-6" outlined v-model="text"  :label="$t('newJobsPageLabel3')"/>
                  <q-input color="accent" class="col-12 col-md" outlined v-model.number="model" type="number"  :label="$t('newJobsPageLabel3')"/>
                  <q-select color="accent" class="col-12 col-md-6" outlined min="1" v-model="model" :options="salario" :label="$t('newJobsPageLabel3')"/>
                </div>
              </fieldset>
              <!-- PRÉ-REQUISITO -->
              <fieldset>
                <legend>{{ $t('newJobsPageNavigationItem2') }}</legend>
                <div class="q-col-gutter-md row">
                  <RichText />
                </div>
              </fieldset>
              <!-- DESCRIÇÃO -->
              <fieldset>
                <legend>{{ $t('newJobsPageNavigationItem3') }}</legend>
                <div class="q-col-gutter-md row">
                  <RichText />
                </div>
              </fieldset>
              <!-- BENEFÍCIOS -->
              <fieldset>
                <legend>{{ $t('newJobsPageNavigationItem4') }}</legend>
                <div class="q-col-gutter-md row">
                  <RichText />
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
  </q-page>
</template>

<script>
import RichText from '../../components/RichText.vue'
import BreadCrumbs from '../../components/BreadCrumbs.vue'
export default {
  name: 'New Job',
  components: {
    BreadCrumbs,
    RichText
  },
  setup () {
    return {
      text: '',
      model: '',
      options: ['Area 1', 'Area 2', 'Area 3', 'Area 4', 'Area 5'],
      salario: ['a combinar', 'até 3 salários mínimos', 'de 3 à 5  salários mínimos', 'de 5 à 10  salários mínimos', 'voluntário/sem remuneração']
    }
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: '/jobs',
          label: 'Jobs'
        },
        {
          link: '/my-jobs',
          label: 'My jobs'
        },
        {
          link: null,
          label: 'New job'
        }
      ]
    }
  }
}
</script>
