<template>
  <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
    <div class="q-mx-md rounded-borders page-container-bg q-pa-md">
      <header class="section-header full-width q-px-lg row wrap justify-between items-start content-start">
        <div>
          <h1 class="section-title">{{ $t('newJobPageTitle1') }} <strong>{{ $t('newJobPageTitle2') }}</strong></h1>
        </div>
          <q-btn
            icon="save"
            flat
            color="accent"
            :label="$t('newCompanyPageButton')"
            @click="addJob"
          />
      </header>
      <div class="row q-col-gutter-lg">
        <div class="col-12">
          <div class="rounded-borders q-pa-md bg-white">
            <!-- IDENTIFICAÇÃO -->
            <fieldset>
              <legend>Department / category</legend>
              <q-select
                color="accent"
                class="col-12 col-md-6"
                outlined
                v-model="department"
                :options="departmentOptions"
                option-label="department"
                option-value="id"
                label="Department"
                :rules="[val => !!val || 'Required field']"
              />
              <q-select
                color="accent"
                class="col-12 col-md-6 q-mt-md"
                outlined
                v-model="jobCategory"
                :options="jobCategoryOptions"
                option-label="title"
                option-value="id"
                label="Job Category"
                :rules="[val => !!val || 'Required field']"
              />
            </fieldset>
              <!-- PRÉ-REQUISITO -->
            <fieldset class="row q-col-gutter-md">
              <legend>About the job</legend>
              <q-input
                outlined
                class="col-12 col-sm-8"
                label="Title"
                v-model="job.title"
                :rules="[val => !!val || 'Required field']"
              />
              <q-input
                outlined
                type="number"
                class="col-12 col-sm-4"
                label="Vacancies"
                v-model="job.vacancies"
                :rules="[val => !!val || 'Required field']"
              />
              <div class="col-12 row">
                <q-editor
                  class="col-12"
                  name="Job_description"
                  label="Job description"
                  v-model="job.description"
                  :toolbar="toolbarOptions"
                  :rules="[val => !!val || 'Required field']"
                />
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import BreadCrumbs from '../../components/BreadCrumbs.vue'
export default {
  name: 'AddJob',
  components: {
    BreadCrumbs
    // RichText
  },
  computed: {
    companyData () {
      return this.$store.state.company.companyData
    }
  },
  data () {
    return {
      departmentOptions: [],
      department: null,
      jobCategoryOptions: [],
      jobCategory: null,
      company: {
        about: '',
        numberEmployees: '',
        socialResponsability: '',
        diversityCommittee: '',
        environmentalResponsibility: '',
        phisicalAndCommunicationalAccessibility: '',
        jobProgression: '',
        flexWorkTime: '',
        flexWorkPlace: '',
        anotherProgramsOrActions: '',
        companyPhoto: []
      },
      job: {
        title: '',
        description: '',
        vacancies: 0
      },
      itemsBreadCrumbs: [
        {
          link: '/company',
          label: 'Company'
        },
        {
          link: null,
          label: 'New vacancy'
        }
      ],
      toolbarOptions: [
        [
          {
            label: this.$q.lang.editor.align,
            icon: this.$q.iconSet.editor.align,
            fixedLabel: true,
            options: ['left', 'center', 'right', 'justify']
          }
        ],
        ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
        ['token', 'hr', 'link', 'custom_btn'],
        [
          {
            label: this.$q.lang.editor.formatting,
            icon: this.$q.iconSet.editor.formatting,
            list: 'no-icons',
            options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code']
          },
          {
            label: this.$q.lang.editor.fontSize,
            icon: this.$q.iconSet.editor.fontSize,
            fixedLabel: true,
            fixedIcon: true,
            list: 'no-icons',
            options: [
              'size-1',
              'size-2',
              'size-3',
              'size-4',
              'size-5',
              'size-6',
              'size-7'
            ]
          },
          'removeFormat'
        ],
        ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
        ['undo', 'redo'],
        ['fullscreen']
      ]
    }
  },
  methods: {
    listDepartmentsByCompanyId () {
      const url = process.env.API + 'company-departments?companyId=' + this.company.id
      this.$axios.get(url).then(response => {
        this.departmentOptions = response.data
      })
    },
    listJobCategories () {
      const url = process.env.API + 'job-categories'
      this.$axios.get(url).then(response => {
        this.jobCategoryOptions = response.data
      })
    },
    addJob () {
      const url = process.env.API + 'jobs/' + this.$route.params.id
      const newJob = { ...this.job }
      newJob.companyDepartmentsId = this.department.id
      newJob.jobCategoryId = this.jobCategory.id
      this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
      this.$axios.put(url, newJob).then(response => {
        this.$q.notify('Job successfully created')
        const uri = '/company'
        this.$router.push(uri)
      }).catch(error => {
        console.log(error)
      })
    },
    getJobById (id) {
      const url = process.env.API + 'jobs/' + id + '?includes=companyDepartments,jobCategory'
      this.$axios.defaults.headers.common.authorization = window.sessionStorage.token
      this.$axios.get(url).then(response => {
        this.job = response.data
        this.jobCategory = response.data.jobCategory
        this.department = response.data.companyDepartments
        this.audioDescription = response.data.postPhoto[0] ? response.data.postPhoto[0].description : ''
        if (response.data.postPhoto[0]) {
          this.image.url = this.urlAPI + response.data.postPhoto[0].url
        }
      }).catch(error => {
        console.log(error)
      })
    }
  },
  created () {
    this.listJobCategories()
    this.getJobById(this.$route.params.id)
  },
  beforeMount () {
    this.company = { ...this.$store.state.company.companyData }
    this.listDepartmentsByCompanyId()
  }
}
</script>
