<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="shadow-3">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
          :title="$t('toggleMenu')"
        />
        <q-toolbar-title>
        <Logo />
        </q-toolbar-title>
        <!-- <q-btn to="/account/signup" align="around" class="desktop-only btn-resume btn-fixed-width" label="Create an account" icon="work" /> -->
        <LangSelection class="desktop-only"/>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      class="bg-grey-1"
    >
      <nav class="menu-main">
        <LangSelection class="q-ma-md mobile-only"/>
        <NavUser v-if="userLogged" />
        <q-list label="MENU SITE" v-if="!userLogged">
          <q-item-label header class="menu-section" >
            <span class="text-uppercase">{{ $t('navMenuTitle1') }}</span>
          </q-item-label>
          <NavSite v-for="link in NavSites" :key="link.title" v-bind="link" /></q-list>
        <footer class='menu-footer'>
          <router-link to='/' class='app-version'>Umain</router-link>
          <!-- <router-link to='/about'>{{ $t('navItemMenu2Title') }}</router-link>
          <router-link to='/contact'>{{ $t('navItemMenu6Title') }}</router-link> -->
          <router-link to='/privacy'>{{ $t('footerLinkNameName1') }}</router-link>
          <router-link to='/terms'>{{ $t('footerLinkNameName2') }}</router-link>
        </footer>
      </nav>
    </q-drawer>

    <q-page-container>
      <router-view />
      <Footer />
    </q-page-container>
  </q-layout>
</template>

<script>
const linksList = [
  {
    title: 'navItemMenu1Title',
    caption: 'navItemMenu1Description',
    icon: 'home',
    link: '/',
    accesskey: 'H'
  },
  {
    title: 'navItemMenu3Title',
    // caption: 'navItemMenu3Description',
    icon: 'work',
    link: '/jobs',
    accesskey: 'J'
  },
  {
    title: 'navItemMenu4Title',
    // caption: 'navItemMenu4Description',
    icon: 'business',
    link: '/companies',
    accesskey: 't'
  },
  {
    title: 'navItemMenu17Title',
    // caption: 'navItemMenu17Description',
    icon: 'engineering',
    link: '/candidates',
    accesskey: 'e'
  },
  {
    title: 'navItemMenu5Title',
    // caption: 'navItemMenu5Description',
    icon: 'feed',
    link: '/blog',
    accesskey: 'B'
  },
  {
    title: 'navItemMenu2Title',
    // caption: 'navItemMenu2Description',
    icon: 'info',
    link: '/about',
    accesskey: 'A'
  },
  {
    title: 'navItemMenu6Title',
    // caption: 'navItemMenu6Description',
    icon: 'question_answer',
    link: '/contact',
    accesskey: 'C'
  },
  {
    title: 'navItemMenu7Title',
    caption: 'navItemMenu7Description',
    icon: 'face',
    link: '/account/signin',
    accesskey: 'L',
    show: true
  },
  {
    title: 'navItemMenu8Title',
    caption: 'navItemMenu8Description',
    icon: 'person_add',
    link: '/account/signup',
    accesskey: 'r'
  }
]
import { defineComponent, ref } from 'vue'
import NavSite from '../components/nav/NavSite.vue'
import NavUser from '../components/nav/NavUser.vue'
import Footer from '../components/Footer.vue'
import Logo from '../components/Logo.vue'
import LangSelection from '../components/LangSelection.vue'
export default defineComponent({
  name: 'MainLayout',
  components: {
    NavSite,
    NavUser,
    Footer,
    Logo,
    LangSelection
  },
  setup () {
    const leftDrawerOpen = ref(false)
    return {
      userLogged: false,
      NavSites: linksList,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  },
  beforeMount () {
    if (window.localStorage.location) {
      this.$i18n.locale = JSON.parse(window.localStorage.location).value
    } else {
      this.$i18n.locale = 'en-US'
      window.localStorage.location = JSON.stringify({
        value: 'en-US',
        label: 'English'
      })
    }
    if (window.sessionStorage.token) {
      this.userLogged = true
      this.$store.dispatch('user/getUser', window.sessionStorage.userId)
    }
  }
})
</script>
