<template>
  <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
    <div class="q-mx-md q-pa-md page-container-bg rounded-borders row">
      <header
        class="
          section-header
          full-width
          q-col-gutter-md
          row
          wrap
          justify-between
          items-start
          content-start
        "
      >
        <div>
          <h1 class="section-title">{{ $t("managerUsersPageTitle") }}</h1>
          <p></p>
        </div>
      </header>
      <div
        class="
          q-pb-xl q-col-gutter-md
          full-width
          row
          wrap
          justify-around
          items-center
          content-center
        "
      >
        <UsersTable />
      </div>
    </div>
  </q-page>
</template>
<script>
import UsersTable from '../../components/admin/UsersTable.vue'
import BreadCrumbs from '../../components/BreadCrumbs.vue'
export default {
  name: 'ManageAccounts',
  components: {
    BreadCrumbs,
    UsersTable
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Site administration'
        },
        {
          link: null,
          label: 'Manage accounts'
        }
      ]
    }
  }
}
</script>
