<template>
 <q-page class="page-container page-home-user">
    <BreadCrumbs class="q-ma-md" :items="itemsBreadCrumbs" />
      <div class="q-mx-md q-pa-md page-container-bg rounded-borders row">
        <header class="section-header full-width q-col-gutter-md row wrap justify-between items-start content-start">
          <div>
            <h1 class="section-title">{{ $t('reportPageTitle') }}</h1>
            <p></p>
          </div>
          <q-input outlined bg-color="white" v-model="date" mask="date" :rules="['date']">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="date">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
          <!-- <q-btn to="/new-company" color="primary" flat  icon-right="add" label="Create company profile" /> -->
        </header>
        <div class="q-col-gutter-md row justify-around content-center items-stretch full-width">
          <div class="col-12 col-md">
            <div class="card bg-white rounded-borders">
              <div class="text-uppercase">{{ $t('reportCardTitle1') }}</div>
              <strong class="ellipsis block q-pt-lg text-right text-h2" title="18.254.22">18.254.22</strong>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="card bg-white rounded-borders">
              <div class="text-uppercase">{{ $t('reportCardTitle2') }}</div>
              <strong class="ellipsis block q-pt-lg text-right text-h2" title="548.599.784.325.18">548.599.784.325.18</strong>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="card bg-white rounded-borders">
              <div class="text-uppercase">{{ $t('reportCardTitle3') }}</div>
              <strong class="ellipsis block q-pt-lg text-right text-h2" title="18.254.22">18.254.22</strong>
            </div>
          </div>
          <div class="col-12 q-pa-none"></div>
          <div class="col-12 col-md">
            <div class="card bg-white rounded-borders">
              <div class="full-width row wrap justify-between items-center content-start">
                <div class="text-uppercase">{{ $t('reportCardTitle4') }}</div>
                <q-btn-dropdown fab-mini rounded flat color="accent" no-icon-animation dropdown-icon="more_vert" :title="$t('reportCardButton')">
                  <q-list>
                    <q-item clickable v-close-popup @click="onItemClick">
                      <q-item-section>
                      <q-item-label>CSV</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item clickable v-close-popup @click="onItemClick">
                    <q-item-section>
                    <q-item-label>Excel</q-item-label>
                    </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </div>
              <q-img  :ratio="4/3" class="q-mt-lg" src="~assets/img/empresa-vagas-candidatos.png" />
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="card bg-white rounded-borders">
              <div class="full-width row wrap justify-between items-center content-start">
                <div class="text-uppercase">{{ $t('reportCardTitle5') }}</div>
                <q-btn-dropdown fab-mini rounded flat color="accent" no-icon-animation dropdown-icon="more_vert" :title="$t('reportCardButton')">
                  <q-list>
                    <q-item clickable v-close-popup @click="onItemClick">
                      <q-item-section>
                      <q-item-label>CSV</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item clickable v-close-popup @click="onItemClick">
                    <q-item-section>
                    <q-item-label>Excel</q-item-label>
                    </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </div>
              <q-img :ratio="4/3" class="q-mt-lg" src="~assets/img/empresa-tipo.png" />
            </div>
          </div>
          <div class="col-12 q-pa-none"></div>
          <div class="col-12 col-md">
            <div class="card bg-white rounded-borders">
              <div class="full-width row wrap justify-between items-center content-start">
                <div class="text-uppercase">{{ $t('reportCardTitle6') }}</div>
                <q-btn-dropdown fab-mini rounded flat color="accent" no-icon-animation dropdown-icon="more_vert" :title="$t('reportCardButton')">
                  <q-list>
                    <q-item clickable v-close-popup @click="onItemClick">
                      <q-item-section>
                      <q-item-label>CSV</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item clickable v-close-popup @click="onItemClick">
                    <q-item-section>
                    <q-item-label>Excel</q-item-label>
                    </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </div>
              <q-img class="q-mt-lg" src="~assets/img/sexualidade.png" />
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="card bg-white rounded-borders">
              <div class="full-width row wrap justify-between items-center content-start">
                <div class="text-uppercase">{{ $t('reportCardTitle7') }}</div>
                <q-btn-dropdown fab-mini rounded flat color="accent" no-icon-animation dropdown-icon="more_vert" :title="$t('reportCardButton')">
                  <q-list>
                    <q-item clickable v-close-popup @click="onItemClick">
                      <q-item-section>
                      <q-item-label>CSV</q-item-label>
                      </q-item-section>
                    </q-item>

                    <q-item clickable v-close-popup @click="onItemClick">
                    <q-item-section>
                    <q-item-label>Excel</q-item-label>
                    </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </div>
              <q-img class="q-mt-lg" src="~assets/img/sexualidade.png" />
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="card bg-white rounded-borders">
              <div class="full-width row wrap justify-between items-center content-start">
                <div class="text-uppercase">{{ $t('reportCardTitle8') }}</div>
                <q-btn-dropdown fab-mini rounded flat color="accent" no-icon-animation dropdown-icon="more_vert" :title="$t('reportCardButton')">
                  <q-list>
                    <q-item clickable v-close-popup @click="onItemClick">
                      <q-item-section>
                      <q-item-label>CSV</q-item-label>
                      </q-item-section>
                    </q-item>

                    <q-item clickable v-close-popup @click="onItemClick">
                    <q-item-section>
                    <q-item-label>Excel</q-item-label>
                    </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </div>
              <q-img class="q-mt-lg" src="~assets/img/sexualidade.png" />
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="card bg-white rounded-borders">
              <div class="full-width row wrap justify-between items-center content-start">
                <div class="text-uppercase">{{ $t('reportCardTitle9') }}</div>
                <q-btn-dropdown fab-mini rounded flat color="accent" no-icon-animation dropdown-icon="more_vert" :title="$t('reportCardButton')">
                  <q-list>
                    <q-item clickable v-close-popup @click="onItemClick">
                      <q-item-section>
                      <q-item-label>CSV</q-item-label>
                      </q-item-section>
                    </q-item>

                    <q-item clickable v-close-popup @click="onItemClick">
                    <q-item-section>
                    <q-item-label>Excel</q-item-label>
                    </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </div>
              <q-img class="q-mt-lg" src="~assets/img/sexualidade.png" />
            </div>
          </div>
        </div>
      </div>
 </q-page>
</template>
<script>
import { ref } from 'vue'
import BreadCrumbs from '../../components/BreadCrumbs.vue'
export default {
  name: 'MyCompanies',
  components: {
    BreadCrumbs
  },
  data () {
    return {
      itemsBreadCrumbs: [
        {
          link: null,
          label: 'Site administration'
        },
        {
          link: null,
          label: 'Report'
        }
      ]
    }
  },
  setup () {
    return {
      date: ref('2019/02/01')
    }
  }
}
</script>
