<template>
    <q-expansion-item :label="$t('navMenuTitle3')">
      <q-list>
        <q-item to="/report" clickable v-ripple>
            <q-item-section avatar><q-icon name="insights" /></q-item-section>
            <q-item-section>{{ $t('navAdminItemMenu1Title') }}</q-item-section>
        </q-item>
        <q-item to="/manage-accounts" clickable v-ripple>
            <q-item-section avatar><q-icon name="manage_accounts" /></q-item-section>
            <q-item-section>{{ $t('navAdminItemMenu2Title') }}</q-item-section>
        </q-item>
        <q-item to="/site-settings" clickable v-ripple>
            <q-item-section avatar><q-icon name="settings" /></q-item-section>
            <q-item-section>{{ $t('navAdminItemMenu3Title') }}</q-item-section>
        </q-item>
      </q-list>
    </q-expansion-item>
</template>
<script>
export default {
  name: 'NavAdmin'
}
</script>
