<template>
  <q-item clickable :to="link" :v-show="show">
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" />
    </q-item-section>
    <q-item-section>
      <q-item-label class="typo-base">{{ $t(title) }}</q-item-label>
      <q-item-label caption>{{ $t(caption) }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'NavSite',
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    link: {
      type: String,
      default: '#'
    },

    icon: {
      type: String,
      default: ''
    },

    show: {
      type: Boolean,
      default: true
    }
  }
})
</script>
