<template>
    <div class="home-avatar-container">
        <q-img role="img" alt=" Soon" src="https://lorempixel.com/800/800/people/" spinner-color="white" :ratio="16/9"></q-img>
        <div class="full-width home-avatar-name text-center q-py-md ellipsis" role="h1">{{ $t('navMenuWelcome') }} 😉 <br>{{ user.name }}</div>
          <q-list label="USER MENU">
            <q-separator class="q-my-md" inset />
            <q-item-label header class="menu-section" >
              <span class="text-uppercase">{{ $t('navMenuTitle2') }}</span>
            </q-item-label>
            <q-list>
              <q-item to="dashboard" clickable v-ripple>
                  <q-item-section avatar>
                  <q-icon name="dashboard" />
                  </q-item-section>
                  <q-item-section>{{ $t('navItemMenu9Title') }}</q-item-section>
              </q-item>
              <q-item v-if="!user.companyAccount" to="/profile" clickable v-ripple>
                  <q-item-section avatar>
                  <q-icon name="account_circle" />
                  </q-item-section>
                  <q-item-section>{{ $t('navItemMenu10Title') }}</q-item-section>
              </q-item>
              <q-item v-else to="/company" clickable v-ripple>
                  <q-item-section avatar>
                  <q-icon name="account_circle" />
                  </q-item-section>
                  <q-item-section>{{ $t('navItemMenu10Title') }}</q-item-section>
              </q-item>
              <q-item v-if="!user.companyAccount" to="/resume" clickable v-ripple>
                  <q-item-section avatar>
                  <q-icon name="work" />
                  </q-item-section>
                  <q-item-section>{{ $t('navItemMenu11Title') }}</q-item-section>
              </q-item>
              <q-item to="/my-blog" clickable v-ripple>
                  <q-item-section avatar>
                  <q-icon name="post_add" />
                  </q-item-section>
                  <q-item-section>{{ $t('navItemMenu12Title') }}</q-item-section>
              </q-item>
              <q-item v-if="!user.companyAccount" clickable v-ripple to="/my-jobs">
                  <q-item-section avatar>
                  <q-icon name="badge" />
                  </q-item-section>
                  <q-item-section>{{ $t('navItemMenu14Title') }}</q-item-section>
              </q-item>
              <q-item clickable v-ripple to="/settings">
                  <q-item-section avatar>
                  <q-icon name="settings" />
                  </q-item-section>
                  <q-item-section>{{ $t('navItemMenu15Title') }}</q-item-section>
              </q-item>
              <q-item clickable v-ripple to="/contact">
                  <q-item-section avatar>
                  <q-icon name="question_answer" />
                  </q-item-section>
                  <q-item-section>{{ $t('navItemMenu6Title') }}</q-item-section>
              </q-item>
              <q-item clickable v-ripple to="about">
                  <q-item-section avatar>
                  <q-icon name="info" />
                  </q-item-section>
                  <q-item-section>{{ $t('navItemMenu2Title') }}</q-item-section>
              </q-item>
              <q-item clickable class="text-red" v-ripple to="/account/logout">
                  <q-item-section avatar>
                  <q-icon name="logout" />
                  </q-item-section>
                  <q-item-section>{{ $t('navItemMenu16Title') }}</q-item-section>
              </q-item>
            </q-list>
          </q-list>
          <!-- <NavAdmin /> -->
    </div>
</template>

<script>
// import NavAdmin from './NavAdmin.vue'
export default {
  name: 'NavUser',
  components: {
    // NavAdmin
  },
  data () {
    return {
      user: {}
    }
  },
  computed: {
    userStore () {
      return this.$store.state.user.userData
    }
  },
  methods: {
    getUser () {
      const url = process.env.API + 'users/' + window.sessionStorage.userId
      this.$axios.get(url).then(response => {
        this.user = response.data
      })
    }
  },
  beforeMount () {
    this.getUser()
  }
}
</script>
